:root {
    --ref-text: #000;
    --ref-text-dark: #DFDFD5;
    --ref-bg: #F7F6F3;
    --ref-bg-dark: #282C30;
    --alias-border: #CACAD9;
    --alias-border-dark: #747474;
    --alias-bg: #ECECEC;
    --alias-bg-dark: #252525;
}
@keyframes cloud {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(0.85);
  }
  60% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.025);
  }
  90% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
@mixin alias(
    $ref-text,
    $alias-bg,
    $alias-shadow) {

    .work-in-progress-rem {
        color: $ref-text;
    }
    .tree-node--parent {
        &:has(span.rem-container--focused) ~ .tree-node--children > [data-rem-container-property~=aliases] {
            display: flex !important;
            flex-direction: column !important;
            animation: cloud 0.125s;
        }
    }
    [data-rem-container-tags*="table"] {
        .tree-node--parent:has(span.rem-container--focused) ~ .tree-node--children > [data-rem-container-property~=aliases] {
            display: flex !important;
            animation: cloud 0.125s;
            > .tree-node--parent {
                width: unset !important;
            }
            > .tree-node--children {
                > .rn-editor-container {
                    background-color: unset !important;
                }
            }
        }
        [data-rem-container-property~="aliases"]:not(.spacedRepetition [data-rem-container-property~="aliases"]) {
            width: unset !important;
            display: none !important;
        }
    }
    #hierarchy-editor-inner {
        > .rn-editor-container {
            > div {
                .rn-editor-container:not([data-rem-container-id]) {
                    ~ [data-rem-container-property~="aliases"] {
                        display: flex !important;
                        position: relative;
                    }
                }
            }
        }
    }
    [data-rem-container-property~="aliases"] {
        display: flex;
        flex-direction: column;
        position: relative;
        &:not(.spacedRepetition [data-rem-container-property~="aliases"]) {
            border-radius: 4px;
            background-color: $alias-bg !important;
            box-shadow: $alias-shadow;
            margin-right: 0.5rem;
            margin-bottom: 1rem;
            position: absolute;
            z-index: 10;
            opacity: 0.9;
            display: none !important;
            .absolute.pointer-events-none.select-none {
            color: transparent;
            }
            &:has(span.rem-container--focused) {
                display: block !important;
            }

            [data-rem-property~="aliases"] {
                .rem-button__container {
                    .rem-bullet__container {
                        .rem-bullet.rem-bullet--hidden-children {
                            width: 0.7rem;
                        }
                    }
                }
            }
            .rem-reference {
                display: inline-flex;
                align-items: center;
            }
            .rn-editor__rem__body__text {
                > .w-full {
                    display: flex;
                    align-items: baseline;
                }
            }

            > .tree-node--children {
                padding: 0 0.7rem 0.7rem 0.7rem;
                [data-rem-container-tags~="list-item"] {
                    .tree-node--parent {
                        [data-rem-tags~="list-item"] {
                            .rem-text {
                                align-items: baseline;
                                span.rem-powerup-icon {
                                    .text-icon {
                                        top: .2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // for rem-tree
            div.tree-node--parent {
                background-color: unset !important;
                > .rem {
                    background-color: unset !important;
                }
            }
            div.tree-node--children {
                div.tree-node--parent {
                    background-color: unset !important;
                }
                .rem {
                    background-color: unset !important;
                }
                &::before {
                    background-color: unset !important;
                    border-left: unset !important;
                }
                &::after {
                    background-color: unset !important;
                    border-left: unset !important;
                }
                div.tree-node--parent {
                    &::before {
                        background-color: unset !important;
                    }
                }
            }
        }
    }
};

@include alias(
    var(--ref-text),
    var(--alias-bg),
    1px 1px 2px #AAA
);
.dark {
    @include alias(
        var(--ref-text-dark),
        var(--alias-bg-dark),
        1px 1px 5px #4E4E4E
    );
}