// Card Browser Page
    .dark{
        #card-table-page {
            color: var(--darkmode-text);
            background-color: var(--darkmode-background);
        }
        .card-table__card-title {
            color: var(--darkmode-text);
        }
    }
// All Notes Page
    #content {
        .content__page {
            background-color: #FFF;
            .rn-all-notes {
                padding-top: 3rem !important;

                > div:last-child {
                    margin-bottom: 3rem;
                }
            }
            // Reverse Browser Item Header
                .ReactVirtualized__Grid__innerScrollContainer {
                    padding-bottom: 24px;

                    > div {
                        span:nth-of-type(1) {
                            > div {
                                > div:nth-child(2) {
                                    flex-direction: column-reverse !important;

                                    > div:first-child {
                                        zoom: 1.2;
                                    }
                                    > div:last-child {
                                        zoom: .75;
                                        opacity: 0.4;
                                        margin-bottom: 0.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            // Highlight
                @include highlight-text();
        }
    }
    // Darkmode Support
        .dark {
            #content {
                .content__page {
                    background-color: var(--darkmode-background);
                    .document-table {
                        // All notes Menu Style
                            > div > div,
                            [color~="gray100"] {
                                color: var(--darkmode-text) !important;
                            }
                        // Button
                            div[color="#292936"] {
                                color: #000;
                            }
                        // Browser Item Style
                            .RichTextViewer {
                                color: var(--darkmode-text);
                            }
                        // Selected Item
                            .rn-clr-background-light-accent {
                                background-color: var(--darkmode-background-selected);
                            }
                        // Daily Documents
                            .ReactVirtualized__List {
                                > .grid {
                                    > div {
                                        color: var(--darkmode-contrast) !important;
                                    }
                                }
                            }
                        // Highlight
                            @include highlight-text-dark();
                            @include highlight-span-text-dark();
                    }
                }
            }
        }