// Highlight Mixin
    // highlight-text-light
        @mixin highlight-text {
            .bold.highlight-color--red {
                background-color: unset;
                color: var(--red-text);
            }
            .bold.highlight-color--orange {
                background-color: unset;
                color: var(--orange-text);
            }
            .bold.highlight-color--yellow {
                background-color: unset;
                color: var(--yellow-text);
                text-shadow: var(--text-shadow-yellow);
            }
            .bold.highlight-color--green {
                background-color: unset;
                color: var(--green-text);
            }
            .bold.highlight-color--blue {
                background-color: unset;
                color: var(--blue-text);
            }
            .bold.highlight-color--purple {
                background-color: unset;
                color: var(--purple-text);
            }
        }
    // highlight-text-dark
        @mixin highlight-text-dark {
            .bold.highlight-color--red {
                color: var(--red-text-dark);
                background-color: unset;
            }
            .bold.highlight-color--orange {
                color: var(--orange-text-dark);
                background-color: unset;
            }
            .bold.highlight-color--yellow {
                color: var(--yellow-text-dark);
                background-color: unset;
                text-shadow: unset;
            }
            .bold.highlight-color--green {
                color: var(--green-text-dark);
                background-color: unset;
            }
            .bold.highlight-color--blue {
                color: var(--blue-text-dark);
                background-color: unset;
            }
            .bold.highlight-color--purple {
                color: var(--purple-text-dark);
                background-color: unset;
            }
        }
    // highlight-color-notbold-light
        @mixin highlight-color-notbold-light {
            .highlight-color--red:not(.bold.highlight-color--red) {
                background-color: var(--highlight-color--red-light);
            }
            .highlight-color--orange:not(.bold.highlight-color--orange) {
                background-color: var(--highlight-color--orange-light);
            }
            .highlight-color--yellow:not(.bold.highlight-color--yellow) {
                background-color: var(--highlight-color--yellow-light);
            }
            .highlight-color--green:not(.bold.highlight-color--green) {
                background-color: var(--highlight-color--green-light);
            }
            .highlight-color--blue:not(.bold.highlight-color--blue) {
                background-color: var(--highlight-color--blue-light);
            }
            .highlight-color--purple:not(.bold.highlight-color--purple) {
                background-color: var(--highlight-color--purple-light);
            }
        }
    // highlight-color-notbold-dark
        @mixin highlight-color-notbold-dark {
            .highlight-color--red:not(.bold.highlight-color--red) {
                color: var(--highlight-color--red-text-dark);
                background-color: var(--highlight-color--red-bg-dark);
            }
            .highlight-color--orange:not(.bold.highlight-color--orange) {
                color: var(--highlight-color--orange-text-dark);
                background-color: var(--highlight-color--orange-bg-dark);
            }
            .highlight-color--yellow:not(.bold.highlight-color--yellow) {
                color: var(--highlight-color--yellow-text-dark);
                background-color: var(--highlight-color--yellow-bg-dark);
            }
            .highlight-color--green:not(.bold.highlight-color--green) {
                color: var(--highlight-color--green-text-dark);
                background-color: var(--highlight-color--green-bg-dark);
            }
            .highlight-color--blue:not(.bold.highlight-color--blue) {
                color: var(--highlight-color--blue-text-dark);
                background-color: var(--highlight-color--blue-bg-dark);
            }
            .highlight-color--purple:not(.bold.highlight-color--purple) {
                color: var(--highlight-color--purple-text-dark);
                background-color: var(--highlight-color--purple-bg-dark);
            }
        }
    // highlight
        @mixin highlight {
            .highlight-color--red {
                background-color: var(--highlight-color--red);
            }
            .highlight-color--orange {
                background-color: var(--highlight-color--orange);
            }
            .highlight-color--yellow {
                background-color: var(--highlight-color--yellow);
            }
            .highlight-color--green {
                background-color: var(--highlight-color--green);
            }
            .highlight-color--blue {
                background-color: var(--highlight-color--blue);
            }
            .highlight-color--purple {
                background-color: var(--highlight-color--purple);
            }
        }
    // highlight-dark
        @mixin highlight-dark {
            .highlight-color--red {
                background-color: var(--highlight-color--red-dark);
            }
            .highlight-color--orange {
                background-color: var(--highlight-color--orange-dark);
            }
            .highlight-color--yellow {
                background-color: var(--highlight-color--yellow-dark);
            }
            .highlight-color--green {
                background-color: var(--highlight-color--green-dark);
            }
            .highlight-color--blue {
                background-color: var(--highlight-color--blue-dark);
            }
            .highlight-color--purple {
                background-color: var(--highlight-color--purple-dark);
            }
        }
    // highlight-span-light
        @mixin highlight-span {
            span.highlight-color--red {
                background-color: var(--highlight-color--red);
            }
            span.highlight-color--orange {
                background-color: var(--highlight-color--orange)
            }
            span.highlight-color--yellow {
                background-color: var(--highlight-color--yellow)
            }
            span.highlight-color--green {
                background-color: var(--highlight-color--green)
            }
            span.highlight-color--blue {
                background-color: var(--highlight-color--blue)
            }
            span.highlight-color--purple {
                background-color: var(--highlight-color--purple);
            }
        }
    // highlight-span-dark
        @mixin highlight-span-dark {
            span.highlight-color--red:not(.bold.highlight-color--red) {
                background-color: var(--highlight-color--red-span-dark);
            }
            span.highlight-color--orange:not(.bold.highlight-color--orange) {
                background-color: var(--highlight-color--orange-span-dark);
            }
            span.highlight-color--yellow:not(.bold.highlight-color--yellow) {
                background-color: var(--highlight-color--yellow-span-dark);
            }
            span.highlight-color--green:not(.bold.highlight-color--green) {
                background-color: var(--highlight-color--green-span-dark);
            }
            span.highlight-color--blue:not(.bold.highlight-color--blue) {
                background-color: var(--highlight-color--blue-span-dark);
            }
            span.highlight-color--purple:not(.bold.highlight-color--purple) {
                background-color: var(--highlight-color--purple-span-dark);
            }
        }
    // highlight-span-text-dark
        @mixin highlight-span-text-dark {
            span.highlight-color--red {
                color: var(--highlight-color--red-text-dark);
                background-color: var(--highlight-color--red-bg-dark);
            }

            span.highlight-color--orange {
                color: var(--highlight-color--orange-text-dark);
                background-color: var(--highlight-color--orange-bg-dark);
            }

            span.highlight-color--yellow {
                color: var(--highlight-color--yellow-text-dark);
                background-color: var(--highlight-color--yellow-bg-dark);
            }

            span.highlight-color--green {
                color: var(--highlight-color--green-text-dark);
                background-color: var(--highlight-color--green-bg-dark);
            }

            span.highlight-color--blue {
                color: var(--highlight-color--blue-text-dark);
                background-color: var(--highlight-color--blue-bg-dark);
            }

            span.highlight-color--purple {
                color: var(--highlight-color--purple-text-dark);
                background-color: var(--highlight-color--purple-bg-dark);
            }
        }
    // highlight-span-text-dark-sidebar
        @mixin highlight-span-text-dark-sidebar {
            span.highlight-color--red:not(.bold.highlight-color--red) {
                color: var(--highlight-color--red-text-dark);
                background-color: var(--highlight-color--red-bg-dark);
                border: 0.1rem solid #92463E;
                border-radius: 4px;
            }

            span.highlight-color--orange:not(.bold.highlight-color--orange) {
                color: var(--highlight-color--orange-text-dark);
                background-color: var(--highlight-color--orange-bg-dark);
                border: 0.1rem solid #795931;
                border-radius: 4px;
            }

            span.highlight-color--yellow:not(.bold.highlight-color--yellow) {
                color: var(--highlight-color--yellow-text-dark);
                background-color: var(--highlight-color--yellow-bg-dark);
                border: 0.1rem solid #625F14;
                border-radius: 4px;
            }

            span.highlight-color--green:not(.bold.highlight-color--green) {
                color: var(--highlight-color--green-text-dark);
                background-color: var(--highlight-color--green-bg-dark);
                border: 0.1rem solid #3D5D3D;
                border-radius: 4px;
            }

            span.highlight-color--blue:not(.bold.highlight-color--blue) {
                color: var(--highlight-color--blue-text-dark);
                background-color: var(--highlight-color--blue-bg-dark);
                border: 0.1rem solid #3A6279;
                border-radius: 4px;
            }

            span.highlight-color--purple:not(.bold.highlight-color--purple) {
                color: var(--highlight-color--purple-text-dark);
                background-color: var(--highlight-color--purple-bg-dark);
                border: 0.1rem solid #683E62;
                border-radius: 4px;
            }
        }