// Context Menu
    .rich-text-editor__search-results {
        > div {
            #search-results__list {
                width: 480px;
                position: inherit;
            }
        }
    }
    .dark {
        // Slash Command Slash
            .typeSlashCommand {
                color: var(--darkmode-contrast);
            }
        // Selected Item in Context Menu
            .bg-blue-5 {
                background-color: #233E6F;
            }
        // Slash Command Menu Text and Background
            #search-results__list {
                border-radius: 5px;
                color: var(--darkmode-text);
                background-color: var(--darkmode-background);

                #search-results__result {
                    color: var(--darkmode-text);

                    // Slash Command Context Menu
                        > div {
                            > div {
                                // Header
                                .text-gray-100 {
                                    color: var(--darkmode-text);
                                }
                                // Details
                                .text-gray-60 {
                                    color: #9D9EC5;
                                }
                                > div:nth-of-type(3) {
                                    transform: scale(1.1);

                                    > div {
                                        color: var(--darkmode-contrast) !important;
                                        opacity: .9;
                                        border-color: #000 !important;
                                        background-color: var(--darkmode-background-selected-darker);
                                    }
                                }
                            }
                        }
                    // Slash Command Focused Item
                        &.bg-gray-5 {
                            background-color: var(--darkmode-background-selected-darker);
                        }

                        > div {
                            > div.mix-blend-multiply {
                                mix-blend-mode: unset;

                                span.bg-blue-20 {
                                    color: var(--red-text);
                                    background-color: #CDCB69;
                                }
                            }
                        }
                    // Create Rem Box
                        .p-2 {
                            #quote {
                                color: #000;
                            }
                        }
                }
            }
    }