// The Most important thing
    .dark {
        // Thumbnail Background
            .thumbnail--with-width {
                background-color: transparent;
            }
            .image-node .bg-white {
                background-color: unset;
            }
            .image-node .text-text {
                color: var(--darkmode-text);
            }
        // Rem Block Selected Area
            .hidden-selection {background-color: gray;}
    }
    // Rem Block Selected Area
        .hidden-selection {
            background-color:#D8E2F1;
        }
    // glitch
        .rem-container {
            .EditorContainer {
                width: unset;
            }
        }
        .EditorContainer {
            margin-right: unset;
        }