// fix unstable backlink
    div.portal-tree-node-box.portal-tree-node-box--enable-buttons  div.TreeNode.tree-node--children.flex.flex-grow.flex-col  div.TreeNode.tree-node--children.flex.flex-grow.flex-col div.tree-node--parent.flex-grow div.w-full {
        width: unset;
    }
    div.portal-tree-node-box div.TreeNode.tree-node--children div.w-full {
        width: unset;
    }

    #hierarchy-editor div.transition-none div.portal-tree-node-box div.tree-node--parent.flex-grow > div > div.rem-text > div.w-full {
        width: unset;
    }
// The Most important thing
    .dark {
        // Thumbnail Background
            .thumbnail--with-width {
                background-color: transparent;
            }
            .image-node .bg-white {
                background-color: unset;
            }
            .image-node .text-text {
                color: var(--darkmode-text);
            }
        // Rem Block Selected Area
            .hidden-selection {background-color: gray;}
    }
    // Rem Block Selected Area
        .hidden-selection {
            background-color:#D8E2F1;
        }
    // glitch
        .rem-container {
            .EditorContainer {
                width: unset;
            }
        }
        .EditorContainer {
            margin-right: unset;
        }