// Portal
    .dark {
        // Portal Breadcrumbs
        #hierarchy-editor {
            .node-top-level-in-portal-container {
                .node-top-level-in-portal {
                    background-color: var(--darkmode-background);
                    border: 1px solid var(--darkmode-contrast);
                }
            }
        }
        .RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable {
            &:hover {
                background-color: var(--darkmode-background-selected-darker) !important;
            }
        }
        .tree-node--parent {
            .portal-rem--embedded-search {
                .embeddedSearch {
                    background-color: unset;
                    border: 1px solid var(--line-color);
                }
            }
            #show-embedded-search-button {
                color: var(--darkmode-text);
                filter: invert(0);

                i.icon {
                    color: var(--darkmode-text);
                }
            }
        }
        .portal-tree-node-box {
            [data-rem-tags~=highlight] {
                .rem-text {
                    .icon--document {
                        color: var(--darkmode-text) !important;
                    }
                }
                .rem-container--not-included-in-document-scope {
                    .RichTextViewer {
                        color: var(--darkmode-text);
                    }
                }
            }
        }
    }