@mixin alias(
    $reference-text,
    $line-color,
    $alias-background) {

    .work-in-progress-rem {
        color: $reference-text;
    }
    [data-rem-container-property~="aliases"] {
        border: 0.1rem solid $line-color;
        border-radius: 4px;
        background-color: $alias-background;

        > .tree-node--children {
            [data-rem-container-tags~="list-item"] {
                .tree-node--parent {
                    [data-rem-tags~="list-item"] {
                        .rem-text {
                            // span.rem-bullet__number {

                            // }
                            span.rem-powerup-icon {
                                .text-icon {
                                    top: .2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
};

@include alias(
    var(--reference-text),
    var(--line-color),
    var(--alias-background)
);
.dark {
    @include alias(
        var(--reference-text-dark),
        var(--line-color-dark),
        var(--alias-background-dark)
    );
}


.dark {
    // Reference Style
        .rem-reference-container:not(.rem-reference-container[data-rem-tags~="highlight"]) {
            .rem-reference {
                color: var(--reference-text-dark);

                .RichTextViewer:not([data-rem-tags~="emoji"] .RichTextViewer) {
                    color: var(--reference-text-dark);
                    background-color: var(--reference-background-dark);
                }

                &:hover {
                    background-color: var(--darkmode-background-selected-darker);
                }
            }
        }
    // Reference + Highlight
        .rem-reference-container {
            &[data-rem-tags~="highlight"] {
                .rem-reference {
                    .RichTextViewer {
                        color: var(--reference-text);
                    }
                }
            }
            .rem-reference {
                .RichTextViewer {
                    color: var(--reference-text-dark);
                }
            }
        }
}

// .rem-reference-container {
//     .rem-reference {
//         .RichTextViewer {
//             div.image-node__container {
//                 span.image-node + div {
//                     display: none;          // Declutter img Console in rem-reference
//                 }
//             }
//         }
//     }
// }