// Side Bar
    #document-sidebar {
    // Global Style
        background-color: var(--sidebar-background);
        // Update sign
            .w-full {
                > .border-gray-10 {
                    background-color: #FFF;
                }
            }
        // Thumbnail
            .align-text-top {
                vertical-align: sub;
                top: -1px;
            }
        // Font
            .RichTextViewer {
                font-family: 'Nunito Sans', sans-serif;
            }
            .text-sm {
                font-size: unset
            }
        @include highlight-span-text-dark-sidebar();
        // .highlight-color--red,
        // .highlight-color--orange,
        // .highlight-color--yellow,
        // .highlight-color--green,
        // .highlight-color--blue,
        // .highlight-color--purple {
        //     padding: 0 0.25rem;
        // }
        // Remove white-coloured line
            + div {
                > div {
                    background-color: var(--sidebar-background);
                }
            }
        // Scrollbar
            .w-\[calc\(100\%-16px\)\] {
                width: calc(100% - 0.8rem);
            }
    // Right Side Plugin
        > div.flex.flex-col {
            > div.flex.\!flex-grow {
                > div.flex.\!flex-grow {
                    z-index: 1 !important;
                }
            }
        }
    // Sidebar Top
        // Account Capsule
            #document-sidebar__account-capsule {
                background-color: var(--sidebar-background);

                &:hover {
                    background-color: var(--sidebar-item-hover);
                }
                span {
                    color: var(--darkmode-text);
                }
            }
        // Search and ⚡️
            > div:nth-of-type(1) {
                > div:nth-of-type(2) {
                // Search
                    > div.rn-search-button {
                        background: #000;

                        &:hover {
                            color: var(--darkmode-contrast);
                        }
                    }
                // ⚡️
                    > div:nth-of-type(2) {
                        background: #000;

                        &:hover {
                            color: var(--darkmode-contrast);
                        }
                    }
                }
            }
        // All Notes, Today's Note, Flashcards, Edit Later
            > div {
                > div.p-2 {
                    font-family: 'Nunito Sans', sans-serif;
                    font-weight: 600;
                    // Disable preset
                        .bg-gray-10 {
                            background-color: unset;
                            margin-right: 0;
                            border-radius: 4px;
                        }
                        .ml-auto {
                            border-radius: 4px;
                        }
                        .text-gray-60 {
                            color: unset;
                        }
                        .text-sm,
                        .text-\[12px\] {
                            font-size: 1.1rem;
                        }
                    // All Notes
                        > a[href~="/notes"] {
                            > div {
                                // Icon
                                > div:nth-of-type(1) {
                                    color: var(--sidebar-topitem);
                                }
                                // All Notes Text
                                > div:nth-of-type(2) {
                                    color: var(--sidebar-topitem);
                                }

                                &:hover {
                                    background-color: var(--sidebar-item-hover);
                                    border-radius: 5px;
                                }
                            }
                        }
                    // Today's Note
                        > div.mb-1 {
                            // Icon
                                > div:nth-of-type(1) {
                                    color: var(--sidebar-topitem);

                                }
                            // Today's Note Text
                                > div:nth-of-type(2) {
                                    color: var(--sidebar-topitem);

                                    overflow-x: hidden;
                                    white-space: nowrap;
                                }
                            &:hover {
                                background-color: var(--sidebar-item-hover);
                                border-radius: 5px;
                            }
                        }
                    // Flashcards
                        > a[href="/flashcards"] {
                            > div {
                                // Icon
                                    > div:nth-of-type(1) {
                                        color: var(--sidebar-topitem);
                                    }
                                // Flashcards Text
                                    > div:nth-of-type(2) {
                                        color: var(--sidebar-topitem);
                                        overflow-x: hidden;
                                        white-space: nowrap;
                                    }
                                // Residue Number
                                    > div:nth-of-type(3) {
                                        color: var(--darkmode-contrast);
                                        background-color: var(--darkmode-background-selected-darker);
                                        display: flex;
                                        align-items: center;

                                        [data-icon~="fire-streak"] {
                                            color: var(--red-text-dark);
                                        }
                                        [data-icon~="star"] {
                                            color: var(--green-text-dark);
                                        }
                                    }
                                &:hover {
                                    background-color: var(--sidebar-item-hover);
                                    border-radius: 5px;
                                }
                            }
                        }
                    // Edit Later
                        > a:not(a[href~="/notes"]):not(a[href="/flashcards"]) {
                            > div {
                                // Icon
                                    > div:nth-of-type(1) {
                                        color: var(--sidebar-topitem);

                                    }
                                // Edit Later
                                    > div:nth-of-type(2) {
                                        color: var(--sidebar-topitem);

                                    }
                                // Residue Number
                                    > div:nth-of-type(3) {
                                        color: var(--darkmode-contrast);
                                        background-color: var(--darkmode-background-selected-darker);

                                    }

                                &:hover {
                                    background-color: var(--sidebar-item-hover);
                                    border-radius: 5px;
                                }
                            }
                        }
                    // Selected
                        .rn-clr-background-light-accent.rounded-md {
                            border: 1px solid yellow;
                            border-radius: 5px;
                            background: var(--darkmode-background-selected-darker);
                        }
                        .hover\:rn-clr-background-light-accent--hovered:hover {
                            background: var(--darkmode-background-selected-darker);
                        }
                }
            }
    // Sidebar Middle (Item)
        > div:nth-of-type(2) {
            .bold {
                font-weight: 550;
            }
            [data-type~="document_list_item"] {
                span.block.group.cursor-pointer {
                    > div.rounded-md {
                        > div.flex {
                            // hover
                                &:hover {
                                    background-color: var(--sidebar-item-hover);
                                }
                            // Sidebar list item height
                                height: 2.2rem;
                            // Focused item Placement
                                &.group-hover\:rn-clr-background-light-accent--hovered {
                                    margin-left: -2px;
                                }
                            // Sidebar list Item Box
                                > div {
                                    // Power-up Symbol
                                        span.rem-powerup-icon {
                                            filter: invert(0);
                                            position: relative;
                                            top: 1px;
                                            color: var(--darkmode-text);
                                        }
                                    // Item Text area
                                        .RichTextViewer {
                                            color: var(--darkmode-text);
                                            // Highlight
                                                .highlight-color--red,
                                                .highlight-color--orange,
                                                .highlight-color--yellow,
                                                .highlight-color--green,
                                                .highlight-color--blue,
                                                .highlight-color--purple {
                                                    margin-left: 3px;
                                                }

                                            .rem-reference-container  {
                                                span.rem-reference {
                                                    span.RichTextViewer {
                                                        background-color: unset;
                                                    }
                                                }
                                            }
                                        }
                                    // Sidebar list Arrow line Alignment
                                        &:only-of-type {
                                            margin-left: 24px;
                                        }
                                }
                        }
                    }
                    .highlight-color--red,
                    .highlight-color--orange,
                    .highlight-color--yellow,
                    .highlight-color--green,
                    .highlight-color--blue,
                    .highlight-color--purple {
                        border-radius: 3px;
                        font-weight: 600;

                        .RichTextViewer {
                            padding-left: 3px;
                        }
                    }
                    // Sidebar list item focused
                        > div.rounded-md.rn-clr-background-light-accent {
                            .RichTextViewer {
                                color: white;
                            }

                            .group-hover\:rn-clr-background-light-accent--hovered {
                                background: var(--sidebar-item-hover);
                            }
                        }
                        .rn-clr-background-light-accent {
                            background: var(--rn-clr-background-inverse-secondary);
                            border: 2px solid var(--darkmode-contrast);
                            border-radius: 5px;
                        }
                        .rounded-md.highlight-color--red,
                        .rounded-md.highlight-color--orange,
                        .rounded-md.highlight-color--yellow,
                        .rounded-md.highlight-color--green,
                        .rounded-md.highlight-color--blue,
                        .rounded-md.highlight-color--purple {
                            .RichTextViewer {
                                color: black;
                            }
                        }
                }
            }
            // Make Menu Background Highlight Compact
                .rounded-md {
                    background-color: transparent;

                    > div {
                        > div.overflow-hidden {
                            overflow: unset;
                            > div.truncate {
                                overflow: unset;
                            }
                        }
                    }

                    &.highlight-color--red {
                        > div {
                            > div {
                                background-color: var(--highlight-color--red-bg-dark);
                                border-radius: 4px;
                                border: 0.1rem solid #92463E;
                            }
                        }
                        .document-list-item__folder-icon, %sidebar-folder {
                            background-color: transparent;
                            border: unset;
                        }
                    }
                    &.highlight-color--orange {
                        > div {
                            > div:not(.document-list-item__folder-icon) {
                                background-color: var(--highlight-color--orange-bg-dark);
                                border-radius: 4px;
                                border: 0.1rem solid #795931;
                            }
                        }
                        .document-list-item__folder-icon {
                            background-color: transparent;
                            border: unset;
                        }
                    }
                    &.highlight-color--yellow {
                        > div {
                            > div {
                                background-color: var(--highlight-color--yellow-bg-dark);
                                border-radius: 4px;
                                border: 0.1rem solid #625F14;
                            }
                        }
                        .document-list-item__folder-icon {
                            background-color: transparent;
                            border: unset;
                        }
                    }
                    &.highlight-color--green {
                        > div {
                            > div {
                                background-color: var(--highlight-color--green-bg-dark);
                                border-radius: 4px;
                                border: 0.1rem solid #3D5D3D;
                            }
                        }
                        .document-list-item__folder-icon {
                            background-color: transparent;
                            border: unset;
                        }
                    }
                    &.highlight-color--blue {
                        > div {
                            > div {
                                background-color: var(--highlight-color--blue-bg-dark);
                                border-radius: 4px;
                                border: 0.1rem solid #3A5E76;
                            }
                        }
                        .document-list-item__folder-icon {
                            background-color: transparent;
                            border: unset;
                        }
                    }
                    &.highlight-color--purple {
                        > div {
                            > div {
                                background-color: var(--highlight-color--purple-bg-dark);
                                border-radius: 4px;
                                border: 0.1rem solid #7B4874;
                            }
                        }
                        .document-list-item__folder-icon {
                            background-color: transparent;
                            border: unset;
                        }
                    }
                }
                .highlight-color--red,
                .highlight-color--orange,
                .highlight-color--yellow,
                .highlight-color--green,
                .highlight-color--blue,
                .highlight-color--purple {
                    .RichTextViewer {
                        padding-left: 3px;
                    }
                }
            // Sidebar list item icon
                .document-list-item__folder-icon {
                    color: #C7C7C7;
                }
                .float-right {
                    color: var(--darkmode-contrast);
                }
            // Sidebar List item space between Emoji/Thumbnail and Strings by bolding
                .block {
                    .RichTextViewer {
                        .bold {
                            margin-left: 3px;
                        }
                    }
                }
            // Sidebar list item Padding
                .p-2 {
                    padding: 0.5rem;
                }
            // Sidebar list item Colored Text
                .rn-clr-content-secondary {
                    color: var(--darkmode-text);
                }
                .bold.highlight-color--red,
                .bold.highlight-color--orange,
                .bold.highlight-color--yellow,
                .bold.highlight-color--green,
                .bold.highlight-color--blue,
                .bold.highlight-color--purple {
                    background-color: unset;
                    padding-left: unset;
                }
                .bold.highlight-color--red {color: var(--red-text-dark);}
                .bold.highlight-color--orange {color: var(--orange-text-dark);}
                .bold.highlight-color--yellow {color: var(--yellow-text-dark);}
                .bold.highlight-color--green {color: var(--green-text-dark);}
                .bold.highlight-color--blue {color: var(--blue-text-dark);}
                .bold.highlight-color--purple {color: var(--purple-text-dark);}
            // Sidebar list item quote
                .quote {
                    color: var(--inline-code-color-dark);
                    background-color: var(--inline-code-background-dark);
                    margin-left: 5px;
                }
            // Sidebar list item Hover
                .group:hover {
                    .group-hover-bg-hover-bg-transparent:hover {
                        background: var(--darkmode-background-selected-darker);
                        border-radius: 5px;
                    }
                }
            // Thumbnail 3-Dot Button Removal
                .image-node {
                    .bg-white {
                        background-color: transparent;
                    }
                }
        }
    }
    // Dark mode
        .dark {
            #document-sidebar {
                // Global
                    background-color: var(--darkmode-background-sidebar);

                    > div {
                        background-color: var(--darkmode-background-sidebar);

                        &:first-of-type {
                            border-right: var(--darkmode-background-sidebar) !important;
                        }
                    }

                    + div {
                        > div {
                            color: var(--darkmode-contrast);
                            background-color: var(--darkmode-background-sidebar) !important;
                        }
                    }
                    .rem-text {
                        font-family: 'Nunito Sans', sans-serif;
                    }
                // History plugin
                    .rn-clr-background-light-accent {
                        background: var(--darkmode-text);

                        &:hover {
                            filter: brightness(1.1);
                        }
                    }
                // Sidebar Top
                    // Account Capsule
                        #document-sidebar__account-capsule {
                            background-color: var(--darkmode-background-sidebar);

                            &:hover {
                                background-color: var(--darkmode-background-selected-darker);
                            }
                            span {
                                color: var(--darkmode-text);
                            }
                        }
            }
        }