// Statistic Page
    #StatsPage {
        #StatsPageContent {
            max-width: 90% !important;

            .chartjs-render-monitor {
                height: auto !important;
                width: calc(100% - 50px) !important;
            }
        }
    }
    // Darkmode
        .dark {
            #StatsPage {
                #StatsPageContent {
                    background-color: var(--darkmode-background) !important;

                    .chartjs-render-monitor {
                        filter: invert(1);
                    }
                }
            }
        }