:root {
    --hide-answer-filter: contrast(0%) brightness(1.5);
}

// Active Recall
#hierarchy-editor:not(.spacedRepetitionAnswer > #hierarchy-editor) {
    [data-rem-container-tags~="active-recall"] {

        // Inline Card
        span {

            &:not(:hover):not([data-rem-tags~="learned"]).cloze,
            &.only_in_answer:not(:hover):not([data-rem-tags~="learned"]) {
                background-color: white;
                filter: var(--hide-answer-filter);
                border-radius: 5px;
                padding: 0px 3px 2px 3px;
                margin: 0px 3px 0px 3px;
                position: relative;
                top: -2px;
            }
        }

        // List Card
        >div:last-child {
            .node-card-item:not(:hover) {
                background-color: white;
                filter: var(--hide-answer-filter);
                border-radius: 5px;
            }
        }

        // Cloze
        .cloze {
            background-color: black;
            color: yellow;
            border-radius: 5px;
            border-bottom: 2px solid red;
            padding: 0px 3px 2px 3px;
            margin: 0px 3px 0px 3px;
        }
    }
}

// Darkmode Compatibility
.dark-mode {
    .cloze {
        background-color: rgba(210, 225, 248, 0);
        color: #fff;
        border-bottom: 2px solid var(--darkmode-contrast);
        padding-bottom: 2px;
        margin-left: 3px;
        margin-right: 3px;
        padding-left: 3px;
    }
}

// Tag Declutter
[data-rem-tags~="active-recall"] {
    .hierarchy-editor__tag-bar__tag {
        background-color: transparent !important;

        span {
            display: none;
        }
    }
}