:root {
    --hide-answer-filter: contrast(0%) brightness(1.5);
}
// Active Recall
    [data-rem-container-tags~="active-recall"] {
        // Cloze & Inline Card
            span.cloze, %cloze {
                color: #000;
                font-weight: 600;
                border-radius: 5px;
                padding: 0px 3px 2px 3px;
                margin: 0px 3px 0px 3px;
            }
            span {
                &:not(:hover):not([data-rem-tags~="learned"]).cloze,
                &.only_in_answer:not(:hover):not([data-rem-tags~="learned"]) {
                    background-color: white;
                    filter: var(--hide-answer-filter);
                    position: relative;
                    top: -2px;
                    @extend %cloze;
                }
            }
        // List Card
            > div:last-child {
                .node-card-item {
                    &:not(:focus-within) {
                        background-color: white;
                        filter: var(--hide-answer-filter);
                        border-radius: 5px;
                    }
                }
                &:focus-within {
                    .node-card-item {
                        filter: unset;
                    }
                }
            }
    }
// Darkmode Compatibility
	.dark-mode {
        [data-rem-container-tags~="active-recall"] {
            // List Card
                > div:last-child {
                    .node-card-item {
                        &:not(:focus-within) {
                            background-color: var(--darkmode-background, #2F3437);
                            filter: var(--hide-answer-filter);
                            border-radius: 5px;
                        }
                    }
                
                    &:focus-within {
                        .node-card-item {
                            filter: unset;
                        }
                    }
                }
        }
    }
// Tag Declutter
	[data-rem-tags~="active-recall"] {
        .hierarchy-editor__tag-bar__tag {
            background-color: transparent !important;

            span {
                display: none;
            }
        }
    } 