:root {
    --hide-answer-filter: contrast(0%) brightness(1.5);
}
// Active Recall
    [data-rem-container-tags~="active-recall"] {
        // Cloze & Inline Card
            span.cloze, %cloze {
                font-weight: 600;
                border-radius: 5px;
            }
            span {
                &:not(:hover):not([data-rem-tags~="learned"]).cloze,
                &.only_in_answer:not(:hover):not([data-rem-tags~="learned"]) {
                    background-color: white;
                    filter: var(--hide-answer-filter);
                    position: relative;
                    top: -2px;
                    @extend %cloze;
                }
            }
        // List Card
            div.tree-node--children {
                .node-card-item {
                    &:hover {
                        filter: unset !important;
                    }
                }
                &:not(:hover) {
                    .node-card-item {
                        background-color: white;
                        filter: var(--hide-answer-filter);
                        border-radius: 5px;
                    }
                }
            }
    }
// Tag Declutter
	[data-rem-tags~="active-recall"] {
        .hierarchy-editor__tag-bar__tag {
            background-color: transparent !important;

            span {
                display: none;
            }
        }
    } 