:root {
    --hide-answer-filter: contrast(0%) brightness(1.5);
}
// Active Recall
    [data-rem-container-tags~="active-recall"] {
        // Cloze & Inline Card
            span.cloze, %cloze {
                font-weight: 600;
                border-radius: 5px;
            }
            span.cloze {
                &:not(:hover) {
                    background-color: white;
                    filter: var(--hide-answer-filter);
                    position: relative;
                    top: -2px;
                    @extend %cloze;
                }

            }
            span.only_in_answer {
                span.RichTextViewer {
                        &:not(:hover) {
                        background-color: white;
                        filter: var(--hide-answer-filter);
                        position: relative;
                        top: -2px;
                        @extend %cloze;
                    }
                }
            }
            span.rem-container--forwards-practice-enabled, %list-card {
                span[data-linear-editor-text~="true"]:nth-of-type(3) {
                    > span {
                        > span {
                            span.linear-editor-item.whitespace-pre-wrap {
                                &:not(:hover) {
                                    background-color: white;
                                    filter: var(--hide-answer-filter);
                                    position: relative;
                                    top: -2px;
                                    @extend %cloze;
                                }
                            }
                        }
                    }
                }
            }
            span.rem-container--forwards-practice-disabled {
                @extend %list-card;
            }
        // List Card
            div.tree-node--children {
                .node-card-item {
                    &:hover {
                        filter: unset !important;
                    }
                }
                &:not(:hover) {
                    .node-card-item {
                        background-color: white;
                        filter: var(--hide-answer-filter);
                        border-radius: 5px;
                    }
                }
            }
    }
// Tag Declutter
    [data-rem-tags~="active-recall"] {
        .hierarchy-editor__tag-bar__tag {
            background-color: transparent !important;

            span {
                display: none;
            }
        }
    }