:root {
    --line-color: #DDD;
    --line-color-dark: #535353;
}

// Divider
    [data-rem-container-tags~="divider"] {
        margin-bottom: 10px;
        margin-right: 1.5rem;

        [data-rem-tags~="divider"] {
            color: transparent;
            padding-right: 15px;
            height: 7px;
            margin-left: 10px;

            &::before {
                content: " ";
                display: block;
                position: absolute;
                border-bottom: var(--line-color);
            }

            &:focus-within {
                background-color: #DCF3FF;
                margin-left: 40px;
                margin-right: -1.8rem;
                position: relative;
                top: 3px;
                left: -15px;

                &::before {
                    border-bottom: 2px solid var(--line-color);
                }
            }

            &:not(:focus-within) {
                color: transparent;
                position: relative;
                padding: 0px 15px;

                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    border-bottom: 2px solid var(--line-color);
                    height: 2px;
                }
            }
        }
    }
// Divider Darkmode Compatibility
    .dark-mode {
        [data-rem-tags~="divider"] {
            &:focus-within {
                background-color: #576066;
            }
            &:not(:focus-within):before {
                border-bottom: 2px solid var(--line-color-dark, #535353);
            } 
        }
    }
// Hide
    [data-rem-tags~="divider"] {
        .RichTextViewer,
        [data-slate-node="element"] {
            visibility: hidden;
        }

        .rem-button__container,
        .rem-container--focused, 
        .rem-bullet__icon,
        .rem-bullet__container,
        .rem-checkbox,
        .rem:not([data-rem-tags~="show-tags"]) .hierarchy-editor__tag-bar, 
        // Hide Merge Sign
        .relative.flex.items-center.float-end,       
        // Hide Placeholder "Type / for Commands"
        .rich-text-editor-placeholder {
                display: none;
        }
    }