:root {
    --kanban-bgcolor: #F7F6F3;
    --kanban-bgcolor-dark: #252525;
    --kanban-bgcolor-input: #FFF;
    --kanban-bgcolor-input-dark: #151515;
    --kanban-bgcolor-stage: ;
    --kanban-bgcolor-stage-dark: ;
    --kanban-bgcolor-inprogress: #F8F9CD;
    --kanban-bgcolor-inprogress-dark: #453E1E;
    --kanban-bgcolor-done: #D5EED7;
    --kanban-bgcolor-done-dark: #253F27;
    --kanban-bgcolor-archive: ;
    --kanban-bgcolor-archive-dark: ;
}

[data-rem-container-tags~=kanban] {
    .bg-white {
        background-color: transparent;
    }
    // > .tree-node--parent {
        
    // }
    > .tree-node--children {
        display: flex;
        border-radius: 5px;
        padding-left: 0;
        overflow-x: scroll;
        white-space: pre;

        >.tree-node-container {
            flex: 1 1 0;
            background-color: var(--kanban-bgcolor);
            margin-right: 0.7rem;
            border-radius: 3px;
            position: relative;
            // overflow: hidden;
            min-width: 240px;

            &:not(:first-child) {
                margin-left: 0;
            }
            &:nth-child(1) {
                background-color: var(--kanban-bgcolor);

                >.tree-node--parent {
                    .rem-text {
                        font-weight: 650;
                        &::after {
                            content: "📥";
                        }
                    }
                }
            }
            &:nth-child(2) {
                background-color: var(--kanban-bgcolor-inprogress);

                >.tree-node--parent {
                    .rem-text {
                        font-weight: 650;
                        &::after {
                            content: "🚧";
                        }
                    }
                }
            }
            &:nth-child(3) {
                background-color: var(--kanban-bgcolor-done);

                >.tree-node--parent {
                    .rem-text {
                        font-weight: 650;
                        &::after {
                            content: "✅";
                        }
                    }
                }
            }

            > .tree-node--children {
                left: 0 !important;
                width: 100%;

                > .tree-node-container {
                    background-color: var(--kanban-bgcolor-input);
                    margin: 5px;
                    border-radius: 3px;
                    box-shadow: 0 0 1px 0;

                    > div:first-child {
                        .rem-text {
                            padding-left: 25px;
                            margin-left: 0;
                        }
                    }
                    > .tree-node--children {
                        max-width: fit-content;
                    }
                }
            }
        }

        > .tree-node-container {
            > div:first-child {
                background-color: rgba(0, 0, 0, 0.09);
                margin: 0;
                border-bottom: 1px solid grey;
            }

            > .tree-node--children {
                margin: 0;
                padding: 0;
                border: unset;
            }
        }
    }
    // Remove Placeholder
        .EditorContainer {
            > .text-gray-20 {
                display: none;
            }
        }
}
// Darkmode
    .dark-mode {
        [data-rem-container-tags~=kanban] {
            >.tree-node--children {
                >.tree-node-container {
                    background-color: var(--kanban-bgcolor-dark);

                    &:nth-child(1) {
                        background-color: var(--kanban-bgcolor-dark);
                    }
                    &:nth-child(2) {
                        background-color: var(--kanban-bgcolor-inprogress-dark);
                    }
                    &:nth-child(3) {
                        background-color: var(--kanban-bgcolor-done-dark);
                    }
                    > .tree-node--children {
                        > .tree-node-container {
                            background-color: var(--kanban-bgcolor-input-dark);
                        }
                    }
                }
            }
        }
    }