@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
	--font-size-documenttitle: 36px;
	--font-size-header-1: 32px;
	--font-size-header-2: 24px;
	--font-size-header-3: 20px;
	--darkmode-background: #2f3437;
	--darkmode-background-sidebar: #2a2a2a;
	--darkmode-background-selected: #4a5458;
	--darkmode-background-selected-darker: #1b1f23;
	--lightmode-background-selected: #b7b7b7;
	--darkmode-text: #dfdfd5;
	--darkmode-text-bold: #aeeded;
	--darkmode-contrast: yellow;
	--quote-text-dark: #f1fa8c;
	--quote-background-dark: #252525;
	--quote-text-reference: #2711ff;
	--quote-text-reference-dark: #00fff9;
	--reference-text: #000;
	--reference-text-dark: #dfdfd5;
	--reference-background: #ececec;
	--reference-background-dark: #252525;
	--line-color: #dddddd;
	--line-color-dark: #535353;
	--link-node-color-dark: #94d2ff;
	--red-text: #ff4a44;
	--red-text-dark: #fd776f;
	--orange-text: #c26f1c;
	--orange-text-dark: #f0a264;
	--yellow-text: #EA2700;
	--yellow-text-dark: #ffdf0b;
	--green-text: #34a853;
	--green-text-dark: #44dd66;
	--blue-text: #579aff;
	--blue-text-dark: #98bfe2;
	--purple-text: #a142f4;
	--purple-text-dark: #bf96f4;
	--highlight-color--red: #ffb9af;
	--highlight-color--red-dark: #ff8a88;
	--highlight-color--orange: #ffca8c;
	--highlight-color--orange-dark: #FFB86C;
	--highlight-color--yellow: #f1fa8c;
	--highlight-color--yellow-dark: #D3D006;
	--highlight-color--green: #9fe39b;
	--highlight-color--green-dark: #99D395;
	--highlight-color--blue: #bad7eb;
	--highlight-color--blue-dark: #9fc8eb;
	--highlight-color--purple: #e6c9eb;
	--highlight-color--purple-dark: #E6C0F0;
	--pdf-highlight-color-red: #ffd0c3;
	--pdf-highlight-color-orange: #fddab6;
	--pdf-highlight-color-yellow: #fff34c;
	--pdf-highlight-color-green: #bbf4be;
	--pdf-highlight-color-blue: #d2eef9;
	--pdf-highlight-color-purple: #f5e0fe;
	--text-shadow: 0.01em 0.01em 0.01em #727e84;
	--text-shadow-dark: 0.01em 0.01em 0.01em #727e84;
}
// The Most important thing
	.dark-mode {
		filter: unset;
		// Thumbnail Background
			.thumbnail--with-width {
				background-color: transparent;
			}
			.image-node .bg-white {
				background-color: unset;
			}
			.image-node .text-text {
				color: var(--darkmode-text);
			}
		// Rem Block Selected Area
			.hidden-selection {background-color: gray;}
	}
	// Rem Block Selected Area
		.hidden-selection {
			background-color:#D8E2F1;
		}
// All Notes page list
	.dark-mode {
		.document-table {
			// All notes Menu Style
				> div > div,
				[color~="gray100"],
				.css-huFlzA .css-fLTnVi {
					color: var(--darkmode-text) !important;
				}
			// Button
				div[color="#292936"] {
					color: #000;
				}
			// Browser Item Style
				.RichTextViewer {
					color: var(--darkmode-text);
				}
			// All Notes Header & Item Hover Effect
				.css-favSPh:hover,
				.css-jcbvum:hover {
					background-color: var(--darkmode-background-selected-darker);
				}
		}
	}
	// Reverse Browser Item Header
		.ReactVirtualized__Grid__innerScrollContainer {
			> div {
				span.flex-grow {
					> div.flex.w-full.h-full {
						// > div:first-child {
						// 	> svg[data-icon~="documents-top-level-rem"] {
						// 		> rect,
						// 		> circle {
						// 			display: none;
						// 		}
						// 	}
						// }
						> div:nth-child(2) {
							flex-direction: column-reverse !important;
							overflow-x: auto;
							white-space: pre !important;

							> div:first-child {
								zoom: 1.2;
							}
							> div:last-child {
								zoom: .75;
								opacity: 0.4;
								margin-bottom: 0.5rem;
							}
						}
					}
				}
			} 	
		}
// Queue (Flashcard)
	.dark-mode {
		// Select Cluster
			.queue-cluster-selector {
				color: var(--darkmode-text);
			}
			.hover\:bg-UI03:hover {
				background-color: var(--darkmode-background-selected);
			}
		// Queue Title Bar
			.queue__title {
				.queue__title__left {
					color: var(--darkmode-text);
				}
				.queue__title__middle {
					color: var(--darkmode-text);
					.queue__badge {
						color: var(--darkmode-text);
						background-color: var(--darkmode-background-selected);
					}
					.css-iRMIZh {
						fill: var(--darkmode-contrast);
						color: var(--darkmode-contrast);
					}
					:last-child {
						color: var(--darkmode-text);
						background-color: var(--darkmode-background-selected);
					}
				}
				.queue__title__right {
					color: var(--darkmode-text);
				}
				.overflow-ellipsis {
					color: var(--darkmode-text);
					background-color: var(--darkmode-background-selected);

					.font-semibold {
						color: var(--darkmode-text);
						background-color: var(--darkmode-background-selected);	
					}
				}
			}
			.rem-bullet__queue {
				background-color: var(--darkmode-text);
			}
		// Search Popup - Flashcard
			#SearchPopup {
				caret-color: var(--darkmode-text);
				color: var(--darkmode-text);
				background-color: var(--darkmode-background);

				.rich-text-editor,
				.EditorContainer {
					caret-color: var(--darkmode-text);
					color: var(--darkmode-text);
					background-color: var(--darkmode-background);
				}
			}
		// SRS Contents
			.spacedRepetition {
                .spacedRepetitionContent {
                    .spaced-repetition__prompt, %prompt-style {
						color: var(--darkmode-text) !important;
						background-color: var(--darkmode-background) !important;

                        .spaced-repetition__prompt__breadcrumbs {
                            @extend %prompt-style;
                        }
						.rem-bullet__document {
							@extend %prompt-style;

							.file.text.small.icon {
								@extend %prompt-style;
							}
						}
                    }
					.spaced-repetition__prompt { 
						// Answer Part Text
							.fill-in-the-blank {
								// Answer
									&.bg-white {
										padding: 5px;
										border-radius: 5px;
									}
							}
							.fill-in-the-blank--revealed {
								padding: 5px; 
								border-radius: 5px;
							}
						// Card Prompt
							.rem-bullet__document {
								font-weight: 600;
							}
							.rem-bullet__document,
							.rem-bullet__document .file.text.small.icon {
								color: var(--darkmode-text) !important;
								background-color: var(--darkmode-background) !important;
							}	
					}
                }
            }
		// Flashcard
			.Queue {
				// Style
					background-color: var(--darkmode-background);
				// Question Span
					.queue-text-large-font {
						font-size: 24px;
					}
				// Select Cluster Hover
					.hover\:bg-UI03:hover {
						color: black;
					}
				// Flashcard for Select Menu
					.font-semibold.text-gray-100 {
						color: var(--darmode-text);
					}
					.queue__title .h-6 > svg {
						color: var(--darkmode-contrast);
						fill: var(--darkmode-contrast);
					}
				// Border
					border: 1px solid white;
				// Residue Card Number
					.bg-gray-10 {
						background-color: var(--darkmode-selected-darker);
						border:  1px solid white;
					}
				// Katex
					.katex {
						background-color: unset;
					}
				// Breadcrumbs Folder and File icon
					.mr-1.css-cpJTyT,
					.icon--document,
					.RichTextViewer.px-1.truncate {
						color: var(--darkmode-text);
					}
					.css-dLXVVj {
						color: var(--darkmode-contrast);
					}
				// Question Title thumbnail
					.rem-bullet__document .RichTextViewer .thumbnail--with-width {
						height: 1em;
						width: auto;
					}
				// Cloze
					.RichTextViewer .cloze {
						background-color: unset;
						padding: 5px;
						border-radius: 5px;
						border-bottom: 2px solid var(--darkmode-contrast);
					}
			}
		// Preview
			.document-popup-preview {
				background-color: var(--darkmode-background);
			}
	}
// Card Browser
	.dark-mode{
		#card-table-page {
			color: var(--darkmode-text);
			background-color: var(--darkmode-background);
		}
		.card-table__card-title {
			color: var(--darkmode-text);
		}
	}
// Omnibar
	.dark-mode {
		// Omnibar text
			[aria-label~="Omnibar"] {
				.css-eqifkM,
				// Search Item Text
				.css-fLTnVi  {
					color: var(--darkmode-text);
				}
				// Omni Searchbar(⌘+P) hover effect
				.css-khYwOj {
					background-color: var(--darkmode-background-selected);
				}
			}
		// Search Item Text
			.css-kMEfqE {
				color: var(--darkmode-text);
			}
		// Selected
			.css-cMUIYB {
				background-color: var(--darkmode-background-selected);
			}
		// Focused Text
			.css-ZPdGi .css-kMEfqE .bg-warning-10 {
				color: red;
			}
		// Main Window
			.css-ZPdGi {
				background-color: var(--darkmode-background);
			}
		// Focused item
			.css-cCyKhM {
				background-color: #6D6D6D !important;
			}
		// Omnibar item text
			.css-bwtzVW {
				color: var(--darkmode-text);
			}
		// Middle item including omni search bar
			.css-bwtzVW, 
			.css-hBWTgk,
			.css-edMwoJ {
				background-color: var(--darkmode-background);
			}
		// Middle Item Text
			.css-dcfFHl,
			.css-jlRuPl {
				color: var(--darkmode-text) !important;
			} 
			.css-jlRuPl .bg-warning-10 {
				background-color: var(--reference-text-dark);
				border: 1px solid var(--darkmode-contrast);
			}
		// Search Area
			.css-jQQQnw {border-radius: 5px;}
		
		// Omnibar svg icon
			.css-fQFckt {
				background-color: var(--darkmode-contrast) !important;
				border: 1px dotted var(--darkmode-contrast);
				border-radius: 5px;
			} 
	}
// Icon
	.dark-mode {
		// Calendar icon
			.rem-calendar-icon.text-text {
				color: var(--darkmode-text);
			}
		// Slot icon
			.css-bMKjkl {
				color: var(--darkmode-text);
			} 
		// Power-up icon
			.rem-powerup-icon {
				.text-icon {color: var(--darkmode-text);}
			} 
	}
// Page Hierarchy Bar
	.dark-mode {
		.document-header-top-bar {
			.parent-link {
				color: var(--darkmode-text);
				background-color: transparent;
				border: 1px solid #7F8094;
			}
			.RichTextViewer {
				.bold.highlight-color--red,
				.bold.highlight-color--orange,
				.bold.highlight-color--yellow,
				.bold.highlight-color--green,
				.bold.highlight-color--blue,
				.bold.highlight-color--purple {
					background-color: transparent;
				}
				.bold.highlight-color--red {color: var(--red-text-dark);}
				.bold.highlight-color--orange {color: var(--orange-text-dark);}
				.bold.highlight-color--yellow {color: var(--yellow-text-dark);}
				.bold.highlight-color--green {color: var(--green-text-dark);}
				.bold.highlight-color--blue {color: var(--blue-text-dark);}
				.bold.highlight-color--purple {color: var(--purple-text-dark);}
			}
		}
	} 
// RemNote Hierarchy Editor
	.dark-mode {
		// Page Padding
			.paddingPage {
				color: var(--darkmode-text);
				background-color: var(--darkmode-background)
			}
		// Mosaic Windowed panes
			.mosaic.mosaic-blueprint-theme {
				.mosaic-preview,
				.mosaic-window {
					.mosaic-window-toolbar.draggable {
						background-color: var(--darkmode-background-sidebar);

						&:hover {
							background-color: var(--darkmode-background-sidebar);
						}
					}
				}
			}
		// Hierarchy Editor - General Background
			.document-table,
			.tile__document,
			.multiple-windows__document,
			#multiple-windows__document {
				background-color: var(--darkmode-background);
			}
		// General Text
			.rem-text,
			.rem-text.rem-header--1,
			.rem-text.rem-header--2,
			.rem-text.rem-header--3 {
				color: var(--darkmode-text);
			}
		// Bold Text
			.rem-text {
				.bold:not(.rem-header--1 .bold):not(.rem-header--2 .bold):not(.rem-header--3 .bold):not([data-rem-tags~="highlight"] .bold):not(.bold.highlight-color--red):not(.bold.highlight-color--orange):not(.bold.highlight-color--yellow):not(.bold.highlight-color--green):not(.bold.highlight-color--blue):not(.bold.highlight-color--purple) {
					color: var(--darkmode-text-bold);
				}
			}
		// Hierarchy Editor - LinkNode, Hyperlink
			.LinkNode,
			.underline.text-blue-60.cursor-pointer  {
				color: var(--link-node-color-dark) !important;
				background-color: var(--darkmode-background-selected-darker);
				border-radius: 3px;
				padding: 0 2px 1px 2px;
			}
		// Hierarchy Editor - TreeNode
			.TreeNode {
				border-width: 1.5px !important;
				border-left-color: var(--line-color-dark) !important;
			}
		// Hierarchy Editor - quote
			.quote {
				color: var(--quote-text-dark) !important;
				background-color: var(--quote-background-dark) !important;
			}
		// Hierarchy Editor - Katex
			.katex,
			.katex-display,
			.latex-node--focused:not(.latex-node--block) .katex {
				background-color: unset !important;
			}
		// Hierarchy Editor - Source & Tags & Tagbar & Backlinks
			#DropToOpenAsDocument {
				.RichTextViewer {
					color: var(--darkmode-text) !important;
				}
			}
			// Top Tag
				#DocumentTopRow {
					.rounded-md {
						span[contenteditable="false"] {
							> div {
								color: var(--darkmode-text);
								background-color: var(--darkmode-background-selected);
							}
						}
					}		
				}
			// Tag Bar
				.hierarchy-editor__tag-bar {
					.hierarchy-editor__tag-bar__tag {
						color: var(--darkmode-text);
						background-color: var(--darkmode-background-selected-darker);
					}

					.hierarchy-editor__tag-bar__tag.highlight-color--red {
						color: #000;
						background-color: var(--highlight-color--red-dark);
						.hierarchy-editor__tag-bar__tag__delete {
							color: unset;
						}
					}
					.hierarchy-editor__tag-bar__tag.highlight-color--orange {
						color: #000;
						background-color: var(--highlight-color--orange-dark);
						.hierarchy-editor__tag-bar__tag__delete {
							color: unset;
						}
					}
					.hierarchy-editor__tag-bar__tag.highlight-color--yellow {
						color: #000;
						background-color: var(--highlight-color--yellow-dark);
						.hierarchy-editor__tag-bar__tag__delete {
							color: unset;
						}
					}
					.hierarchy-editor__tag-bar__tag.highlight-color--green {
						color: #000;
						background-color: var(--highlight-color--green-dark);
						.hierarchy-editor__tag-bar__tag__delete {
							color: unset;
						}
					}
					.hierarchy-editor__tag-bar__tag.highlight-color--blue {
						color: #000;
						background-color: var(--highlight-color--blue-dark);
						.hierarchy-editor__tag-bar__tag__delete {
							color: unset;
						}
					}
					.hierarchy-editor__tag-bar__tag.highlight-color--purple {
						color: #000;
						background-color: var(--highlight-color--purple);
						.hierarchy-editor__tag-bar__tag__delete {
							color: unset;
						}
					}
					
					.hierarchy-editor__tag-bar__tag__delete {
						color: unset;
					}
				}
				
			// Backlinks
				.backlink-counter.text-gray-70 {
					color: var(--darkmode-contrast);
					background-color: var(--darkmode-selected-darker);
				}
			// Source
				[data-rem-tags~="source-list"] {
					.RichTextViewer {
						color: var(--darkmode-text);
					}
					[data-icon~="add"] {
						color: var(--darkmode-text) !important;
						fill: var(--darkmode-text) !important;
					}
				}
		// Hierarchy Editor - Upper Right 3dots
			.document__options-menu .fill-current {
				filter: invert(1);
			}
	}
	// Page Breadcrumbs
		// Multi Line Breadcrumbs
			.document-header-top-bar {
				height: fit-content;

				> div > div {
					flex-wrap: wrap;
					overflow-wrap: normal;
				}	
				.flex-nowrap {
					flex-wrap: wrap;
				}
				.flex {
					display: inline-block;
				}
				// Merge Button
					.w-max[color="#292936"] {
						color: unset;
					}
			}
		// Scrollable
			// .document-header-top-bar > div {overflow-x: auto;}
	// Tag Searching Text
		.work-in-progress-tag {
			color: black;
		}
	// Hyperlink right click option menu
		.popup-menu .css-kbbFlF {
			color: var(--darkmode-text);
			background-color: unset;
		}
	// Hierarchy Editor - Left-side Hiearchy Editor Margin
		.document--ltr {
			padding: 0px 0px 0px 40px;
		}
	// Hierarchy Editor - Right Side Backlink Numbers
		.float-end .my-2 {
			margin-top: .4rem;
			zoom: 0.85;
		}
// Rem-Bullet Container
	.dark-mode {
		.plus-button,
		.six-dot,
		.toggle-collapse-button {
			background-color: transparent;
		}
	}
	// Toggle Collapse Button Hover effect
		.hover\:bg-hover-bg:hover {
			background-color: unset !important;
		}
// Hightlight Style
	// Basic Highlight Style and Font Color
		.highlight-color--red,
		.highlight-color--orange,
		.highlight-color--yellow,
		.highlight-color--green,
		.highlight-color--blue,
		.highlight-color--purple {
			border-radius: 3px;
			margin-bottom: 1px;
			padding: 0px 2px 1px 2px;
			color: black;
		}
		[data-rem-tags~=highlight] {
			.rem-text,
			.rem-text.rem-header--1,
			.rem-text.rem-header--2,
			.rem-text.rem-header--3 {
				color: black;
			}
		}
	// Highlight Color
		.highlight-color--red {background-color: var(--highlight-color--red);}
		.highlight-color--orange {background-color: var(--highlight-color--orange);}
		.highlight-color--yellow {background-color: var(--highlight-color--yellow);}
		.highlight-color--green {background-color: var(--highlight-color--green);}
		.highlight-color--blue {background-color: var(--highlight-color--blue);}
		.highlight-color--purple {background-color: var(--highlight-color--purple);}
		.dark-mode {
			.highlight-color--red {background-color: var(--highlight-color--red-dark);}
			.highlight-color--orange {background-color: var(--highlight-color--orange-dark);}
			.highlight-color--yellow {background-color: var(--highlight-color--yellow-dark);}
			.highlight-color--green {background-color: var(--highlight-color--green-dark);}
			.highlight-color--blue {background-color: var(--highlight-color--blue-dark);}
			.highlight-color--purple {background-color: var(--highlight-color--purple-dark);}
		}
	// Document Title Highlight Style
		#DocumentTitle {
			.bold,
			.bold.highlight-color--red,
			.bold.highlight-color--orange,
			.bold.highlight-color--yellow,
			.bold.highlight-color--green,
			.bold.highlight-color--blue,
			.bold.highlight-color--purple {
				background-color: unset !important;
				font-weight: 700;
			}
			.bold.highlight-color--red {color: var(--red-text);}
			.bold.highlight-color--orange {color: var(--orange-text);}
			.bold.highlight-color--yellow {color: var(--yellow-text);}
			.bold.highlight-color--green {color: var(--green-text);}
			.bold.highlight-color--blue {color: var(--blue-text);}
			.bold.highlight-color--purple {color: var(--purple-text);}
		}
		.dark-mode {
			#DocumentTitle {
				.bold.highlight-color--red {color: var(--red-text-dark);}
				.bold.highlight-color--orange {color: var(--orange-text-dark);}
				.bold.highlight-color--yellow {color: var(--yellow-text-dark);}
				.bold.highlight-color--green {color: var(--green-text-dark);}
				.bold.highlight-color--blue {color: var(--blue-text-dark);}
				.bold.highlight-color--purple {color: var(--purple-text-dark);}
			}
		}
	// Highlight Color to Header Text Color
		.rem-container--header-1,
		.rem-container--header-2,
		.rem-container--header-3 {
			.bold.highlight-color--red {
				background-color: unset;
				color: var(--red-text);
			}
			.bold.highlight-color--orange {
				background-color: unset;
				color: var(--orange-text);
			}
			.bold.highlight-color--yellow {
				background-color: unset;
				color: var(--yellow-text);
			}
			.bold.highlight-color--green {
				background-color: unset;
				color: var(--green-text);
			}
			.bold.highlight-color--blue {
				background-color: unset;
				color: var(--blue-text);
			}
			.bold.highlight-color--purple {
				background-color: unset;
				color: var(--purple-text);
			}
		}
		.dark-mode {
			.rem-container--header-1,
			.rem-container--header-2,
			.rem-container--header-3 {
				.bold.highlight-color--red {
					color: var(--red-text-dark);
				}
				.bold.highlight-color--orange {
					color: var(--orange-text-dark);
				}
				.bold.highlight-color--yellow {
					color: var(--yellow-text-dark);
				}
				.bold.highlight-color--green {
					color: var(--green-text-dark);
				}
				.bold.highlight-color--blue {
					color: var(--blue-text-dark);
				}
				.bold.highlight-color--purple {
					color: var(--purple-text-dark);
				}
			}
		}
	// Highlight Color to Text Color Using `color` Tag
		[data-rem-tags~="color"] {
			.rem-text {
				.bold.highlight-color--red,
				.bold.highlight-color--orange,
				.bold.highlight-color--yellow,
				.bold.highlight-color--green,
				.bold.highlight-color--blue,
				.bold.highlight-color--purple {
					background-color: unset;
					font-weight: 600;
				}
				.bold.highlight-color--red {color: var(--red-text) !important;} 
				.bold.highlight-color--orange {color: var(--orange-text) !important;}
				.bold.highlight-color--yellow {color: var(--yellow-text) !important; text-shadow: 2px 2px 2px #FFFC00;}
				.bold.highlight-color--green {color: var(--green-text) !important;}
				.bold.highlight-color--blue {color: var(--blue-text) !important;}
				.bold.highlight-color--purple {color: var(--purple-text) !important;}
			}
		}
		.dark-mode {
			[data-rem-tags~="color"] {
				.rem-text {
					.bold.highlight-color--red {color: var(--red-text-dark) !important;} 
					.bold.highlight-color--orange {color: var(--orange-text-dark) !important;}
					.bold.highlight-color--yellow {color: var(--yellow-text-dark) !important; text-shadow: unset;}
					.bold.highlight-color--green {color: var(--green-text-dark) !important;}
					.bold.highlight-color--blue {color: var(--blue-text-dark) !important;}
					.bold.highlight-color--purple {color: var(--purple-text-dark) !important;} 

					.rem-reference-container {
						.bold.highlight-color--red {background-color: var(--red-text-dark) !important;}
						.bold.highlight-color--orange {background-color: var(--orange-text-dark) !important;}
						.bold.highlight-color--yellow {background-color: var(--yellow-text-dark) !important;}
						.bold.highlight-color--green {background-color: var(--green-text-dark) !important;}
						.bold.highlight-color--blue {background-color: var(--blue-text-dark) !important;}
						.bold.highlight-color--purple {background-color: var(--purple-text-dark) !important;}
					}
				}
			}
		}
		.popup-menu {
			[data-rem-tags~="color"] {
				.bold.highlight-color--yellow {
					color: var(--yellow-text-dark); text-shadow: unset;
				}
			}
		} 
		.rem-reference-container {
			.rem-reference {
				.RichTextViewer {
					.bold.highlight-color--red,
					.bold.highlight-color--orange,
					.bold.highlight-color--yellow,
					.bold.highlight-color--green,
					.bold.highlight-color--blue,
					.bold.highlight-color--purple {
						color: #000;
						font-weight: 600;
					}
				}
			}
		}
		
		#document-hover-preview__popup {
			.RichTextViewer {
				.bold.highlight-color--red,
				.bold.highlight-color--orange,
				.bold.highlight-color--yellow,
				.bold.highlight-color--green,
				.bold.highlight-color--blue,
				.bold.highlight-color--purple {
					color: #000;
					font-weight: 600;
				}
			}
		}
// Find / Filter / Replace - Ctrl(⌘) + F
	.dark-mode {
		#hierarchy-editor__ctrl-f {
			.css-exQOrH {
				color: black;
				background-color: unset;
			}
		}
	}
	#rich-text-editor__icon {
		filter: invert(1);
	}
// Portal
	/* Portal Breadcrumbs */
		#hierarchy-editor {
			.node-top-level-in-portal-container {
				.node-top-level-in-portal {
					background-color: var(--darkmode-background);
					border: 1px solid var(--darkmode-contrast);
				}
			}
		}
		.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable {
			&:hover {
				background-color: var(--darkmode-background-selected-darker) !important;
			}
		}
// Popup
	.popup-menu.dark-mode {
		color: var(--darkmode-text);
		background-color: var(--darkmode-background);
		border: 1px solid white;

		// Interim Measure
			div {
				svg {
					fill: var(--darkmode-text) !important;
					color: var(--darkmode-text) !important;
				}
			}
		// Basic
			.bg-white,
			#document-hover-preview__popup,
			.popup-menu__item, 
			.popup-menu__item--static,
			.hierarchy-editor__search-portal-section {
				color: var(--darkmode-text);
				background-color: var(--darkmode-background);
			}
		// Edit your flashcard Window
			// Card Type button
				.rounded {
					.p-3 {
						color: var(--darkmode-text) !important;
					}
				}
			// Card Direction Button
				> div {
					> div.p-4 {
						div.ml-2 {
							> div {
								background-color: unset !important;
							}
						}
					}
				}
				.hover\:bg-cyan-15.active\:bg-cyan-20 {
					background-color: #1C3259 !important;
					border: 1px solid var(--darkmode-contrast);
				}
			> .bg-gray-5 {
				background-color: var(--darkmode-background);

				.rounded {
					border: 1px solid var(--line-color-dark);
				}
			} 
			.scroll-drag-component {
				border: 1px solid white;
			}
			.css-exQOrH {
				color: var(--darkmode-text);
			}
			.spaced-repetition__prompt {
				.indented-rem .rem-bullet__document,
				.indented-rem .rem-bullet__document > i {
					color: black !important;
				}
				.file.text.small.icon::before {
					filter: invert(0);
				}
			}
			.Queue,
			.scroll-drag-component,
			.text-base + a,
			.queue__edit-later {
				color: var(--darkmode-text);
				background-color: var(--darkmode-background);
			}
		// Card Select Button
			.css-fLTnVi {
				color: var(--darkmode-text);
			}
		// Popup Text
			.rem-text.rem-header--1,
			.rem-text.rem-header--2,
			.rem-text.rem-header--3 {
				color: var(--darkmode-text);
			}
		// Context Menu - Hyperlink Right Click
			// Search area
				.border-solid.border-gray-15 {
					border-color: #909090;
				}
			// Menu Header - LINKED TO & OPTIONS
				.p-2 {
					.text-gray-30 {
						background-color: unset;
					}
				}
		// Selected Item
			.bg-selected-bg,
			[icon*="[Object]"]:hover,
			.bg-selected-bg:hover {
				background-color: var(--darkmode-background-selected-darker) !important;
			}
		// Image Popup Menu
			> div {
				border: 1px solid white;
			}
			.bg-white {
				.css-kbbFlF {
					> div {
						color: var(--darkmode-text);
					}
				}
			} 
		// Popup Hover Effect
			.bg-white {
				.css-kbbFlF:hover {
					background-color: var(--darkmode-background-selected-darker);
				}
			}
			#SearchPopup {
				.search-results {
					#search-results__list {
						#search-results__result {
							&:hover {
								color: unset !important;
								background-color: #BCBBB3;
							}
						}
					}
				}
			}
		// Bottom Backlinks Bar
			#show-embedded-search-button {
				color: var(--darkmode-text) !important;
				background-color: var(--darkmode-background-selected);
				filter: invert(0) !important;
				border-radius: 5px;
			}
			.file.text.small.icon::before {
				filter: invert(1);
			} 
		// Image Controller
			// svg icon
				.css-fQFckt {
					background-color: yellow;
					border: 1px solid black;
					border-radius: 5px;
					opacity: 0.8;
				}
			// Selected item
				.bg-white {
					.css-huwYra {
						color: var(--darkmode-text);
						background-color: var(--darkmode-background-selected);
						border: 1px solid var(--darkmode-contrast);
					}
				} 
		// Popup for Reference & Alias Static Title
			#document-hover-preview__popup span.bold > span,
			.popup-menu__item--static > span {
				color: var(--darkmode-contrast);
				font-size: 18px;
			}
			.rich-text-editor__popup-text-editor-alias-container {
				.bg-gray-5 {
					background-color: var(--darkmode-background-selected-darker);
				}
			}
	}
	
	.dark-mode {
		// Menu item text
			div[color="#292936"] {
				color: var(--darkmode-text);
			}
		// Omni Search Popup Window
			// Focused Text
				.css-jlRuPl {
					.bg-warning-10 {
						color: black;
					}
				}
	}
	// Popup for Reference & Alias Static Title
			#document-hover-preview__popup span.bold > span,
			.popup-menu__item--static > span {
				font-size: 18px;
			}
	// Hidden Item List
		// Style
			.hierarchy-editor__hidden-children__list,
			[data-search-result~="search-result-panel"] {
				color: black;
				background-color: var(--darkmode-text);
			}
		// Hover
			[data-search-result~="search-result-panel"] .bg-gray-5 {
				color: black;
				background-color: #D1D1D1;
			}
// RemNote Date Picker
	.react-datepicker.search-results__date-picker {
		background-color: #ffffff !important;
	}
// Codeblock
	#code-node {
		background-color: var(--code-node-background-color);

		&::before {
			background-color: var(--line-number-background-color);
		}
		.codeLine {
			&::before {
				color: var(--code-node-line-number-color);
			}
		}
	}
	.dark-mode {
		#code-node {
			background-color: var(--code-node-background-color-dark);

			&::before {
				background-color: var(--code-node-line-number-background-color-dark);
			}
		}
		.codeLine::before {
			color: var(--code-node-line-number-color-dark);
		}
	}
// Checkbox
	// Box Style
		.rem-checkbox {
			border-radius: unset !important;
			background-color: unset;
		}
	// Strikethrough Style
		.rem-container--todo-finished {
			color: #A2A2A2;
			text-decoration: line-through;
			text-decoration-style: double;
		}
		.dark-mode {
			.rem-container--todo-finished {
				color: #A1A1A1;

				.RichTextViewer,
				[data-slate-node="text"] {
					color: #909090;
				}
			}
		}
	// Alignment
		.rem-header--1 .rem-checkbox {margin-top: 12px;}
		.rem-header--2 .rem-checkbox {margin-top: 8px;}
		.rem-header--3 .rem-checkbox {margin-top: 6px;}
		
		#DocumentTitle {
			.rem-text,
			.rem-header--1,
			.rem-header--2,
			.rem-header--3 {
				.rem-checkbox {
					display: inline-block;
					margin: 12px 15px 10px 0;
				}
			}
		}
		.document-title.rem-header--3 {
			.rem-is-custom-rem-type {
				position: relative;
				top: 0px;
			}
		}
// Settings Page
	// Interim Measure
		.dark-mode {
			#DefaultExampleDocumentActions {
				color: var(--darkmode-contrast) !important;
			}
			.settings-page {
				.spaced-repetition-scheduler-form a,
				// Body Text
				[color~="#515167"],
				// Spinner
				[data-cy~="loading-spinner"] > div,
				// Plugin Option
				.divider.text {
					color: var(--darkmode-contrast) !important;
				}
			}
			[data-icon~="dropdown"] {
				color: #000 !important;
				fill: #000 !important;
			}
		}
		.dark-mode {
			.settings-page {
				.settings-page__sidebar .inline-block.h-4,
				.pt-4,
				.pl-4,
				.text-gray-70,
				.spaced-repetition-scheduler-form .p-6 > div > div,
				.spaced-repetition-scheduler-form .py-1,
				.spaced-repetition-scheduler-form__field > div,
				.spaced-repetition-scheduler-form__field__explanation,
				// Header
				.pt-8.px-6 > div,
				.pb-1,
				// Pricing $
				.pr-1,
				.mt-4.mr-6 > div,
				.feature-checklist-element > div,
				.settings__pricing-option-item > div > div > div {
					color: var(--darkmode-text) !important;
				}
			}
		}
		// .popup-menu div svg {
		// 	fill: var(--darkmode-text) !important;
		// 	color: var(--darkmode-text) !important;
		// }
		.dark-mode .settings-page .ui.input>input,
		.bg-blue-5:hover {
			background-color: var(--darkmode-background-selected-darker);
		}
		.dark-mode .text-gray-100 {
			color: unset;
		}
		.dark-mode .hover\:bg-gray-5.active:bg-gray-10.active:color-gray-100:hover {
			background-color: var(--darkmode-background-selected-darker);
		}
		.dark-mode .body--show-ui .show-ui-hover\:bg-blue-5:hover {
			background-color: var(--darkmode-background-selected-darker) !important;
		}
		.dark-mode .DocumentLink {
			color: var(--darkmode-text);
		}
	.dark-mode {
		// Selected Item in Context Menu
			.bg-blue-5 {
				background-color: #233E6F;
			}
		.settings-page {
			// Settings Page Basic
				background-color: var(--darkmode-background);
				.settings-page__sidebar__title {color: var(--darkmode-contrast);}
				.settings-page__sidebar__link--active {border: 1px solid var(--darkmode-contrast);}
			// Settings Page Subscription page
				#subscription-page {
					.css-jbClFc {
						color: black;
						font-weight: 650;
					}
					.bg-mint-10 {
						color: #000 !important;
						background-color: #8BD1B9;
					}
				}
				.w-min {
					color: var(--darkmode-text) !important;
					width: unset;
				}
			// Settings Page Plugin Table
				.PluginsConfiguration__table, %Pluginboxstyle {
					background-color: var(--darkmode-background);
				}
				.PluginsConfiguration__table {
					.ui.table {
						@extend %Pluginboxstyle;

						thead th {
							color: var(--darkmode-text);
						}
					}
					input {
						color: var(--darkmode-contrast) !important;
					}
					.css-fLTnVi {
						color: black !important;
					}
				}
			// Setting Page Button Style
				.button {
					background-color: unset;
				}
			// Settings Page Scheduler Type Text
				.pl-4.css-kJJQEm {
					color: var(--darkmode-text);
				}
				.spaced-repetition-scheduler-form__interaction {
					color: black !important;
				}
			// Setting Page Content
				.settings-page__content {
					.settings-page__content__inner {
						background-color: var(--darkmode-background);
						.popup__header {
							background-color: var(--darkmode-background);
						}
						.settings-page__option {
							.ml-4 {
								> div {
									color: var(--darkmode-text) !important;
								}
							}
						}
					}
				}
			// Settings Page Content Description
				.css-fAxQcq, 
			// Plan Details
				.css-eqifkM {
					color: var(--darkmode-contrast);
					font-family: "Roboto Mono", "Fira Code", monospace;
					font-weight: 600;
				}
				.settings-page__option {
					.p-3 {
						color: black !important;
					}
				}
			// Settings Page Sidebar svg icon
				.css-drbSAB {
					color: var(--darkmode-contrast);
					background-color: var(--darkmode-background);
					border: 1px dotted var(--darkmode-contrast);
					border-radius: 5px;
				}
			// Settings Page Sidebar Hover Effect
				.settings-page__sidebar  {
					.settings-page__sidebar__link {
						&:hover {
							background-color: #000;
						}
					}
				}
			// Settings Page Account, Knowledge Base Settings, Danger Zone, Syncing, App Version
				.items-center,
				.css-jBUFtN,
				.css-ATSnA,
				.css-dcfFHl,
				.css-cSCrvK,
				.css-exQOrH + a,
				.checkbox,
				.px-6,
				.p-6,
				// Subscription
				.css-bOWrRb,
				// Schedulers Page
				.css-egEQZl,
				// Settings Page Sidebar Text
				.inline-block.h-4,
				// Account / Plan / Knowledge Base Settings / DangerZone / Syncing / App Version
				.css-kPXeXo {
					color: var(--darkmode-text) !important;
				}
			// Settings Page Knowledge Base
				.switch-knowledgebase__knowledgebase__button > .icon {
					color: var(--darkmode-contrast);
				}
		}
	}
// Statistic
	.dark-mode {
		#StatsPage {
			#StatsPageContent {
				background-color: var(--darkmode-background);

				.chartjs-render-monitor {
					filter: invert(1);
				}
			}
		}
	}
	#StatsPage {
		#StatsPageContent {
			max-width: 90% !important;

			.chartjs-render-monitor {
				height: auto !important;
				width: calc(100% - 50px) !important;
			}
		}
	}
// Reference & Alias
	.rem-reference {
		.RichTextViewer {
			color: var(--reference-text); 
			background-color: #E1E5F8;
			font-family: 'Roboto Mono', monospace !important;
			padding: 2px 4px;
			margin: 0 2px;
			border-radius: 4px;
		}
	}	
	// Hierarchy Editor - Reference Style
		.dark-mode {
			.rem-reference {
				.RichTextViewer {
					color: var(--reference-text-dark);
					background-color: #202020;
				}
			}
			[data-rem-tags~=highlight] {
				.rem-text {
					.RichTextViewer {
						color: var(--reference-text);
					}
				}
			}
		}
	// Hover Effect
		.dark-mode {
			.rem-reference.show-ui-hover\:bg-blue-5:hover {
				background-color: var(--darkmode-background-selected-darker);
			}

			[data-rem-container-tags~="highlight"] {
				.rem-reference.show-ui-hover\:bg-blue-5:hover {
					background-color: unset;
				}
			}
		}
	// Reference Style
		.dark-mode {
			.rem-reference.button.rem-reference-link {
				background-color: var(--reference-background-dark);

				.RichTextViewer {
					color: var();
				}
				// Reference Partial Hiding using inlinequote
				.quote {
					display: none;
				}
			}
			.rem-reference.rem-reference--focused {
				.RichTextViewer {
					color: var(--reference-text);
				}
			}
			.rem-reference-container.quote {
				.RichTextViewer {
					color: var(--quote-text-reference-dark);
				}
			}
		}
		.rem-reference.button.rem-reference-link {
			background-color: var(--reference-background);
			padding: 3px 4px 3px 4px;
		}
		.work-in-progress-rem {
			 color: var(--reference-text);
		}
		.rem-reference-container.quote {
			.RichTextViewer {
				color: var(--quote-text-reference);
			}
		}
		
		[data-rem-tags~="list-item"] {
			.quote {
				color: var(--quote-text-dark);
				background-color: var(--quote-background-dark);
			}
		}
	// Hierarchy Editor - Alias
		.rem-reference-container {
			.css-kWtKRr {
				filter: invert(0.5); 
				position: relative; 
				top: 4px;
			}
		}
		[data-rem-container-tags~="aliases"] {
			border: 0.1rem solid var(--line-color-dark);
			border-radius: 4px;
		}
	// Hide Reference root and > symbol
		.rem-reference.button.rem-reference-link {
			.gray, .join-arrow {
				display: none;
			}
		}
	// Alias power-up symbol adjustment
		[data-rem-tags~="list-item"] .rem-is-custom-rem-type.rem-is-custom-rem-type--in-body {
			position: relative;
			top: 2px !important;
		}
	// Favicon Size
		.w-4, .h-4 {
			width: 1em;
			height: 1em;
		}
// Navigation Bar
	.navigation-bar {
		background-color: var(--darkmode-background-sidebar);
	}
	.hierarchy-editor-list__sticky-top__rem-container {
		position: relative;
		top: -10px;	

		.rem-is-custom-rem-type--in-body,
		.EditorContainer {
			zoom: 90%;
		}
	} 
// Sidebar
	// Basic
		#document-sidebar {
			background-color: var(--darkmode-background);

			+ div > div {
				color: var(--darkmode-contrast) !important;
				background-color: var(--darkmode-background-sidebar) !important;
			}
		}
		.dark-mode {
			#document-sidebar {
				background-color: var(--darkmode-background-sidebar) !important;
			}
		}
	// Sidebar Collapsed
		.document-sidebar--collapsed--vertical {
			background-color: #000;
			width: 25px;

			div {
				left: -6px;
			}
		}

	// Account Capsule
		#document-sidebar__account-capsule {
			background-color: #FFFFFF;

			&:hover {
				background-color: var(--darkmode-text) !important;
			}
		}
	// Sidebar Top
		#document-sidebar_top {
			// Search and ⚡️
				.flex.items-center.p-2.gap-2 > div {
					background-color: var(--darkmode-background-selected-darker);
				}
			// All Notes & Flashcards & Edit Later Text
				.flex.items-center.mb-1 {
					font-family: "Roboto Mono", "Fira Code", Monospace;
					color: var(--darkmode-contrast);
					zoom: 125%;
					margin-left: 5px;
				}
			// ?
				.bg-gray-10-transparent {
					background-color: var(--darkmode-background-selected-darker);
					zoom: 1.1;
				}
			// Selected formatting
				.bg-primary-5 {
					background-color: unset;
					border: 1px solid yellow;
					border-radius: 5px;
				}
			// All Notes icon
				.css-fqRAnH {
					color: var(--darkmode-contrast);
				}
			// Flashcard icon
				.block {
					.css-pUlLN {
						color: var(--darkmode-contrast);
					}
					.flex-grow {
						font-family: "Roboto Mono", "Fira code", Monospace;
						color: var(--darkmode-contrast);
					}
					> div > div.bg-gray-10-transparent {
						zoom: 0.9;
					}
				}
			
		}
	// Sidebar Pinned, Draft, Archive Symbol (Sidebar Item Top Level)
		#document-sidebar {
			.accordion.ui.fluid {
				.title.cursor-pointer {
					background-color: #FFFFFF;
					zoom: 150%;
					max-height: 5px !important;
					border-radius: 5px;
					
					.css-fqRAnH {
						zoom: 150%;
						color: black;
					}
					.css-pUlLN {
						color: black;
					}
				}
			}
		}
	// Power-up Symbol
		#document-sidebar {
			.rem-is-custom-rem-type {
				filter: invert(1);
				position: relative;
				top: 2px !important;
			}
		}
	// Favicon Size
		.settings-page__sidebar {
			.w-4, .h-4 {
				width: unset;
				height: unset;
			}
		}
	// Sidebar Document lists
		#document-sidebar {
			// Sidebar list item height
				.p-2.flex.group-hover-bg-hover-bg-transparent {
					height: 20px !important;
				}
			.bg-white.cursor-pointer {
				display: none;
			}
			.RichTextViewer {
				color: #C7C7C7;
				position: relative;
				top: 1px;
			}
			// Sidebar list item Highlight
				span.highlight-color--red,
				span.highlight-color--orange,
				span.highlight-color--yellow,
				span.highlight-color--green,
				span.highlight-color--blue,
				span.highlight-color--purple {
					margin-left: 5px;
					padding: 1px 3px;
					border-radius: 3px;
					font-weight: 600;
				}
				.highlight-color--yellow {background-color: var(--highlight-color--yellow-dark);}
			// Sidebar list item Colored Text
				.bold.highlight-color--red,
				.bold.highlight-color--orange,
				.bold.highlight-color--yellow,
				.bold.highlight-color--green,
				.bold.highlight-color--blue,
				.bold.highlight-color--purple {
					background-color: unset;
				}
				.bold.highlight-color--red {color: var(--red-text-dark);}
				.bold.highlight-color--orange {color: var(--orange-text-dark);}
				.bold.highlight-color--yellow {color: var(--yellow-text-dark);}
				.bold.highlight-color--green {color: var(--green-text-dark);}
				.bold.highlight-color--blue {color: var(--blue-text-dark);}
				.bold.highlight-color--purple {color: var(--purple-text-dark);}
			// Sidebar list item quote
				.quote {
					color: var(--quote-text-dark) !important;
					background-color: var(--quote-background-dark) !important;
					margin-left: 5px;
				}
			// Sidebar list item Padding
				.p-2 {
					padding: 0.3rem;
				}
			// Sidebar list item focused
				.bg-primary-5 {
					background-color: transparent !important;
					border: 2px solid var(--darkmode-contrast) !important;

					.RichTextViewer {
						color: white;
					}
				}
				.rounded-md.highlight-color--red,
				.rounded-md.highlight-color--orange,
				.rounded-md.highlight-color--yellow,
				.rounded-md.highlight-color--green,
				.rounded-md.highlight-color--blue,
				.rounded-md.highlight-color--purple {
					.RichTextViewer {
						color: black;
					}
				} 
			// Sidebar list item icon
				.document-list-item__folder-icon {
					color: #C7C7C7;
				}
				.float-right {
					color: var(--darkmode-contrast);
				}
			// Sidebar list Arrow line Alignment
				.flex-grow.nowrap-RichTextViewer:only-child {
					margin-left: 22px;
				}
			// RemNote Help Page Sidebar Document lists
				.block.group.cursor-pointer {
					.highlight-color--red .RichTextViewer, 
					.highlight-color--orange .RichTextViewer,
					.highlight-color--yellow .RichTextViewer,
					.highlight-color--green .RichTextViewer,
					.highlight-color--blue .RichTextViewer,
					.highlight-color--purple .RichTextViewer {
						color: black !important;
					}
				}
			// Make Menu Background Highlight Compact
				.rounded-md.highlight-color--red,
				.rounded-md.highlight-color--orange,
				.rounded-md.highlight-color--yellow,
				.rounded-md.highlight-color--green,
				.rounded-md.highlight-color--blue,
				.rounded-md.highlight-color--purple {
					background-color: transparent;
				}
				.rounded-md.highlight-color--red .p-2 .text-gray-60 {background-color: var(--highlight-color--red-dark); border-radius: 4px;}
				.rounded-md.highlight-color--orange .p-2 .text-gray-60 {background-color: var(--highlight-color--orange-dark); border-radius: 4px;}
				.rounded-md.highlight-color--yellow .p-2 .text-gray-60 {background-color: var(--highlight-color--yellow-dark); border-radius: 4px;}
				.rounded-md.highlight-color--green .p-2 .text-gray-60 {background-color: var(--highlight-color--green-dark); border-radius: 4px;}
				.rounded-md.highlight-color--blue .p-2 .text-gray-60 {background-color: var(--highlight-color--blue-dark); border-radius: 4px;}
				.rounded-md.highlight-color--purple .p-2 .text-gray-60 {background-color: var(--highlight-color--purple-dark); border-radius: 4px;}

				.highlight-color--red,
				.highlight-color--orange,
				.highlight-color--yellow,
				.highlight-color--green,
				.highlight-color--blue,
				.highlight-color--purple {
					.RichTextViewer {
						padding-left: 3px;
					}
				}
			// Sidebar Item hover effect
				// Sidebar Search Bar Hover
					.hover\:text-gray-50:hover:not(.accordion.ui.fluid .hover\:text-gray-50:hover) {						
						color: var(--darkmode-contrast);
					}
				// Sidebar All Notes Flashcards Edit Later Hover
					.hover\:bg-hover-bg:hover {
						background-color: var(--darkmode-background-selected-darker);
					}							
				// Sidebar Menu Item Hover
					.group:hover .group-hover-bg-hover-bg-transparent:hover {
						background-color: var(--darkmode-background-selected-darker);
					}
			// Sidebar List item space between Emoji/Thumbnail and Strings by bolding
				.accordion.ui.fluid {
					.block {
						.RichTextViewer {
							.bold {
								margin: 0 0 0 5px;
							}
						}
					}
				} 
		}
// Scrollbar
	::-webkit-scrollbar {
		background-color: transparent;
		width: 8px;
	}
	::-webkit-scrollbar-track {
		background-color: transparent;
	}
	::-webkit-scrollbar-thumb {
		background-color: #BBB;
		border: 4px solid transparent;
	}
// Hover Effect
	// Slash Command
		.dark-mode {
			// Slash Command Text and Background
				[data-search-result~="search-result-panel"] {
					border: 3px solid black;
					border-radius: 5px;
				}
			// Slash Command Focused Item
				.z-30 [data-search-result="search-result-item"].bg-gray-5 {
					color: black;
					background-color: #D1D1D1;
				}
		}
	// Tag Item Search Result Hover or Selected
	// Hidden item list
		.dark-mode {
			#DocumentTopRow {
				.text-gray-30 {
					color: var(--darkmode-text);
					background-color: var(--darkmode-background-selected-darker);

					&:hover {
						color: var(--darkmode-contrast) !important;
						background-color: var(--darkmode-background-selected-darker);
					}
				}
			}
			.hover\:bg-gray-5:hover:not(#search-result__result) {
				color: var(--darkmode-contrast) !important;
				background-color: var(--darkmode-background-selected-darker);
			}
		}
		#DocumentTopRow .text-gray-30:hover {
			background-color: var(--lightmode-background-selected);
		}
 		.hover\:bg-gray-5:hover:not(#search-result__result) {
 			color: unset;
 			background-color: #D1D1D1;
 		}
// Metadata Page
	.dark-mode {
		#RemPage {
			color: var(--darkmode-text);
		}
	}
// Help & Tutorial Page
	.dark-mode {
		// RemNote Help Page Container
			#HelpPageContainer #HelpPage {
				filter: invert(1);
			}
		// RemNote Help Page Sidebar Top
			#document-sidebar_top {
				.m-3 {
					> div {
						color: var(--darkmode-contrast) !important;
					}
				}
				.css-cPmPhh {
					color: var(--darkmode-text);
				}
				.help-knowledge-base-search {
					.rich-text-editor {
						background-color: unset;
					}
				}
			}
		// Backward icon
			[data-icon="backward"] {
				color: var(--darkmode-contrast) !important;
			}
		// RemNote Help Page Sidebar Bottom
			#document-sidebar {
				.w-full {
					> a {
						color: var(--darkmode-contrast) !important;
					}
				}
			}
		// API
			#APIKeys {
				a {
					color: var(--link-node-color-dark);
				}
				.ApiCommand {
					.ui.table {
						color: var(--darkmode-text);
						background-color: var(--darkmode-background);

						thead {
							tr {
								
								th {
									color: var(--darkmode-text-bold);
								}
							}
							
						}
						// tbody {
						// 	tr {
								
						// 	}
						// }
					}
				}
				#ApiVoid {
					background-color: var(--darkmode-background);
				}
			}
	}
	// API
		#APIKeys {
			.ApiCommand {
				overflow-x: auto;
				white-space: pre;
			}
		}
// Backlink
	// Remove Date
		.hierarchy-editor__search-portal-section {
			display: none;
		}
	// Scrollable
		// .portal-tree-transient-node-box [data-rem-tags~="document"] > div > span {
		// 	overflow-x: auto;
		// 	white-space: pre;
		// }
	// inline 3dots
		.tree-node--parent {
			.show-embed-search-button--automatic {
				display: flex;
				position: relative;
				left: -16px;
			}
		}
		.popup-menu {
			.tree-node--parent {
				.show-embed-search-button--automatic {
					left: 0;
				}
			}
		}
	// Reference Breadcrumbs
		#hierarchy-editor {
			.rem-container--not-included-in-document-scope {
				.rem-text {
					display: inline !important;
					zoom: 0.75;
					opacity: 0.6;
					
					.RichTextViewer {
						display: inline-flex !important;
					}
				}
			}
			.portal-tree-transient-node-box {
				.EditorContainerInline,
				.EditorContainerInline > span > span {
					display: inline;
				}
			}
		}
	// Line Color
		#hierarchy-editor {
			.rem-container__top-level-rem-in-portal-border {
				.rem-container__top-level-rem-in-portal-border__inner {
					border-color: var(--line-color);
				}
			}
		}
		.dark-mode {
			#hierarchy-editor {
				.rem-container__top-level-rem-in-portal-border {
					.rem-container__top-level-rem-in-portal-border__inner {
						border-color: var(--line-color-dark);
					}
				}
			}
		}
	// Hover Effect
		span.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable:hover {
			background-color: #E2E1DF !important;
			color: black;
		}
		.dark-mode {
			span.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable:hover {
				background-color: var(--darkmode-background-selected-darker) !important;
				color: var(--darkmode-contrast);
			}
		}
// PDF
	.pdf-viewer {
		.PdfHighlighter {
			.pdfViewer {
				.page {
					.textLayer {
						.PdfHighlighter__highlight-layer {
							.pdf-viewer__highlight-container--red,
							.pdf-viewer__highlight-container--orange,
							.pdf-viewer__highlight-container--yellow,
							.pdf-viewer__highlight-container--green,
							.pdf-viewer__highlight-container--blue,
							.pdf-viewer__highlight-container--purple {
								.Highlight__part {
									border-radius: 5px;
								}
							}
							.pdf-viewer__highlight-container--red .Highlight__part {background: var(--pdf-highlight-color-red);}
							.pdf-viewer__highlight-container--orange .Highlight__part {background: var(--pdf-highlight-color-orange);}
							.pdf-viewer__highlight-container--yellow .Highlight__part {background: var(--pdf-highlight-color-yellow);}
							.pdf-viewer__highlight-container--green .Highlight__part {background: var(--pdf-highlight-color-green);}
							.pdf-viewer__highlight-container--blue .Highlight__part {background: var(--pdf-highlight-color-blue);}
							.pdf-viewer__highlight-container--purple .Highlight__part {background: var(--pdf-highlight-color-purple);}
						}
					}
				}
			}
		}
	}
// Card
	.dark-mode {
		.separator-symbol:not(:empty):hover {
			background-color: var(--darkmode-background-selected-darker);
		}
	}