:root {
    /* Global Code Style */
        --code-font-family: "Roboto Mono", "Fira code", monospace;
        --code-font-size: 0.9em;
    /* Inline Code Style */
        --inline-code-color: #E64400;
        --inline-code-background-color: #F7F6F3;
    /* Code Block Line Number Style */
        --line-number-width: 40px;
        --line-number-color: #C7CCCF;
        --line-number-color-dark: #BDBEBE;
        --line-number-background-color: #F7F6F3;
        --line-number-background-color-dark: #E6E6E6;
    /* Code Block Color */
        --code-node-border-radius: 2px;
        --code-node-line-number-color: #BDBEBE;
        --code-node-line-number-color-dark: #585858;
        --code-node-line-number-background-color: ;
        --code-node-line-number-background-color-dark: #242424;
        --code-node-background-color: #F7F6F3;
        --code-node-background-color-dark: #242424;
        --code-node-boolean-color: ;
        --code-node-boolean-color-dark: #F4A6C6;
        --code-node-plain-color: ;
        --code-node-plain-color-dark: #BDBEBE;
        --code-node-atrule-color: ;
        --code-node-atrule-color-dark: #AAFF9B;
        --code-node-attribute-color: ;
        --code-node-attribute-color-dark: #B699EB;
        --code-node-attribute-value-color: ;
        --code-node-attribute-value-color-dark: #A8D1FF;
        --code-node-number-color: ;
        --code-node-number-color-dark: #ADADAD;
        --code-node-string-color: ;
        --code-node-string-color-dark: #059F00;
        --code-node-selector-color: ;
        --code-node-selector-color-dark: #BB9CF0;
        --code-node-important-color: ;
        --code-node-important-color-dark: #DAD600;
        --code-node-property-color: ;
        --code-node-property-color-dark: #FFB47B;
        --code-node-punctuation-color: ;
        --code-node-punctuation-color-dark: #E5E8EB;
        --code-node-operator-color: ;
        --code-node-operator-color-dark: #DD7481;
        --code-node-builtin-color: ;
        --code-node-builtin-color-dark: #87CA71;
        --code-node-function-color: ;
        --code-node-function-color-dark: #A3CBF7;
        --code-node-constant-color: ;
        --code-node-constant-color-dark: #AAE8E8;
        --code-node-variable-color: ;
        --code-node-variable-color-dark: #FFA400;
        --code-node-classname-color: ;
        --code-node-classname-color-dark: #DD4A68;
        --code-node-comment-color: ;
        --code-node-comment-color-dark: #757E88;
        --code-node-keyword-color: ;
        --code-node-keyword-color-dark: #FA808E;
        --code-node-tag-color: ;
        --code-node-tag-color-dark: #90EBA7;
        --code-node-url-color: ;
        --code-node-url-color-dark: #A6FBDE;
}
// Basic Style
    // Inline Code
        .quote {
            font-family:        var(--code-font-family);
            font-size:          var(--code-font-size);
            color:              var(--inline-code-color);
            background-color:   var(--inline-code-background-color);
            padding:            1px 3px 1px 3px;
        }
    // Code Block
        #code-node {
            font-family:    var(--code-font-family);
            font-size:      var(--code-font-size); 
            border:         0;
            width:          101.5%;
            padding-right:  10px;
            padding-left:   40px;
            margin-top:     2px;
            margin-bottom:  2px;
            border-radius:  0.3em;
            overflow:       auto;
            white-space:    pre;

            // Codeblock Line Number
                #code-node__inner {
                    .codeLine {
                        counter-increment: codeLineNumber;

                        &::before {
                            color:          var(--line-number-color);
                            position:       absolute;
                            left:           0px;
                            width:          var(--line-number-width);
                            box-sizing:     border-box;
                            padding-right:  5px;
                            padding-top:    1px;
                            content:        counters(codeLineNumber, ".") " ";
                            text-align:     center;
                            font-family:    Helvetica;
                            font-size:      13px;
                            font-weight:    100;
                            opacity: .3;
                        }
                    }
                }
                &::before {
                    content:            "";
                    display:            block;
                    position:           absolute;
                    left:               0;
                    top:                0;
                    bottom:             0;
                    background-color:   var(--line-number-background-color, rgba(0, 0, 0, 0.04));
                    border-radius:      var(--code-node-border-radius, 7px) 0 0;
                    width:              calc(var(--line-number-width, 45px) - 7px);
                }
            // Codeblock Inline Caption
                + span.quote, 
                + div span.quote {
                    background-color: unset !important;
                    color: #8E8D8A !important;
                    font-size: 14px !important;
                    position: relative;
                    top: -4px;
                    left: -10px;
                }
        }
// Language Converter
    #code-node__change-language-dropdown {
        opacity: 40%;
    
        &:hover {
            position: relative;
            opacity: 70%;
            padding-right: 5px;
            border-radius: 5px;
        }
    }
// Darkmode Compatibility
    .dark-mode {
        #code-node {
            border: 1px solid black;

            &:not(.token.property):not(.token.function):not(.token.string):not(.token.builtin):not(.token.comment):not(.token.selector):not(.token.keyword):not(.token.number):not(.token.operator):not(.token.punctuation),
            .token.plain {
                color: var(--code-node-plain-color-dark);
            }
            .token.property {color: var(--code-node-property-color-dark);}
            .token.atrule {color: var(--code-node-atrule-color-dark);}
            .token.tag {color: var(--code-node-tag-color-dark);}
            .token.tag.punctuation {color: var(--code-node-tag-color-dark);}
            .token.function {color: var(--code-node-function-color-dark);}
            .token.string {color: var(--code-node-string-color-dark) !important;}
            .token.selector {color: var(--code-node-selector-color-dark);}
            .token.comment {color: var(--code-node-comment-color-dark);}
            .token.important {color: var(--code-node-important-color-dark);}
            .token.keyword {color: var(--code-node-keyword-color-dark);}
            .token.builtin {color: var(--code-node-builtin-color-dark);}
            .token.boolean {color: var(--code-node-boolean-color-dark);}
            .token.number {color: var(--code-node-number-color-dark);}
            .token.operator {color: var(--code-node-operator-color-dark);}
            .token.constant {color: var(--code-node-constant-color-dark);}
            .token.variable {color: var(--code-node-variable-color-dark);}
            .token.class-name {color: var(--code-node-classname-color-dark);}
            .token.class-name {color: var(--code-node-classname-color-dark);}
            .token.url {color: var(--code-node-url-color-dark); background-color: unset;}
            .token.doctype.punctuation {color: var(--code-node-punctuation-color-dark);}
            .token.tag.punctuation {color: var(--code-node-punctuation-color-dark);}
            .token.tag.attr-value.punctuation {color: var(--code-node-punctuation-color-dark);}
            .token.tag.attr-value.punctuation.attr-equals {color: var(--code-node-punctuation-color-dark);}
            .token.doctype.doctype-tag {color: var(--code-node-punctuation-color-dark);}
            .token.doctype.name {color: var(--code-node-punctuation-color-dark);}
            .token.tag.attr-name {color: var(--code-node-attribute-color-dark);}
            .token.tag.attr-value {color: var(--code-node-attribute-value-color-dark);}
        }
        // Language Converter
            #code-node__change-language-dropdown {
                background-color: #D7DD95;
                border-radius: 5px;
            }
    }