:root {
    --table-title-background-color: #EEEEEB;
    --table-title-background-color-dark: #000;
    --table-columnrow-background-color: #F7F6F3;
    --table-columnrow-background-color-dark: #555;
    --table-cell-background-color: #FFFFFF;
    --table-cell-background-color-dark: #2F3437;
    --table-border-color: #EEEEEB;
    --table-border-color-dark: #535353;
}
// Table Row LineBreaker (Just hacky method)
    [data-rem-container-tags*="lb"] {
        > .TreeNode {
            position: relative;
            left: -10px !important;
            border-left: unset !important;
        }
        .text-gray-20 {
            display: none;
        }
    }
    [data-rem-tags*="lb"] {
        height: 5px;
        // Tag Declutter
        .hierarchy-editor__tag-bar__tag {
            background-color: transparent !important;

            span {
                display: none;
            }
        }
    }
// Whole Table Area
    #hierarchy-editor {
        [data-rem-container-tags~="table90"],
        [data-rem-container-tags~="table120"],
        [data-rem-container-tags~="table150"],
        [data-rem-container-tags~="table180"],
        [data-rem-container-tags~="table210"],
        [data-rem-container-tags~="table240"],
        [data-rem-container-tags~="table270"],
        [data-rem-container-tags~="table300"],
        [data-rem-container-tags~="table330"],
        [data-rem-container-tags~="table360"],
        [data-rem-container-tags~="table390"],
        [data-rem-container-tags~="table420"],
        [data-rem-container-tags~="table450"],
        [data-rem-container-tags~="table480"],
        [data-rem-container-tags~="table510"],
        [data-rem-container-tags~="table540"],
        [data-rem-container-tags~="table570"],
        [data-rem-container-tags~="table600"],
        [data-rem-container-tags~="table630"],
        [data-rem-container-tags~="table660"],
        [data-rem-container-tags~="table690"],
        [data-rem-container-tags~="table720"],
        [data-rem-container-tags~="table750"],
        [data-rem-container-tags~="table780"],
        [data-rem-container-tags~="table810"],
        [data-rem-container-tags~="table840"],
        [data-rem-container-tags~="table870"],
        [data-rem-container-tags~="table900"],
        [data-rem-container-tags~="table930"],
        [data-rem-container-tags~="table960"],
        [data-rem-container-tags~="table990"],
        [data-rem-container-tags~="table1020"],
        [data-rem-container-tags~="table1050"],
        [data-rem-container-tags~="table1080"],
        [data-rem-container-tags~="table1110"],
        [data-rem-container-tags~="table1140"],
        [data-rem-container-tags~="table1170"],
        [data-rem-container-tags~="table1200"] {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-left: 1.5rem;
            margin-right: 0.7rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: var(--table-columnrow-background-color);
            // Fix Global Flaw
                .EditorContainer {
                    overflow-wrap: anywhere !important;
                }
                .rem-text {
                    min-width: 50px;
                }
                // Remove Placeholder(Empty Rem)
                    .text-gray-20 {
                        display: none;
                    }
            // Remove Bullet
                .perfect-circle__inner {
                    .rem-bullet__ring {

                    }
                    .rem-bullet__core {
                        fill: transparent;
                    }
                }
            // Table Column Color Preset
                .TreeNode {
                    border-color: var(--table-columnrow-background-color);
                    border-left: 0;
                    margin-left: 0;
                    margin-right: 0;
                    left: 0;
                }
            // Table Title
                > :first-child {
                    border: 0.1rem solid var(--table-border-color);
                    background-color: var(--table-title-background-color);
                    background-size: 100% 100%;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
            // Table Grid Scrollable
                > .TreeNode {
                    display: grid;
                    grid-auto-rows: auto;
                    border-left: unset;
                    overflow-x: auto;
                    white-space: pre;

                    border: 1px solid  var(--table-border-color);

                    // Remove Overflow Content
                        .right-\[-4px\] {
                            right: 4px;
                        }
                        .float-end {
                            display: none;
                        }
                        [data-icon~="merge"] {
                            display: none;
                        }
                    // Table Left Attribute Cell
                        > .TreeNode {
                            border: 1px solid  var(--table-border-color);
                            margin-left: 6px;
                        }
                    // Table Row and Column Attribute Cell
                        > .tree-node-container {
                            // Table all the horizontal lines
                            border: 0.01rem solid var(--table-border-color);
                            border-left: unset;

                            > :first-child {
                                float: left;
                                font-weight: bold;
                                background-color: var(--table-columnrow-background-color);
                                text-align: left;
                                padding-left: 0em;
                            }
                            // Table Content Cell
                                > .TreeNode {
                                    display: flex;
                                    flex-direction: rows;
                                    text-align: left;

                                    > .tree-node-container {
                                        background-color: var(--table-cell-background-color);
                                        border-left: 0.07rem solid var(--table-border-color);
                                        flex: 1 1 0;

                                        // For Selecting Dense-width Cell Text Eclipsed with Rem-container
                                            .rich-text-editor {
                                                z-index: 1;
                                            }
                                    }
                                }
                        }
                    // Table Cell Hightlight Right Margin
                        [data-rem-tags~="highlight"] {
                            margin-right: 0;

                            .highlight-color--red, 
                            .highlight-color--orange, 
                            .highlight-color--yellow, 
                            .highlight-color--green, 
                            .highlight-color--blue, 
                            .highlight-color--purple {
                                padding: 0;
                            }
                        }
                }
            // Controling of Overflowed Element
                #code-node {
                    width: 99%;
                }
        }
    }
    // Darkmode
        .dark-mode {
            #hierarchy-editor {
                [data-rem-container-tags~="table90"],
                [data-rem-container-tags~="table120"],
                [data-rem-container-tags~="table150"],
                [data-rem-container-tags~="table180"],
                [data-rem-container-tags~="table210"],
                [data-rem-container-tags~="table240"],
                [data-rem-container-tags~="table270"],
                [data-rem-container-tags~="table300"],
                [data-rem-container-tags~="table330"],
                [data-rem-container-tags~="table360"],
                [data-rem-container-tags~="table390"],
                [data-rem-container-tags~="table420"],
                [data-rem-container-tags~="table450"],
                [data-rem-container-tags~="table480"],
                [data-rem-container-tags~="table510"],
                [data-rem-container-tags~="table540"],
                [data-rem-container-tags~="table570"],
                [data-rem-container-tags~="table600"],
                [data-rem-container-tags~="table630"],
                [data-rem-container-tags~="table660"],
                [data-rem-container-tags~="table690"],
                [data-rem-container-tags~="table720"],
                [data-rem-container-tags~="table750"],
                [data-rem-container-tags~="table780"],
                [data-rem-container-tags~="table810"],
                [data-rem-container-tags~="table840"],
                [data-rem-container-tags~="table870"],
                [data-rem-container-tags~="table900"],
                [data-rem-container-tags~="table930"],
                [data-rem-container-tags~="table960"],
                [data-rem-container-tags~="table990"],
                [data-rem-container-tags~="table1020"],
                [data-rem-container-tags~="table1050"],
                [data-rem-container-tags~="table1080"],
                [data-rem-container-tags~="table1110"],
                [data-rem-container-tags~="table1140"],
                [data-rem-container-tags~="table1170"],
                [data-rem-container-tags~="table1200"] {
                    background-color: var(--table-columnrow-background-color-dark);
                    
                    // Table Title
                        > :first-child {
                            border: 0.07rem solid var(--table-border-color-dark);
                            border-bottom: unset;
                            background-color: var(--table-title-background-color-dark);
                        }
                    // Table Left Attribute Cell
                        > .TreeNode {
                            border: 0.07rem solid  var(--table-border-color-dark);
                            border-top: unset;

                            > :first-child {
                                border-right: unset;
                            }
                            // Table Row and Column Attribute Cell
                                > .tree-node-container {
                                    // Table all the horizontal lines
                                    border: 0.01rem solid var(--table-columnrow-background-color-dark);
                                    border-right: unset;

                                    > :first-child {
                                        background-color: var(--table-columnrow-background-color-dark) !important;
                                    }
                                    // Table Content Cell
                                        > .TreeNode {
                                            > .tree-node-container {
                                                background-color: var(--table-cell-background-color-dark);
                                                border-left: 0.07rem solid var(--table-border-color-dark);
                                            }
                                        }
                                }
                        }
                }
            }
        }
// Table Row and Column Attribute Cell
    [data-rem-container-tags~="table90"] > .TreeNode > .tree-node-container > :first-child {width: 90px !important;}
    [data-rem-container-tags~="table120"] > .TreeNode > .tree-node-container > :first-child {width: 120px !important;}
    [data-rem-container-tags~="table150"] > .TreeNode > .tree-node-container > :first-child {width: 150px !important;}
    [data-rem-container-tags~="table180"] > .TreeNode > .tree-node-container > :first-child {width: 180px !important;}
    [data-rem-container-tags~="table210"] > .TreeNode > .tree-node-container > :first-child {width: 210px !important;}
    [data-rem-container-tags~="table240"] > .TreeNode > .tree-node-container > :first-child {width: 240px !important;}
    [data-rem-container-tags~="table270"] > .TreeNode > .tree-node-container > :first-child {width: 270px !important;}
    [data-rem-container-tags~="table300"] > .TreeNode > .tree-node-container > :first-child {width: 300px !important;}
    [data-rem-container-tags~="table330"] > .TreeNode > .tree-node-container > :first-child {width: 330px !important;}
    [data-rem-container-tags~="table360"] > .TreeNode > .tree-node-container > :first-child {width: 360px !important;}
    [data-rem-container-tags~="table390"] > .TreeNode > .tree-node-container > :first-child {width: 390px !important;}
    [data-rem-container-tags~="table420"] > .TreeNode > .tree-node-container > :first-child {width: 420px !important;}
    [data-rem-container-tags~="table450"] > .TreeNode > .tree-node-container > :first-child {width: 450px !important;}
    [data-rem-container-tags~="table480"] > .TreeNode > .tree-node-container > :first-child {width: 480px !important;}
    [data-rem-container-tags~="table510"] > .TreeNode > .tree-node-container > :first-child {width: 510px !important;}
    [data-rem-container-tags~="table540"] > .TreeNode > .tree-node-container > :first-child {width: 540px !important;}
    [data-rem-container-tags~="table570"] > .TreeNode > .tree-node-container > :first-child {width: 570px !important;}
    [data-rem-container-tags~="table600"] > .TreeNode > .tree-node-container > :first-child {width: 600px !important;}
    [data-rem-container-tags~="table630"] > .TreeNode > .tree-node-container > :first-child {width: 630px !important;}
    [data-rem-container-tags~="table660"] > .TreeNode > .tree-node-container > :first-child {width: 660px !important;}
    [data-rem-container-tags~="table690"] > .TreeNode > .tree-node-container > :first-child {width: 690px !important;}
    [data-rem-container-tags~="table720"] > .TreeNode > .tree-node-container > :first-child {width: 720px !important;}
    [data-rem-container-tags~="table750"] > .TreeNode > .tree-node-container > :first-child {width: 750px !important;}
    [data-rem-container-tags~="table780"] > .TreeNode > .tree-node-container > :first-child {width: 780px !important;}
    [data-rem-container-tags~="table810"] > .TreeNode > .tree-node-container > :first-child {width: 810px !important;}
    [data-rem-container-tags~="table840"] > .TreeNode > .tree-node-container > :first-child {width: 840px !important;}
    [data-rem-container-tags~="table870"] > .TreeNode > .tree-node-container > :first-child {width: 870px !important;}
    [data-rem-container-tags~="table900"] > .TreeNode > .tree-node-container > :first-child {width: 900px !important;}
    [data-rem-container-tags~="table930"] > .TreeNode > .tree-node-container > :first-child {width: 930px !important;}
    [data-rem-container-tags~="table960"] > .TreeNode > .tree-node-container > :first-child {width: 960px !important;}
    [data-rem-container-tags~="table990"] > .TreeNode > .tree-node-container > :first-child {width: 990px !important;}
    [data-rem-container-tags~="table1020"] > .TreeNode > .tree-node-container > :first-child {width: 1020px !important;}
    [data-rem-container-tags~="table1050"] > .TreeNode > .tree-node-container > :first-child {width: 1050px !important;}
    [data-rem-container-tags~="table1080"] > .TreeNode > .tree-node-container > :first-child {width: 1080px !important;}
    [data-rem-container-tags~="table1110"] > .TreeNode > .tree-node-container > :first-child {width: 1110px !important;}
    [data-rem-container-tags~="table1140"] > .TreeNode > .tree-node-container > :first-child {width: 1140px !important;}
    [data-rem-container-tags~="table1170"] > .TreeNode > .tree-node-container > :first-child {width: 1170px !important;}
    [data-rem-container-tags~="table1200"]  > .TreeNode > .tree-node-container > :first-child {width: 1200px !important;}
// Table Column Color Preset
	[data-rem-tags~="tablecolor"] {
        background-color: var(--table-columnrow-background-color);
        font-weight: bold;
        text-align: center;
        // Prevent Line Break
            .rem-text {
                .EditorContainer {
                    white-space: nowrap !important;

                    .RichTextViewer {
                        white-space: nowrap;
                    }
                }
            }
        // Declutter Tag
            .hierarchy-editor__tag-bar__tag {
                color: transparent;
                background-color: transparent !important;

                span {
                    display: none;
                }

                .hierarchy-editor__tag-bar__tag__delete {
                    opacity: .2;
                    left: 12px;
                }
            }
    }
    // Darkmode
        .dark-mode {
            [data-rem-tags~="tablecolor"] {
                background-color: var(--table-columnrow-background-color-dark);
            }
        }
// Table Grid Scrollable
    [data-rem-container-tags~="w30"],
    [data-rem-container-tags~="w60"],
    [data-rem-container-tags~="w90"],
    [data-rem-container-tags~="w120"],
    [data-rem-container-tags~="w150"],
    [data-rem-container-tags~="w180"],
    [data-rem-container-tags~="w210"],
    [data-rem-container-tags~="w240"],
    [data-rem-container-tags~="w270"],
    [data-rem-container-tags~="w300"],
    [data-rem-container-tags~="w330"],
    [data-rem-container-tags~="w360"],
    [data-rem-container-tags~="w390"],
    [data-rem-container-tags~="w420"],
    [data-rem-container-tags~="w450"],
    [data-rem-container-tags~="w480"],
    [data-rem-container-tags~="w510"],
    [data-rem-container-tags~="w540"],
    [data-rem-container-tags~="w570"],
    [data-rem-container-tags~="w600"],
    [data-rem-container-tags~="w630"],
    [data-rem-container-tags~="w660"],
    [data-rem-container-tags~="w690"],
    [data-rem-container-tags~="w720"],
    [data-rem-container-tags~="w750"],
    [data-rem-container-tags~="w780"],
    [data-rem-container-tags~="w810"],
    [data-rem-container-tags~="w840"],
    [data-rem-container-tags~="w870"],
    [data-rem-container-tags~="w900"],
    [data-rem-container-tags~="w930"],
    [data-rem-container-tags~="w960"],
    [data-rem-container-tags~="w990"],
    [data-rem-container-tags~="w1020"],
    [data-rem-container-tags~="w1050"],
    [data-rem-container-tags~="w1080"],
    [data-rem-container-tags~="w1110"],
    [data-rem-container-tags~="w1140"],
    [data-rem-container-tags~="w1170"],
    [data-rem-container-tags~="w1200"] {
        > .TreeNode {
            overflow-x: auto;
            white-space: pre;
        }
    }
// Width Adjustment of Table Content Cell
    [data-rem-container-tags~="w30"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 30px;}
    [data-rem-container-tags~="w60"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 60px;}
    [data-rem-container-tags~="w90"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 90px;}
    [data-rem-container-tags~="w120"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 120px;}
    [data-rem-container-tags~="w150"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 150px;}
    [data-rem-container-tags~="w180"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 180px;}
    [data-rem-container-tags~="w210"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 210px;}
    [data-rem-container-tags~="w240"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 240px;}
    [data-rem-container-tags~="w270"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 270px;}
    [data-rem-container-tags~="w300"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 300px;}
    [data-rem-container-tags~="w330"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 330px;}
    [data-rem-container-tags~="w360"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 360px;}
    [data-rem-container-tags~="w390"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 390px;}
    [data-rem-container-tags~="w420"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 420px;}
    [data-rem-container-tags~="w450"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 450px;}
    [data-rem-container-tags~="w480"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 480px;}
    [data-rem-container-tags~="w510"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 510px;}
    [data-rem-container-tags~="w540"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 540px;}
    [data-rem-container-tags~="w570"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 570px;}
    [data-rem-container-tags~="w600"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 600px;}
    [data-rem-container-tags~="w630"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 630px;}
    [data-rem-container-tags~="w660"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 660px;}
    [data-rem-container-tags~="w690"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 690px;}
    [data-rem-container-tags~="w720"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 720px;}
    [data-rem-container-tags~="w750"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 750px;}
    [data-rem-container-tags~="w780"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 780px;}
    [data-rem-container-tags~="w810"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 810px;}
    [data-rem-container-tags~="w840"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 840px;}
    [data-rem-container-tags~="w870"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 870px;}
    [data-rem-container-tags~="w900"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 900px;}
    [data-rem-container-tags~="w930"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 930px;}
    [data-rem-container-tags~="w960"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 960px;}
    [data-rem-container-tags~="w990"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 990px;}
    [data-rem-container-tags~="w1020"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 1020px;}
    [data-rem-container-tags~="w1050"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 1050px;}
    [data-rem-container-tags~="w1080"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 1080px;}
    [data-rem-container-tags~="w1110"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 1110px;}
    [data-rem-container-tags~="w1140"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 1140px;}
    [data-rem-container-tags~="w1170"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 1170px;}
    [data-rem-container-tags~="w1200"] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {width: 1200px;}