:root {
    --callout-background-color: #F7F6F3;
    --callout-background-color-dark: #505050;
    --callout-text-color-dark: #DFDFD5;
    --callout-text-bold-color-dark: #FFF;
    --calloutred-background-color: #FFE9EC;
    --calloutred-background-color-dark: #572924;
    --calloutred-text-color: #721C25;
    --calloutred-text-color-dark: #FFD2CE;
    --calloutred-text-bold-color-dark: #FFEAE3;
    --calloutorange-background-color: #FDEDD9;
    --calloutorange-background-color-dark: #553D24;
    --calloutorange-text-color: #572924;
    --calloutorange-text-color-dark: #FFDAB8;
    --calloutorange-text-bold-color-dark: #FFF0D6;
    --calloutyellow-background-color: #FFF9DE;
    --calloutyellow-background-color-dark: #453E1E;
    --calloutyellow-text-color: #454501;
    --calloutyellow-text-color-dark: #E8DDA7;
    --calloutyellow-text-bold-color-dark: #FFFECA;
    --calloutgreen-background-color: #D5EED7;
    --calloutgreen-background-color-dark: #253F27;
    --calloutgreen-text-color: #003E01;
    --calloutgreen-text-color-dark: #B3DDAB;
    --calloutgreen-text-bold-color-dark: #DCFFD9;
    --calloutblue-background-color: #E6F3F6;
    --calloutblue-background-color-dark: #183C4D;
    --calloutblue-text-color: #00005B;
    --calloutblue-text-color-dark: #B5DEE8;
    --calloutblue-text-bold-color-dark: #DDFCFF;
    --calloutpurple-background-color: #F1EEFE;
    --calloutpurple-background-color-dark: #43273F;
    --calloutpurple-text-color: #3B004D;
    --calloutpurple-text-color-dark: #DDC3EB;
    --calloutpurple-text-bold-color-dark: #F6ECFF;
    --callout-padding: 15px 20px;
    --callout-margin-top: 7px;
    --callout-margin-bottom: 7px;
    --callout-margin-left: 24px;
    --callout-margin-right: 12px;
    --callout-border-radius: 5px;
}
// Interim Measure
    .rem-header--1:not(.document-title),
    .rem-header--2:not(.document-title),
    .rem-header--3:not(.document-title) {
        color: unset;
    }
// Custom rem bullet Emoji
    [data-rem-tags~="callout"],
    [data-rem-tags~="calloutred"],
    [data-rem-tags~="calloutorange"],
    [data-rem-tags~="calloutyellow"],
    [data-rem-tags~="calloutgreen"],
    [data-rem-tags~="calloutblue"],
    [data-rem-tags~="calloutpurple"] {
        .rem-text {
            .EditorContainer {
                [data-rem-tags~="emoji"] {
                    span.emoji-powerup {
                        position: absolute;
                        left: -1.5rem;
                        z-index: 0;
                        pointer-events: none;
                    }
                }
            }
        }
    }
// Callout Rem Block Color-Variable & Pre-Coloured
    [data-rem-container-tags~="callout"],
    [data-rem-container-tags~="calloutred"],
    [data-rem-container-tags~="calloutorange"],
    [data-rem-container-tags~="calloutyellow"],
    [data-rem-container-tags~="calloutgreen"],
    [data-rem-container-tags~="calloutblue"],
    [data-rem-container-tags~="calloutpurple"] {
        padding: var(--callout-padding);
        margin-top: var(--callout-margin-top);
        margin-bottom: var(--callout-margin-bottom);
        margin-left: var(--callout-margin-left);
        margin-right: var(--callout-margin-right);
        border-radius: var(--callout-border-radius);

        .EditorContainer {
            line-height: 180%;
        }
        .rem-container--header-1 {
            .rem-button__container {
                margin-top: 15px;
            }
        }
        .rem-container--header-2 {
            .rem-button__container {
                margin-top: 8px;
            }
        }
        .rem-container--header-3 {
            .rem-button__container {
                margin-top: 7px;
            }
        }
        .rem-button__container {
            margin-top: 6px;
        }
    }
    [data-rem-container-tags~="callout"] {
        background-color: var(--callout-background-color);
    }
    [data-rem-container-tags~="calloutred"] {
        color: var(--calloutred-text-color);
        background-color: var(--calloutred-background-color);
    }
    [data-rem-container-tags~="calloutorange"] {
        color: var(--calloutorange-text-color);
        background-color: var(--calloutorange-background-color);
    }
    [data-rem-container-tags~="calloutyellow"] {
        color: var(--calloutyellow-text-color);
        background-color: var(--calloutyellow-background-color);
    }
    [data-rem-container-tags~="calloutgreen"] {
        color: var(--calloutgreen-text-color);
        background-color: var(--calloutgreen-background-color);
    }
    [data-rem-container-tags~="calloutblue"] {
        color: var(--calloutblue-text-color);
        background-color: var(--calloutblue-background-color);
    }
    [data-rem-container-tags~="calloutpurple"] {
        color: var(--calloutpurple-text-color);
        background-color: var(--calloutpurple-background-color);
    }
// Darkmode Compatibility
    .dark {
        [data-rem-container-tags~="callout"] {
            background-color: var(--callout-background-color-dark);

            .rem-text {
                color: var(--callout-text-color-dark);

                .bold {
                    &:not(.highlight-color--red),
                    &:not(.highlight-color--orange),
                    &:not(.highlight-color--yellow),
                    &:not(.highlight-color--green),
                    &:not(.highlight-color--blue),
                    &:not(.highlight-color--purple) {
                        color: var(--callout-text-bold-color-dark) !important;
                    }
                }
            }
        }
        [data-rem-container-tags~="calloutred"] {
            background-color: var(--calloutred-background-color-dark);

            .rem-text {
                color: var(--calloutred-text-color-dark);

                .bold {
                    &:not(.highlight-color--red),
                    &:not(.highlight-color--orange),
                    &:not(.highlight-color--yellow),
                    &:not(.highlight-color--green),
                    &:not(.highlight-color--blue),
                    &:not(.highlight-color--purple) {
                        color: var(--calloutred-text-bold-color-dark) !important;
                    }
                }
            }
        }
        [data-rem-container-tags~="calloutorange"] {
            background-color: var(--calloutorange-background-color-dark);

            .rem-text {
                color: var(--calloutorange-text-color-dark);

                .bold {
                    &:not(.highlight-color--red),
                    &:not(.highlight-color--orange),
                    &:not(.highlight-color--yellow),
                    &:not(.highlight-color--green),
                    &:not(.highlight-color--blue),
                    &:not(.highlight-color--purple) {
                        color: var(--calloutorange-text-bold-color-dark) !important;
                    }
                }
            }
        }
        [data-rem-container-tags~="calloutyellow"] {
            background-color: var(--calloutyellow-background-color-dark);

            .rem-text {
                color: var(--calloutyellow-text-color-dark);

                .bold {
                    &:not(.highlight-color--red),
                    &:not(.highlight-color--orange),
                    &:not(.highlight-color--yellow),
                    &:not(.highlight-color--green),
                    &:not(.highlight-color--blue),
                    &:not(.highlight-color--purple) {
                        color: var(--calloutyellow-text-bold-color-dark) !important;
                    }
                }
            }
        }
        [data-rem-container-tags~="calloutgreen"] {
            background-color: var(--calloutgreen-background-color-dark);

            .rem-text {
                color: var(--calloutgreen-text-color-dark);

                .bold {
                    &:not(.highlight-color--red),
                    &:not(.highlight-color--orange),
                    &:not(.highlight-color--yellow),
                    &:not(.highlight-color--green),
                    &:not(.highlight-color--blue),
                    &:not(.highlight-color--purple) {
                        color: var(--calloutgreen-text-bold-color-dark) !important;
                    }
                }
            }
        }
        [data-rem-container-tags~="calloutblue"] {
            background-color: var(--calloutblue-background-color-dark);

            .rem-text {
                color: var(--calloutblue-text-color-dark);

                .EditorContainer {
                    .bold {
                        &:not(.highlight-color--red),
                        &:not(.highlight-color--orange),
                        &:not(.highlight-color--yellow),
                        &:not(.highlight-color--green),
                        &:not(.highlight-color--blue),
                        &:not(.highlight-color--purple) {
                            color: var(--calloutblue-text-bold-color-dark) !important;
                        }
                    }
                }
            }
        }
        [data-rem-container-tags~="calloutpurple"] {
            background-color: var(--calloutpurple-background-color-dark);

            .rem-text {
                color: var(--calloutpurple-text-color-dark);

                .bold {
                    &:not(.highlight-color--red),
                    &:not(.highlight-color--orange),
                    &:not(.highlight-color--yellow),
                    &:not(.highlight-color--green),
                    &:not(.highlight-color--blue),
                    &:not(.highlight-color--purple) {
                        color: var(--calloutpurple-text-bold-color-dark) !important;
                    }
                }
            }
        }
    }
// Alignment
    // Card Item Callout
        .node-card-item[data-rem-container-tags~="callout"],
        .node-card-item[data-rem-container-tags~="calloutred"],
        .node-card-item[data-rem-container-tags~="calloutorange"],
        .node-card-item[data-rem-container-tags~="calloutyellow"],
        .node-card-item[data-rem-container-tags~="calloutgreen"],
        .node-card-item[data-rem-container-tags~="calloutblue"],
        .node-card-item[data-rem-container-tags~="calloutpurple"] {
            &::before {
                top: -10px;
                left: -24px;
                height: 130%;
            }
        }
    // Flashcard Preview
        .spacedRepetitionAnswer {
            .node-card-item {
                &[data-rem-container-tags~="callout"],
                &[data-rem-container-tags~="calloutred"],
                &[data-rem-container-tags~="calloutorange"],
                &[data-rem-container-tags~="calloutyellow"],
                &[data-rem-container-tags~="calloutgreen"],
                &[data-rem-container-tags~="calloutblue"],
                &[data-rem-container-tags~="calloutpurple"] {
                    margin-left: var(--callout-margin-left);
                }
            }
        }
// Tag Declutter
    [data-rem-container-tags~="callout"],
    [data-rem-container-tags~="calloutred"],
    [data-rem-container-tags~="calloutorange"],
    [data-rem-container-tags~="calloutyellow"],
    [data-rem-container-tags~="calloutgreen"],
    [data-rem-container-tags~="calloutblue"],
    [data-rem-container-tags~="calloutpurple"] {
        .float-end {
            .hierarchy-editor__tag-bar {
                span.hierarchy-editor__tag-bar__tag {
                    background-color: transparent !important;

                    > div:first-of-type,
                    > span {
                        display: none;
                    }

                    .hierarchy-editor__tag-bar__tag__delete {
                        opacity: .3;
                    }
                }
            }
        }
    }