@mixin triangle-hidden {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
}

@mixin triangle-visible {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 6px 0 6px !important;
	border-radius: 3px;
}

@mixin triangle-doc-hidden {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 8px !important;
	border-radius: 3px;
}

@mixin triangle-doc-visible {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 0 8px !important;
	border-radius: 3px;
}

@mixin bulletlist {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3.5px;
	border-radius: 10px;
}

:root {
	// TreeNode Adjustment
		--treenode-line-spacing: 16px;
	// Basic Bullet Color
		--bullet-main: #000;
		--bullet-main-dark: #C2C2C2;
		--bullet-doc: #50FA7B;
		--bullet-folder: #53555F;
		--bullet-concept: #53555F;
		--bullet-descriptor: #53555F;
	// Practice Bullet Color
		--both-practice-color: #FFA344;
		--forward-practice-color: #FF2600;
		--backward-practice-color: #D783FF;
		--disabled-practice-color: #959595;
	// TreeNode Color
		--line-color: #DDDDDD;
		--node-card-item-color: #FF4E4C;
		--node-card-item-color-dark: #E0CD00;
}
// Rem Hierarchy Text Editor Line Height
	.EditorContainer {
		line-height: 160%;
	}
// Disable Bullet Event
	.rem-button__container {
		.rem-bullet__container {
			.pointer-events-auto {
				pointer-events: none;
			} 
			.rem-bullet--all-children-visible {
				.perfect-circle__inner {
					> svg {
						display: none;
						.rem-bullet__core {
							display: none;
						}
					}
				}
			}
			.rem-bullet--hidden-children {
				.perfect-circle__inner {
					> svg {
						display: none;
						.rem-bullet__core {
							display: none;
						}
					}
				}
			}
			.rem-icon-bullet__wrapper {
				display: none;
			}
		}
	}
// Move Toggle Foldable Triangle Button and Six Dots Rem Mover to the Right Side
	#hierarchy-editor {
		.rem-container {
			.rem-button__container {
				.toggle-collapse-button,
				.six-dot {
					position: relative;
					left: 24px;
				}
			}
		}
	}
// Bullet Container Alignment
	.rem-container--header-1 {
		.rem-button__container {
			margin-top: 8px;
		}
	}
	.rem-container--header-2 {
		.rem-button__container {
			margin-top: 7px;
		}
	}
	.rem-container--header-3 {
		.rem-button__container {
			margin-top: 6px;
		}
	}
	.rem-button__container {
		margin-top: 5px;
	}
// Parent Bullet (Toggle Triangle)
	.rem-button__container {
		.rem-bullet__container {
			.rem-bullet.rem-bullet--hidden-children,
			.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
			.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
			.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3 {
				@include triangle-hidden;
				border-color: transparent transparent transparent var(--bullet-main);
			}
		}
	}
	#hierarchy-editor {
		.rem-container--focused {
			.rem-bullet.rem-bullet--hidden-children {
				@include triangle-hidden;
				border-color: transparent transparent transparent var(--bullet-main);
			}
		}
		[data-rem-tags~="highlight"] {
			.rem-container--focused {
				.rem-bullet.rem-bullet--hidden-children {
					@include triangle-hidden;
					border-color: transparent transparent transparent var(--bullet-main);
				}
			}
		}
	}
	// Darkmode Compatibility
		.dark {
			.rem-button__container {
				.rem-bullet__container {
					.rem-bullet.rem-bullet--hidden-children,
					.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
					.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
					.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3 {
						@include triangle-hidden;
						border-color: transparent transparent transparent var(--bullet-main-dark);
					}
				}
			}
			#hierarchy-editor {
				.rem-container--focused {
					.rem-bullet.rem-bullet--hidden-children {
						@include triangle-hidden;
						border-color: transparent transparent transparent var(--bullet-main-dark);
					}
				}
			}
			[data-rem-tags~="highlight"] {
				.rem-button__container {
					.rem-bullet__container {
						.rem-bullet.rem-bullet--hidden-children,
						.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
						.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
						.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3 {
							@include triangle-hidden;
							border-color: transparent transparent transparent var(--bullet-main-dark);
						}
					}
				}
			}
			#hierarchy-editor {
				[data-rem-tags~="highlight"] {
					.rem-container--focused {
						.rem-bullet.rem-bullet--hidden-children {
							@include triangle-hidden;
							border-color: transparent transparent transparent var(--bullet-main-dark);
						}
					}
				}
			}
		}
	// Toggle Arrow Visibility in Hightlighted Rem
		.highlight-color--red, 
		.highlight-color--orange,
		.highlight-color--yellow,
		.highlight-color--green,
		.highlight-color--blue,
		.highlight-color--purple {
			.rem-bullet__container {
				.rem-bullet.rem-bullet--hidden-children,
				.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
				.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
				.rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3 {
					@include triangle-hidden;
					border-color: transparent transparent transparent var(--bullet-main);
				}
			}
		}
	// Alias Bullet
		[data-rem-tags~="aliases"] {
			.rem-container--descriptor-rem-type {
				.rem-button__container {
					.rem-bullet__container {
						.rem-bullet--hidden-children {
							@include triangle-hidden;
							border-color: transparent transparent transparent var(--bullet-main);
							width: 0 !important;
							height: 0 !important;
							position: relative;
							top: 0rem !important;
							left: 0rem !important;
							zoom: unset;
							background: unset;
							-webkit-mask-image : unset;
									mask-image : unset;
						}
						.rem-bullet--all-children-visible {
							@include triangle-visible;
							border-color: var(--bullet-main) transparent transparent transparent;
							width: 0 !important;
							height: 0 !important;
							position: relative;
							top: 0rem !important;
							left: 0rem !important;
							zoom: unset;
							background: unset;
							-webkit-mask-image : unset;
									mask-image : unset;
						}
					}
				}
			}
		}
		.dark {
			[data-rem-tags~="aliases"] {
				.rem-container--descriptor-rem-type {
					.rem-button__container {
						.rem-bullet__container {
							.rem-bullet--hidden-children {
								border-color: transparent transparent transparent var(--bullet-main-dark);
							}
							.rem-bullet--all-children-visible {
								border-color: var(--bullet-main-dark) transparent transparent transparent;
							}
						}
					}
				}
			}
		}
		// Descriptor-Rem-Type Bullet
			// .rem-container--descriptor-rem-type {
			// 	.rem-bullet {
			// 		width: 14px !important;
			// 		height: 12px !important;
			// 		position: relative !important;
			// 		top: 2px !important;
			// 		left: -1px !important;
			// 		-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
			// 				mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
			// 		-webkit-mask-size: contain;
			// 				mask-size: contain;
			// 		-webkit-mask-repeat: no-repeat;
			// 				mask-repeat: no-repeat;
			// 	}
			// }
// Forder & File Style
	.rem-button__container {
		.rem-bullet__container {
			.rem-icon-bullet.rem-bullet--hidden-children {
				@include triangle-doc-hidden;
				border-color: transparent transparent transparent black;
			}
		}
	}
	.highlight-color--red, 
	.highlight-color--orange,
	.highlight-color--yellow,
	.highlight-color--green,
	.highlight-color--blue,
	.highlight-color--purple {
		.rem-icon-bullet.rem-bullet--hidden-children {
			@include triangle-doc-hidden;
			border-color: transparent transparent transparent black;
		}
	}
	// Darkmode Compatibility
		.dark {
			.rem-button__container {
				.rem-bullet__container {
					.rem-icon-bullet.rem-bullet--hidden-children {
						@include triangle-doc-hidden;
						border-color: transparent transparent transparent white;
					}
				}
			}
			.highlight-color--red, 
			.highlight-color--orange,
			.highlight-color--yellow,
			.highlight-color--green,
			.highlight-color--blue,
			.highlight-color--purple {
				.rem-button__container {
					.rem-bullet__container {
						.rem-icon-bullet.rem-bullet--hidden-children {
							@include triangle-doc-hidden;
							border-color: transparent transparent transparent black;
						}
					}
				}
			}
		}
// TreeNode Style
	#hierarchy-editor {
		.TreeNode {
			border-color: var(--line-color);
			border-width: 1px;
			transition-timing-function: linear;
			position: relative;
			background-color: transparent;
			left: var(--treenode-line-spacing);
			margin-right: var(--treenode-line-spacing);
		}

		// Sticky Top bar
			> .fixed {
				> .tree-node-container {
					> .TreeNode {
						left: 16px !important;
					}
				}
			}
	}
// TreeNode - List Card TreeNode Alert Color
	.node-card-item {
		&:before {
			margin-left: -0.8rem;
			background-color: var(--node-card-item-color);
		}
	}
	.dark {
		.node-card-item {
			&:before {
				background-color: var(--node-card-item-color-dark);
			}
		}
	}
// Rem Bullet for Flashcard Rem
	// Basic & Concept & List Rem-Type Bullet
		// Both
			.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled {
				.rem-bullet {
					background: var(--both-practice-color);
				}
			}
			.dark {
				.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled {
					.rem-bullet {
						background: var(--both-practice-color);
					}
				}
			}
		// Forward
			.rem-container--forwards-practice-enabled {
				.rem-bullet {
					background: var(--forward-practice-color);
					width: 26px;
					height: 18px;
					position: relative;
					left: 6px;
					-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
							mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
					-webkit-mask-size: contain;
							mask-size: contain;
					-webkit-mask-repeat: no-repeat;
							mask-repeat: no-repeat;
					zoom: 80%;

					&.rem-bullet.rem-bullet--hidden-children {
						border-radius: 0px !important;
						position: relative;
						top: 3px;
						left: 0px;
						zoom: 2;
						-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
								mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
						-webkit-mask-size: contain;
								mask-size: contain;
						-webkit-mask-repeat: no-repeat;
								mask-repeat: no-repeat;
					}
				}
			}
			.dark {
				.rem-container--forwards-practice-enabled {
					.rem-bullet {
						background: #E0CD00;
					}
				}
			}
			.rem-container--forwards-practice-disabled {
				.rem-bullet {
					background: var(--disabled-practice-color);
					width: 26px;
					height: 18px;
					position: relative;
					left: 6px;
					-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
							mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
					-webkit-mask-size: contain;
							mask-size: contain;
					-webkit-mask-repeat: no-repeat;
							mask-repeat: no-repeat;
					zoom: 80%;

					&.rem-bullet--hidden-children {
						border-radius: 0px !important;
						position: relative;
						top: 3px;
						left: 0px;
						zoom: 2;
						-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
								mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
						-webkit-mask-size: contain;
								mask-size: contain;
						-webkit-mask-repeat: no-repeat;
								mask-repeat: no-repeat;
					}
				}
			}
		// Backward
			.rem-container--backwards-practice-enabled {
				.rem-bullet {
					background: var(--backward-practice-color);
					width: 26px;
					height: 18px;
					position: relative;
					left: 6px;
					-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
							mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
					-webkit-mask-size: contain;
							mask-size: contain;
					-webkit-mask-repeat: no-repeat;
							mask-repeat: no-repeat;
					zoom: 80%;

					&.rem-bullet--hidden-children {
						border-radius: 0px !important;
						position: relative;
						top: 3px;
						left: 0px;
						zoom: 2;
						-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
								mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
						-webkit-mask-size: contain;
								mask-size: contain;
						-webkit-mask-repeat: no-repeat;
								mask-repeat: no-repeat;
					}
				}
			}
	// Descriptor-Rem-Type Bullet
		.rem-container--descriptor-rem-type {
			.rem-bullet {
				width: 14px !important;
				height: 12px !important;
				position: relative !important;
				top: 2px !important;
				left: -1px !important;
				-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
						mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
				-webkit-mask-size: contain;
						mask-size: contain;
				-webkit-mask-repeat: no-repeat;
						mask-repeat: no-repeat;
			}
		}
	// Card Arrow Decoration
		.rem-container--forwards-practice-enabled {
			&.rem-container--backwards-practice-enabled {
				.separator-symbol.delimiterAnnotation,
				.separator-symbol > span {
					color: #FFA344;
				}
			}
			&.rem-container--backwards-practice-disabled {
				.separator-symbol.delimiterAnnotation,
				.separator-symbol > span {
					color: #FE2600;
				}
			}
		}
		.rem-container--forwards-practice-disabled {
			&.rem-container--backwards-practice-enabled {
				.separator-symbol.delimiterAnnotation,
				.separator-symbol > span {
					color: #D783FF;
				}
			}
			&.rem-container--backwards-practice-disabled {
				.separator-symbol.delimiterAnnotation,
				.separator-symbol > span {
					color: #959595;
				}
			}
		}
		.dark {
			.rem-container--forwards-practice-enabled {
				&.rem-container--backwards-practice-disabled {
		
					.separator-symbol.delimiterAnnotation,
					.separator-symbol>span {
						color: #E0CD00;
					}
				}
			}
		}
// Make Bullet-list by Intentional Tagging
	// Bulletlist
		[data-rem-container-tags~="bulletlist"] {
			width: calc(100% - 16px);
			position: relative;

			[data-rem-tags~="bulletlist"], %bulletlist {
				left: 16px;
				
				.rem-button__container {
					// margin-left: var(--treenode-line-spacing);

					> span {
						> div.six-dot {
							left: 40px !important;
						}
					}
					
					> span.toggle-collapse-button {
						left: 40px !important;
					}
					
					.rem-bullet__container {
						position: relative;
						margin-left: var(--treenode-line-spacing);

						.perfect-circle.rem-bullet--hidden-children {
							@include triangle-hidden;
							border-color: transparent transparent transparent var(--bullet-main);
						}
						
						.perfect-circle.rem-bullet--all-children-visible {
							@include bulletlist;
							border-color: var(--bullet-main);
						}
					}
				}
				// Focused
					// .rem-container--focused, %move {
					// 	.rem-button__container {
					// 		> span {
					// 			> div.six-dot {
					// 				left: 40px !important;
					// 			}
					// 		}
							
					// 		> span.toggle-collapse-button {
					// 			left: 40px !important;
					// 		}
					// 	}
					// }
				// Move text
					// .rem-text {
					// 	margin-left: var(--treenode-line-spacing);
					// }
				// Tag Declutter
					.hierarchy-editor__tag-bar__tag {
						background-color: transparent !important;

						span {
							display: none;
						}
						.hierarchy-editor__tag-bar__tag__delete {
							opacity: .3;
						}
					}
			}
		}
	// Bulletlists
		[data-rem-container-tags~="bulletlists"] {
			> div.tree-node--children {
				> div.tree-node-container {
					.rem-button__container {
						margin-left: var(--treenode-line-spacing);
					
						> span {
							> div.six-dot {
								left: 40px !important;
							}
						}
					
						> span.toggle-collapse-button {
							left: 40px !important;
						}
					
						.rem-bullet__container {
							position: relative;
							margin-left: var(--treenode-line-spacing);
					
							.perfect-circle.rem-bullet--hidden-children {
								@include triangle-hidden;
								border-color: transparent transparent transparent var(--bullet-main);
							}
					
							.perfect-circle.rem-bullet--all-children-visible {
								@include bulletlist;
								border-color: var(--bullet-main);
							}
						}
					}
					.tree-node--parent {
						.rem-text {
							margin-left: 16px;
						}
					}
				}
			}
			// Tag Declutter
				.hierarchy-editor__tag-bar__tag {
					background-color: transparent !important;
				
					span {
						display: none;
					}
				
					.hierarchy-editor__tag-bar__tag__delete {
						opacity: .3;
					}
				}
		}
	// Darkmode
		.dark {
			[data-rem-container-tags~="bulletlist"] {
				[data-rem-tags~="bulletlist"] {
					.rem-button__container {
						.rem-bullet.rem-bullet--hidden-children {
							@include triangle-hidden;
							border-color: transparent transparent transparent var(--bullet-main-dark);
						}
						.rem-bullet.rem-bullet--all-children-visible {
							@include bulletlist;
							border-color: var(--bullet-main-dark);
						}
					}
				}
			}
			[data-rem-container-tags~="bulletlists"] {
				> div.tree-node--children {
					> div.tree-node-container {
						.rem-button__container {
						
							.rem-bullet__container {
						
								.perfect-circle.rem-bullet--hidden-children {
									@include triangle-hidden;
									border-color: transparent transparent transparent var(--bullet-main-dark);
								}
						
								.perfect-circle.rem-bullet--all-children-visible {
									@include bulletlist;
									border-color: var(--bullet-main-dark);
								}
							}
						}
					}
				}
			}
		}
	
	#hierarchy-editor {
		[data-rem-tags~="bulletlist"] {
			.rem-container--focused {
				.rem-bullet.rem-bullet--hidden-children {
					border-style: unset;
				}
			}
		}
	} 
// Numbered list Placement
	[data-rem-container-tags~="list-item"] {
		span.rem-bullet__number {
			position: relative;
			left: 16px;

			+ div {
				position: relative;
				left: 16px;
			}
		} 
	}

	[data-rem-container-tags~="aliases"] {
		[data-rem-container-tags~="list-item"] {
			span.rem-bullet__number {
				position: relative;
				left: 0;

				+ div {
					position: relative;
					left: 0;
				}
			} 
		}
	}
// Power-up Symbol
	.portal-tree-node-box {
		.tree-node-container {
			.rem-powerup-icon {
				.text-icon {
					top: .25em;
				}
			}
		}
	}
// Checkbox Alignment	
	#DocumentTitle {
		.rem-text,
		.rem-header--1,
		.rem-header--2,
		.rem-header--3 {
			.rem-checkbox {
				display: inline-block;
				margin: 10px 15px 10px 0;
			}
		}
		.document-title {
			.EditorContainer {
				line-height: unset;
			}
		}
	}
	.rem-text.rem-header--1 {
		.rem-checkbox {
			margin-top: 18px;
		}
	}
	.rem-text.rem-header--2 {
		.rem-checkbox {
			margin-top: 12px;	
		}
	}
	.rem-text.rem-header--3 {
		.rem-checkbox {
			margin-top: 8px;	
		}
	}
	.rem-text {
		.rem-checkbox {
			margin-top: 0.3rem;
		}
	}