.rn-popup:not(#PopupContent) {
    max-width: unset;
    max-height: unset !important;
    left: 25% !important;

    .rn-popup__content {
        > div.w-200 {
            max-height: unset;
            height: 50vh;

            > div {
                max-height: unset;
                height: 50vh;
                width: 50vw;
            }
        }
        > div.max-h-\[40vh\] {
            max-height: unset;
            height: 50vh;

            > div:nth-of-type(1) {
                width: 3rem;
                white-space: pre;
            }
            > div:nth-of-type(2) {
                width: 50vw;
                height: 50vh;
            }
        }
    }
}