:root {
	--treenode-line-spacing: 16px;
	--bullet-main: #000;
	--bullet-main-dark: #C2C2C2;
	--bullet-doc: #50FA7B;
	--bullet-folder: #53555F;
	--bullet-concept: #53555F;
	--bullet-descriptor: #53555F;
	--both-practice-color: #FFA344;
	--forward-practice-color: #FF2600;
	--backward-practice-color: #D783FF;
	--disabled-practice-color: #959595;
	--no-practice-color: #959595;
	--line-color: #DDDDDD;
	--node-card-item-color: #FF4E4C;
	--node-card-item-color-dark: #E0CD00;
}
@mixin card-icon-color(
	$both,
	$forward,
	$backward,
	$disabled
) {
	.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled {
		.rem-bullet {
			background: $both;
		}
		.separator-symbol {
			&.delimiterAnnotation,
			> span {
				color: $both;
			}
		}
	}
	.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled {
		.rem-bullet {
			background: $forward;
		}
		.separator-symbol {
			&.delimiterAnnotation,
			> span {
				color: $forward;
			}
		}
	}
	.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled {
		.rem-bullet {
			background: $backward;
		}
		.separator-symbol {
			&.delimiterAnnotation,
			> span {
				color: $backward;
			}
		}
	}
	.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled {
		.rem-bullet {
			background: $disabled;
		}
		.separator-symbol {
			&.delimiterAnnotation,
			> span {
				color: $disabled;
			}
		}
	}
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-enabled,
.rem-container--default_type-rem-type.rem-container--backwards-practice-enabled,
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled {
	.rem-bullet {
		background: var(--no-practice-color);
		width: 26px;
		height: 18px;
		position: relative;
		left: 6px;
		-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Basic3.svg");
		mask-image: url("https://browneyedsoul.github.io/ImageRepository/Basic3.svg");
		-webkit-mask-size: contain;
		mask-size: contain;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		zoom: 80%;

		.perfect-circle__inner {
			opacity: 0;
		}
	}
}
.rem-container--concept-rem-type {
	.rem-bullet {
		background: var(--no-practice-color);
		width: 26px;
		height: 18px;
		position: relative;
		left: 6px;
		-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
		mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
		-webkit-mask-size: contain;
		mask-size: contain;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		zoom: 80%;

		.perfect-circle__inner {
			opacity: 0;
		}
	}
}

.rem-container--descriptor-rem-type {
	.rem-bullet {
		background: var(--no-practice-color);
		width: 14px !important;
		height: 12px !important;
		position: relative !important;
		top: 2px !important;
		left: -1px !important;
		-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
		mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
		-webkit-mask-size: contain;
		mask-size: contain;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;

		.perfect-circle__inner {
			opacity: 0;
		}
	}
}

@include card-icon-color(
	var(--both-practice-color),
	var(--forward-practice-color),
	var(--backward-practice-color),
	var(--disabled-practice-color)
);

.dark {
	@include card-icon-color(
		var(--both-practice-color), 
		var(--node-card-item-color-dark), 
		var(--backward-practice-color),
		var(--disabled-practice-color) 
	)
};