@mixin thumbnail-set($margin-right: 2px) {
	height: 1em !important;
	width: auto !important;
	min-width: auto !important;
	margin-right: $margin-right;
}

// All Notes Section
	.document-table {
		.ReactVirtualized__Grid__innerScrollContainer {
			.RichTextViewer {
				.inline-block,
				.inline-block.align-text-top.group,
				.thumbnail--with-width,
				.image-node {
					@include thumbnail-set;
					display: inline-block;
				}
			}
		}
	}
// Card Browser
	.ReactVirtualized__Table__rowColumn {
		.inline-block,
		.inline-block.align-text-top.group,
		.thumbnail--with-width,
		.image-node {
			@include thumbnail-set;
			display: inline-block;
		}
	}
// Queue
	.spaced-repetition__prompt__breadcrumbs {
		.inline-block,
		.thumbnail--with-width {
			@include thumbnail-set;
		}
	}
	.spaced-repetition__prompt {
		.indented-rem {
			.RichTextViewer {
				> div {
					display: inline-block;
					margin-right: 3px;
				}
				.react-transform-component {
					.react-transform-element {
						.inline-block,
						.inline-block.align-text-top.group,
						.react-transform-component,
						.image-node,
						.thumbnail--with-width {
							@include thumbnail-set;
							max-width: auto !important;
						}
					}
				}
			}
		}
	}
	.rem-bullet__document {
		.inline-block,
		.inline-block.align-text-top.group,
		.react-transform-component,
		.image-node,
		.thumbnail--with-width {
			@include thumbnail-set;
		}
		> span {
			> div {
				display: inline;
			}
		}
	}
	.Queue {
		.fill-in-the-blank {
			display: inline-flex;
			vertical-align: top;
		}
		.fill-in-the-blank--revealed {
			.RichTextViewer {
				.react-transform-component {
					.react-transform-element {
						.inline-block,
						.inline-block.align-text-top.group,
						.react-transform-component,
						.image-node,
						.thumbnail--with-width {
							width: auto !important;
							height: auto !important;
							min-width: auto !important;
							min-height: auto !important;
						}
					}
				}
			}
		}
		.queue-cluster-selector {
			.image-node,
			.image-node__container.group.inline-block.align-text-top,
			.thumbnail--with-width {
				@include thumbnail-set;
			}
		}
	}
	// .document-popup-preview {
	// 	#DocumentTitle {
	// 		.thumbnail--with-width {
	// 			width: 100% !important;
	// 			height: auto !important;
	// 			min-width: auto !important;
	// 			min-height: auto !important;	
	// 		}
	// 	}
	// }
// Document Title
	#DocumentTitle {
		.inline-block,
		.thumbnail--with-width {
			@include thumbnail-set;
		}
	}
// Page Hierarchy
	.document-header-top-bar {
		.inline-block,
		.thumbnail--with-width {
			@include thumbnail-set;
			color: #2B3137;
		}
	}
// Hidden Page Hierarchy Style
	.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable {
		.inline-block {
			@include thumbnail-set;
		}
	}
// Document Sidebar
	#document-sidebar {
		.inline-block,
		.thumbnail--with-width {
			@include thumbnail-set(0px);
		}
	}
// Document Hidden children
	.hierarchy-editor__hidden-children {
		.rem-header--1 {
			.inline-block,
			.thumbnail--with-width {
				@include thumbnail-set;
			}
		}
	}
// Popup
	.popup-menu {
		// Static Popup
		.popup-menu__item--static {
			span.RichTextViewer {
				.image-node__container {
					@include thumbnail-set;
					
					.image-node {
						@include thumbnail-set;

						.thumbnail--with-width {
							@include thumbnail-set;
						}
					}
				}
			}
		}
		// Hover Preview
		#document-hover-preview__popup {
			> span {
				.RichTextViewer {
					.inline-block,
					.inline-block.align-text-top.group,
					.image-node__container,
					.image-node,
					.thumbnail--with-width {
						@include thumbnail-set;
					}
				}
			}
		}
		// Image Thumbnail Tag
		[data-rem-tags*="tn"] {
			#document-hover-preview {
				.RichTextViewer {
					.inline-block,
					.image-node__container,
					.image-node,
					.thumbnail--with-width {
						@include thumbnail-set;
					}
				}
			}
		}
		// Tag bar
		.rem.isSearchResult {
			.hierarchy-editor__tag-bar {
				.inline-block,
				.thumbnail--with-width {
					@include thumbnail-set;
				}
			}
		}
		// Reference
		.EditorContainer.EditorContainerInline {
			.thumbnail--with-width {
				@include thumbnail-set;
				color: #2B3137;
			}
		}
		.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable {
			.inline-block,
			.thumbnail--with-width {
				@include thumbnail-set;
			}
		}
	}
// Popup - Merge Confirm Window
	#Popup {
		#PopupContent {
			.p-4 {
				.RichTextViewer {
					.image-node__container,
					.image-node,
					.thumbnail--with-width {
						@include thumbnail-set;
					}
				}
			}
		}
	}
// Popup - Delete Confirm Popup
		#Popup {
			#PopupContent {
				#delete-confirm-popup {
					.inline-block,
					.image-node__container.group.inline-block.align-text-top,
					.thumbnail--with-width {
						@include thumbnail-set;
					}
					
					.delete-confirm-popup__rem-section__item {
						.RichTextViewer {
							.inline-block,
							.image-node__container,
							.image-node,
							.thumbnail--with-width {
								@include thumbnail-set;
							}
						}
					}
				}
			}
		}
// Header & Normal Rem-Text with "Thumbnail(TN)" Tag
	.rem-header--1,
	.rem-header--2,
	.rem-header--3,
	[data-rem-tags*="tn"] {
		.inline-block,
		.thumbnail--with-width {
			@include thumbnail-set;
			background-color: transparent;
		}
	}
// Tag bar
	#DropToOpenAsDocument {
		.inline-block,
		.thumbnail--with-width {
			@include thumbnail-set;
		}
	}
	.hierarchy-editor__tag-bar__tag {
		.inline-block,
		.inline-block.align-text-top.group,
		.thumbnail--with-width {
			@include thumbnail-set;
		}
	}
	.fade-on-hide-ui {
		.inline-block {
			@include thumbnail-set;
		}
	}
// Search Result
	// Global Search Result (⌘+P Window)
		[aria-label~="Omnibar"] {
			.inline-block,
			.thumbnail--with-width {
				@include thumbnail-set;
			}
		}
	// Search Popup Page
		.css-ZPdGi {
			min-width: 80%;
			min-height: 80%;
		}
		.css-fUqRpZ {
			.inline-block,
			.thumbnail--with-width {
				@include thumbnail-set;
			}
		}
	// Tag Search Result
		.search-result__rem-breadcrumbs {
			.inline-block,
			.thumbnail--with-width {
				@include thumbnail-set;
			}
		}
		#search-results__result {
			.inline-block,
			.thumbnail--with-width {
				@include thumbnail-set;
			}
		}
// Portal
	.portal-tree-node-box {
		.rem-text.rem-header--1,
		.rem-text.rem-header--2,
		.rem-text.rem-header--3 {
			.inline-block,
			.thumbnail--with-width {
				@include thumbnail-set;
			}
		}
	}
// Rem Reference
	.rem-reference {
		.inline-block,
		.thumbnail--with-width {
			@include thumbnail-set;
			margin-top: 1px;
		}
	}
	.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable {
		.inline-block {
			@include thumbnail-set;
		}
	}
	// Rem reference normal rem-text thumbnail adjustment
		.rem-text {
			&:not(.rem-header--1) {
				&:not(.rem-header--2) {
					&:not(.rem-header--3) {
						.rem-reference {
							.inline-block,
							.inline-block.align-text-top.group,
							.image-node,
							.thumbnail--with-width {
								position: relative;
							}
						}
					}
				}
			}
		}