%fix {
    max-height: unset !important;
    min-height: unset !important;
    max-width: unset !important;
    min-width: unset !important;
    height: auto !important;
}

%declutter {
    .hierarchy-editor__tag-bar__tag {
        background-color: transparent !important;
        span {
            display: none;
        }
    }
}
%content-overflow {
    overflow-x: auto;
}
%w-fit {
    width: fit-content;
}

@for $i from 1 through 40 {
    [data-rem-container-tags~="#{$i * 5}"] {
        @extend %content-overflow;
        @extend %declutter;
        .inline-block {
            @extend %w-fit;
            .inline-block.align-text-top {
                @extend %fix;
                width: #{$i * 5%} !important;
            }
        }
    }
}

@for $i from 1 through 40 {
    [data-rem-container-tags~="#{$i * 50px}"] {
        @extend %content-overflow;
        @extend %declutter;
        .inline-block {
            @extend %w-fit;
            .inline-block.align-text-top {
                @extend %fix;
                width: #{$i * 50px} !important;
            }
        }
    }
}
@for $i from 1 through 9 {
    [data-rem-container-tags~="#{$i * 25px}"] {
        @extend %content-overflow;
        @extend %declutter;
        .inline-block {
            @extend %w-fit;
            .inline-block.align-text-top {
                @extend %fix;
                width: #{$i * 25px} !important;
            }
        }
    }
}