%fix {
    max-height: unset !important;
    min-height: unset !important;
    max-width: unset !important;
    min-width: unset !important;
    height: auto !important;
}

%declutter {
    .hierarchy-editor__tag-bar__tag {
        background-color: transparent !important;
        span {
            display: none;
        }
    }
}

@for $i from 1 to 41{
    [data-rem-container-tags~="#{$i * 5}"] {
        .inline-block.align-text-top {
            @extend %fix;
        }
    }
}

@for $i from 1 to 41{
    [data-rem-container-tags~="#{$i * 5}"] {
        @extend %declutter;
    }
}
// Image Resizer
@for $i from 1 to 41{
    [data-rem-container-tags~="#{$i * 5}"] {
        .inline-block.align-text-top {
            width: #{$i * 5%} !important;
        }
    }
}