/*********** Hide "Type / for Commands"  ***********/
	.rich-text-editor-placeholder {
		display: none;
	}
/*********** Hide Help Button ***********/
	#help-button {
		visibility: hidden;
	}
/*********** Disable Bullet Event ***********/
	.rem-bullet__container {
		pointer-events: none;
	}
/*********** Hide Card Backward Placeholder ***********/
	[data-rem-tags="card-item"] .text-gray-20 {
		display: none;
	}