:root {
	--hide-answer-filter: contrast(0%) brightness(1.5);
}

[data-rem-container-tags~=active-recall] span.cloze, [data-rem-container-tags~=active-recall] span:not(:hover):not([data-rem-tags~=learned]).cloze, [data-rem-container-tags~=active-recall] span.only_in_answer:not(:hover):not([data-rem-tags~=learned]) {
	color: #000;
	font-weight: 600;
	border-radius: 5px;
	padding: 0px 3px 2px 3px;
	margin: 0px 3px 0px 3px;
}
[data-rem-container-tags~=active-recall] span:not(:hover):not([data-rem-tags~=learned]).cloze, [data-rem-container-tags~=active-recall] span.only_in_answer:not(:hover):not([data-rem-tags~=learned]) {
	background-color: white;
	filter: var(--hide-answer-filter);
	position: relative;
	top: -2px;
}
[data-rem-container-tags~=active-recall] > div:last-child .node-card-item:not(:focus-within) {
	background-color: white;
	filter: var(--hide-answer-filter);
	border-radius: 5px;
}
[data-rem-container-tags~=active-recall] > div:last-child:focus-within .node-card-item {
	filter: unset;
}

.dark-mode [data-rem-container-tags~=active-recall] > div:last-child .node-card-item:not(:focus-within) {
	background-color: var(--darkmode-background, #2F3437);
	filter: var(--hide-answer-filter);
	border-radius: 5px;
}
.dark-mode [data-rem-container-tags~=active-recall] > div:last-child:focus-within .node-card-item {
	filter: unset;
}

[data-rem-tags~=active-recall] .hierarchy-editor__tag-bar__tag {
	background-color: transparent !important;
}
[data-rem-tags~=active-recall] .hierarchy-editor__tag-bar__tag span {
	display: none;
}