.rem-bullet::before {
	content: "";	
	border-bottom: 1px dotted black;
	border-left: 1px dotted black;
	padding-right: 22px;
	padding-top: 14px;
	padding-bottom: px;
	position: relative;
	z-index: -1;
	top: -18px;
	left: -22px;
}

.TreeNode {
	border-left: 1px dashed black !important; /* If you are using Darkmode, Pleas turn branch color to white*/
}