[data-rem-container-tags~=circle] > .tree-node--children > [data-rem-container-tags~=list-item] > .tree-node--parent > span[data-rem-tags~=list-item] > div > .rem-text {
  display: flex;
  align-items: center;
}
[data-rem-container-tags~=circle] > .tree-node--children > [data-rem-container-tags~=list-item] > .tree-node--parent > span[data-rem-tags~=list-item] > div > .rem-text > span.EditorContainer {
  margin-right: 0.5em !important;
  border: 0.1em solid var(--rn-colors-black);
  width: 1.5em !important;
  height: 0.7em;
  display: flex;
  align-items: center;
  border-radius: 1em;
  padding: 0.2em;
  transform: scale(0.8);
}
[data-rem-container-tags~=circle] > .tree-node--children > [data-rem-container-tags~=list-item] > .tree-node--parent > span[data-rem-tags~=list-item] > div > .rem-text > span.EditorContainer > .z-\[1\] {
  font-weight: 500;
}

.dark [data-rem-container-tags~=circle] > .tree-node--children > [data-rem-container-tags~=list-item] > .tree-node--parent > span[data-rem-tags~=list-item] > div > .rem-text {
  display: flex;
  align-items: center;
}
.dark [data-rem-container-tags~=circle] > .tree-node--children > [data-rem-container-tags~=list-item] > .tree-node--parent > span[data-rem-tags~=list-item] > div > .rem-text > span.EditorContainer {
  margin-right: 0.5em !important;
  border: 0.1em solid var(--rn-clr-content-primary);
  width: 1.5em !important;
  height: 0.7em;
  display: flex;
  align-items: center;
  border-radius: 1em;
  padding: 0.2em;
  transform: scale(0.8);
}
.dark [data-rem-container-tags~=circle] > .tree-node--children > [data-rem-container-tags~=list-item] > .tree-node--parent > span[data-rem-tags~=list-item] > div > .rem-text > span.EditorContainer > .z-\[1\] {
  font-weight: 500;
}