[data-rem-tags~="caption"] .rem-text,
[data-rem-tags~="incaption"] .EditorContainer > div .quote,
[data-rem-tags~="incaption"] .RichTextViewer .quote {
	background-color: unset;
	color: #8E8D8A;
	font-family: 'Sans-Serif Workhorse';
	font-size: 14px;
}

[data-rem-tags~="caption"]:not([data-rem-tags~="show-tags"]) .hierarchy-editor__tag-bar, 
[data-rem-tags~="incaption"]:not([data-rem-tags~="show-tags"]) .hierarchy-editor__tag-bar {
   display: none;
}
