[data-rem-tags~="caption"] .rem-text {
	background-color: unset;
	color: #8E8D8A;
	text-style: Sans-Serif Workhorse;
	font-size: 14px;
}

[data-rem-tags~="incaption"] .EditorContainer > div .quote {
	background-color: unset;
	color: #8E8D8A;
	text-style: Sans-Serif Workhorse;
	font-size: 14px;
}

[data-rem-tags~="incaption"] .RichTextViewer .quote {
	background-color: unset;
	color: #8E8D8A;
	text-style: Sans-Serif Workhorse;
	font-size: 14px !important;
}

[data-rem-tags~="caption"]:not([data-rem-tags~="show-tags"]) .hierarchy-editor__tag-bar, 
[data-rem-tags~="incaption"]:not([data-rem-tags~="show-tags"]) .hierarchy-editor__tag-bar {
   display: none;
}
