[data-rem-tags~="caption"] .rem-text {
	background-color: unset;
	color: #8E8D8A;
	font-family: 'Sans-Serif Workhorse';
	font-size: 14px;
}

/*********** Tag Declutter ***********/
	[data-rem-tags~="caption"] .hierarchy-editor__tag-bar__tag {background-color: transparent;}
	[data-rem-tags~="caption"] .hierarchy-editor__tag-bar__tag span {display: none;}