/*********** Basic (Inline)Code Style ***********/
.quote {
	color: 			#E64400;
    padding-right: 	5px !important;
}

#code-node {
    padding-left: 	40px !important;
    padding-top: 	10px !important;
    padding-bottom: 30px !important;
	position: 		relative;
	z-index: 		1;
}

#code-node, #quote, .quote {
	font-family: 		Roboto Mono, Fira code;
    background-color: 	#F7F6F3;
    border: 			0;
    padding: 			4px;
    padding-right: 		40px;
    font-size: 			0.9em !important; 
    line-height: 		180%;
    margin-top: 		2px;
    margin-bottom: 		2px;
    margin-left: 		0px !important;
    border-radius: 		0.3em;

}

#code-node {
    overflow-x: 		auto;
    white-space: 		pre;
    position: 			relative;
    z-index: 			1;
}


/*********** Codeblock Line Number Bar ***********/
:root {
    --line-number-width: 40px;
    --line-number-color: ;
    --line-number-background-color: ;
    --code-node-border-radius: 2px;
}

.codeLine {
    counter-increment: codeLineNumber;
}

.codeLine:before {
    position: 		absolute;
    left: 			0px;
    width: 			var(--line-number-width);
    box-sizing: 	border-box;
    padding-right: 	5px;
    padding-top: 	1px;
    content: 		counters(codeLineNumber, ".") " ";
    text-align: 	center;
    font-family: 	Helvetica;
    font-size: 		13px
}


/*********** Background of number bar ***********/
#code-node:before {
    content: 			"";
    display: 			block;
    position: 			absolute;
    left: 				0;
    top: 				0;
    bottom: 			0;
    color: 				var(--line-number-color, black);
    background-color: 	var(--line-number-background-color, rgba(0, 0, 0, 0.04));
    border-radius: 		var(--code-node-border-radius, 7px) 0 0;
    width: 				calc(var(--line-number-width, 45px) - 7px);
}


#code-node .codeLine:after {
    content: " ";
    visibility: hidden;
}


/*********** Language Converter ***********/
#code-node__change-language-dropdown {
	position: fixed;
	left: 40px;
	bottom: 0px;
	z-index: 10;
}

.ui.upward.dropdown {
	position: fixed;
	left: 280px;
	top: 400px;
	z-index: 10;
}

.ui.active.visible.dropdown {
	position: fixed;
	left: 280px;
	top: 400px;
	z-index: 10;
}

.copy.outline.icon.code-node__copy-button {
}

.ui.dropdown .menu {
    color: 				white;
    background-color:	#282a36;
	white-space: 		pre;

}

.ui.dropdown .menu
	>.item {
	font-size: 		12px !important;
	font-family: 	Fira code;
	font-weight: 	500;
 	border-radius: 	1px;
 	color: 			#2B3137;
}

.ui.dropdown .menu
	>.item:hover {
    background-color: 	#F1FA8C;
 	border-radius: 		1px;
}

.visible.menu.transition {
	position: 			absolute;
	right: 				240px !important;
	background-color: 	#F5F4F0 !important;
	color: 				white;
	position: 			relative;
	height: 			1070px !important;
}

.visible.menu.transition .selected.item, 
.visible.menu.transition .ui.header.text {
	background-color: 	#FD8A88 !important;
	color: 				yellow !important;
	border-radius: 		1px;
}  
