:root {
	--line-color: #DDD;
	--line-color-focused: #DCF3FF;
	--line-color-dark: #535353;
	--line-color-focused-dark: #576066;
}

[data-rem-container-tags~=divider] {
	margin-bottom: 0.5rem;
	margin-left: 1.8rem;
	margin-right: 0.5rem;
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider] {
	color: transparent;
	height: 7px;
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider]::before {
	content: " ";
	display: block;
	position: absolute;
	border-bottom: var(--line-color);
	left: -0.5rem;
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider]:focus-within {
	background-color: var(--line-color-focused);
	position: relative;
	top: 3px;
	left: -0.5rem;
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider]:focus-within::before {
	border-bottom: 2px solid var(--line-color);
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider]:not(:focus-within) {
	color: transparent;
	position: relative;
	padding: 0px 15px;
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider]:not(:focus-within)::before {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	top: 50%;
	border-bottom: 2px solid var(--line-color);
	height: 2px;
}
[data-rem-container-tags~=divider] .EditorContainer span {
	visibility: hidden;
}

.dark [data-rem-container-tags~=divider] [data-rem-tags~=divider]::before {
	border-bottom: var(--line-color);
}
.dark [data-rem-container-tags~=divider] [data-rem-tags~=divider]:focus-within {
	background-color: var(--line-color-focused-dark);
}
.dark [data-rem-container-tags~=divider] [data-rem-tags~=divider]:focus-within::before {
	border-bottom: 2px solid var(--line-color-dark);
}
.dark [data-rem-container-tags~=divider] [data-rem-tags~=divider]:not(:focus-within)::before {
	border-bottom: 2px solid var(--line-color-dark);
}

[data-rem-tags~=divider] .pointer-events-none,
[data-rem-tags~=divider] .RichTextViewer,
[data-rem-tags~=divider] .rem-button__container,
[data-rem-tags~=divider] .rem-container--focused,
[data-rem-tags~=divider] .rem-bullet__icon,
[data-rem-tags~=divider] .rem-bullet__container,
[data-rem-tags~=divider] .rem-checkbox,
[data-rem-tags~=divider] .rem:not([data-rem-tags~=show-tags]) .hierarchy-editor__tag-bar,
[data-rem-tags~=divider] .float-end {
	display: none;
}