/*********** Basic (Inline)CodeBlock Style ***********/
.quote {
    color:          #E64400;
    padding-right:  3px !important;
    padding-top:    0px;
    padding-bottom: 0px;
    line-height:    160%;
}
#code-node {
    padding-left:   40px !important;
    position:       relative;
    z-index:        0;
    overflow-x:     auto;
    overflow-y:     auto;
    white-space:    pre;
}

#code-node, #quote, .quote {
    font-family:        Roboto Mono, Fira code;
    background-color:   #F7F6F3;
    border:             0;
    padding-right:      40px;
    font-size:          0.9em !important; 
    line-height:        160%;
    margin-top:         2px;
    margin-bottom:      2px;
    margin-left:        0px !important;
    border-radius:      0.3em;
}

#EditorContainer .rem-text {
    position: relative;
    z-index: 0;
}

/*********** Codeblock Line Number Bar ***********/
:root {
    --line-number-width: 40px;
    --line-number-color: ;
    --line-number-background-color: #EDECE9;
    --code-node-border-radius: 2px;
}

.codeLine {
    counter-increment: codeLineNumber;
}

.codeLine:before {
    position:       absolute;
    left:           0px;
    width:          var(--line-number-width);
    box-sizing:     border-box;
    padding-right:  5px;
    padding-top:    1px;
    content:        counters(codeLineNumber, ".") " ";
    text-align:     center;
    font-family:    Helvetica;
    font-size:      13px
}

#code-node:before {
    content:            "";
    display:            block;
    position:           absolute;
    left:               0;
    top:                0;
    bottom:             0;
    color:              var(--line-number-color, black);
    background-color:   var(--line-number-background-color, rgba(0, 0, 0, 0.04));
    border-radius:      var(--code-node-border-radius, 7px) 0 0;
    width:              calc(var(--line-number-width, 45px) - 7px);
}

#code-node .codeLine:after {
    content: " ";
    visibility: hidden;
}

/*********** Language Converter ***********/
#code-node__change-language-dropdown {
    position:   fixed;
    right:      40px;
    bottom:     0px;
}

#code-node .ui.upward.dropdown {
    position:       absolute;
    right:          100px;
    top:            0px;
    z-index:        10;
}

#code-node .ui.active.visible.dropdown {
    position:   absolute;
    right:      100px;
    top:        0px;
    z-index:    10;
}

#code-node .copy.outline.icon.code-node__copy-button {
}

#code-node .ui.dropdown .menu {
    color:              black;
    background-color:   #282a36;
    white-space:        pre;
}

#code-node .ui.dropdown .menu >.item {
    font-size:      16px !important;
    font-family:    Sans Serif Workhorse;
    font-weight:    500;
    border-radius:  1px;
    color:          #2B3137;
}

#code-node .ui.dropdown .menu >.item:hover {
    color:              black;
    background-color:   #44475A;
    border-radius:      1px;
    background-color:   #F1FA8C;
    border-radius:      1px;
}

#code-node .visible.menu.transition {
    position:           absolute;
    z-index:            10;
    right:              240px !important;
    background-color:   #F5F4F0 !important;
    color:              ;
    position:           relative;
    height:             240px !important;
    overflow:           auto;
}

#code-node .visible.menu.transition .selected.item, 
#code-node .visible.menu.transition .ui.header.text {
    background-color:   #FD8A88 !important;
    color:              yellow !important;
    border-radius:      1px;
}  