:root {
  --kanban-border: #DDD;
  --kanban-border-dark: #535353;
  --kanban-bgcolor: #F7F6F3;
  --kanban-bgcolor-dark: #505050;
  --kanban-bgcolor-input: #FFF;
  --kanban-bgcolor-input-dark: #2E3437;
  --kanban-bgcolor-stage: ;
  --kanban-bgcolor-stage-dark: ;
  --kanban-bgcolor-inprogress: #F8F9CD;
  --kanban-bgcolor-inprogress-dark: #63572B;
  --kanban-bgcolor-done: #D5EED7;
  --kanban-bgcolor-done-dark: #304F32;
  --kanban-bgcolor-archive: ;
  --kanban-bgcolor-archive-dark: ;
}

#hierarchy-editor [data-rem-container-tags~=kanban2] {
  border: 0.1rem solid var(--kanban-border);
  border-radius: 4px;
  margin: 0.5rem 0 0.5rem 1.6rem;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] .bg-white {
  background-color: transparent;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children {
  display: flex;
  border: 0;
  padding-left: 0;
  overflow-x: scroll;
  white-space: pre;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children::-webkit-scrollbar-thumb {
  background-color: #EEE;
  border-radius: 2px;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet {
  background-color: var(--kanban-bgcolor);
  margin-right: 0.7rem;
  position: relative;
  white-space: pre-wrap;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-bottom: 5px;
  border-radius: 5px;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > .tree-node--parent {
  min-width: 240px;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > .tree-node--parent .rem-text {
  font-weight: 650;
  text-align: center;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > .tree-node--children {
  left: 0 !important;
  width: 100%;
  max-width: 1000px;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > .tree-node--children > .animate-zoom-into-bullet {
  background-color: var(--kanban-bgcolor-input);
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0 0 1px 0;
  margin-left: 1.2rem;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > .tree-node--children > .animate-zoom-into-bullet > div:first-child .rem-text {
  padding-left: 25px;
  margin-left: 0;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > .tree-node--children > .animate-zoom-into-bullet .float-end {
  margin-left: 1rem;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > .tree-node--children > .portal-tree-node-box {
  background-color: var(--kanban-bgcolor-input);
  width: calc(100% - 3.6rem);
  margin: 5px;
  border-radius: 3px !important;
  box-shadow: 0 0 1px 0 !important;
  margin-left: 1.2rem !important;
  margin-right: 0.3rem !important;
  padding-right: 1rem;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=rd] {
  background-color: #FFE9EC;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=or] {
  background-color: #FDEDD9;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=yl] {
  background-color: #F8F9CD;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=gr] {
  background-color: #D5EED7;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=bl] {
  background-color: #E6F3F6;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=vt] {
  background-color: #FEEEFC;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > div:first-child {
  background-color: rgba(0, 0, 0, 0.09);
  margin-left: 0;
  padding-left: 1rem;
  border-bottom: 1px solid grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > .tree-node--children {
  margin-left: 0;
  padding: 0;
  border: unset;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] .EditorContainer > .text-gray-20 {
  display: none;
}
#hierarchy-editor [data-rem-container-tags~=kanban2] .rem-button__container .six-dot .text-gray-15 {
  color: #000;
}

.dark #hierarchy-editor [data-rem-container-tags~=kanban2] {
  border: 0.1rem solid var(--kanban-border-dark);
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] .rem-button__container .six-dot .text-gray-15 {
  color: #DDD;
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children::-webkit-scrollbar-thumb {
  background-color: #222;
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet {
  background-color: var(--kanban-bgcolor-dark);
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > .tree-node--children > .animate-zoom-into-bullet {
  background-color: var(--kanban-bgcolor-input-dark);
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet > .tree-node--children > .portal-tree-node-box {
  background-color: var(--kanban-bgcolor-input-dark);
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=rd] {
  background-color: #572924;
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=or] {
  background-color: #553D24;
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=yl] {
  background-color: #453E1E;
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=gr] {
  background-color: #253F27;
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=bl] {
  background-color: #183C4D;
}
.dark #hierarchy-editor [data-rem-container-tags~=kanban2] > .tree-node--children > .animate-zoom-into-bullet[data-rem-container-tags~=vt] {
  background-color: #43273F;
}