:root {
	--table-title-background-color: #EEEEEB;
	--table-title-background-color-dark: #000;
	--table-header-background-color: #F7F6F3;
	--table-header-background-color-dark: #555;
	--table-cell-background-color: #FFFFFF;
	--table-cell-background-color-dark: #2F3437;
	--table-border-color: #EEEEEB;
	--table-border-color-dark: #535353;
	--darkmode-text: #DFDFD5;
	--table-title-left-margin: 1.5rem;
	--table-title-right-margin: 0.7rem;
	--table-container-left-margin: 1.5rem;
	--table-container-right-margin: 0.7rem;
	--table-container-cell-margin-left: -10px;
}

[data-rem-container-tags~=table] > .tree-node--parent {
	margin-left: var(--table-title-left-margin);
	margin-right: var(--table-title-right-margin);
}
[data-rem-container-tags~=table] .TreeNode.tree-node--children {
	border-width: 0 !important;
}
[data-rem-container-tags~=table] > .TreeNode {
	display: flex;
	left: 0px !important;
	margin-left: var(--table-container-left-margin);
	margin-right: var(--table-container-right-margin) !important;
}
[data-rem-container-tags~=table] > .TreeNode > .tree-node-container {
	flex: 1 0 0;
	white-space: wrap;
	border: 0.1em solid var(--table-header-background-color);
}
[data-rem-container-tags~=table] > .TreeNode > .tree-node-container .rem-text,
[data-rem-container-tags~=table] > .TreeNode > .tree-node-container .EditorContainer,
[data-rem-container-tags~=table] > .TreeNode > .tree-node-container .rich-text-editor,
[data-rem-container-tags~=table] > .TreeNode > .tree-node-container .RichTextViewer {
	overflow-wrap: anywhere;
	flex-grow: 1;
	max-width: 100%;
}
[data-rem-container-tags~=table] > .TreeNode > .tree-node-container > div:first-child {
	font-weight: 600;
	background-color: var(--table-header-background-color);
	text-align: center;
}
[data-rem-container-tags~=table] > .TreeNode > .tree-node-container:nth-child(n+2) {
	margin-left: -1px;
}
[data-rem-container-tags~=table] > .TreeNode > .tree-node-container > .TreeNode {
	width: 100% !important;
	left: 0px !important;
}
[data-rem-container-tags~=table] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {
	position: relative;
	left: var(--table-container-cell-margin-left);
	width: 100%;
	border-bottom: 1px solid var(--table-header-background-color);
}
[data-rem-container-tags~=table] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container .TreeNode > .tree-node-container {
	margin-top: 1px;
}

.hierarchy-editor--ltr [data-rem-container-tags~=table] .TreeNode {
	padding-left: unset;
}

.dark-mode [data-rem-container-tags~=table] > .TreeNode > .tree-node-container {
	border: 0.1em solid var(--table-header-background-color-dark);
}
.dark-mode [data-rem-container-tags~=table] > .TreeNode > .tree-node-container > div:first-child {
	color: var(--darkmode-text);
	background-color: var(--table-header-background-color-dark);
}
.dark-mode [data-rem-container-tags~=table] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {
	border-bottom: 1px solid var(--table-header-background-color-dark);
}

[data-rem-tags~=table] {
	background-color: var(--table-title-background-color);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-right: 5px;
	border: 1px solid var(--table-header-background-color);
}

.dark-mode [data-rem-tags~=table] {
	color: var(--darkmode-text);
	background-color: var(--table-title-background-color-dark);
	border: 1px solid var(--table-header-background-color-dark);
}
.dark-mode [data-rem-tags~=table] .EditorContainer {
	color: var(--darkmode-text);
}

[data-rem-container-tags~=table][data-rem-container-tags~=w90] > .TreeNode > div {
	min-width: 90px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w120] > .TreeNode > div {
	min-width: 120px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w150] > .TreeNode > div {
	min-width: 150px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w180] > .TreeNode > div {
	min-width: 180px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w210] > .TreeNode > div {
	min-width: 210px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w240] > .TreeNode > div {
	min-width: 240px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w270] > .TreeNode > div {
	min-width: 270px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w300] > .TreeNode > div {
	min-width: 300px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w330] > .TreeNode > div {
	min-width: 330px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w360] > .TreeNode > div {
	min-width: 360px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w390] > .TreeNode > div {
	min-width: 390px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w420] > .TreeNode > div {
	min-width: 420px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w450] > .TreeNode > div {
	min-width: 450px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w480] > .TreeNode > div {
	min-width: 480px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w510] > .TreeNode > div {
	min-width: 510px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w540] > .TreeNode > div {
	min-width: 540px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w570] > .TreeNode > div {
	min-width: 570px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w600] > .TreeNode > div {
	min-width: 600px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w630] > .TreeNode > div {
	min-width: 630px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w660] > .TreeNode > div {
	min-width: 660px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w690] > .TreeNode > div {
	min-width: 690px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w720] > .TreeNode > div {
	min-width: 720px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w750] > .TreeNode > div {
	min-width: 750px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w780] > .TreeNode > div {
	min-width: 780px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w810] > .TreeNode > div {
	min-width: 810px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w840] > .TreeNode > div {
	min-width: 840px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w870] > .TreeNode > div {
	min-width: 870px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w900] > .TreeNode > div {
	min-width: 900px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w930] > .TreeNode > div {
	min-width: 930px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w960] > .TreeNode > div {
	min-width: 960px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w990] > .TreeNode > div {
	min-width: 990px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w1020] > .TreeNode > div {
	min-width: 1020px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w1050] > .TreeNode > div {
	min-width: 1050px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w1080] > .TreeNode > div {
	min-width: 1080px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w1110] > .TreeNode > div {
	min-width: 1110px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w1140] > .TreeNode > div {
	min-width: 1140px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w1170] > .TreeNode > div {
	min-width: 1170px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w1200] > .TreeNode > div {
	min-width: 1200px;
}

[data-rem-container-tags~=table][data-rem-container-tags~=w90] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w120] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w150] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w180] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w210] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w240] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w270] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w300] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w330] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w360] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w390] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w420] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w450] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w480] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w510] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w540] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w570] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w600] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w630] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w660] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w690] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w720] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w750] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w780] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w810] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w840] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w870] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w900] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w930] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w960] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w990] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w1020] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w1050] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w1080] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w1110] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w1140] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w1170] > .TreeNode,
[data-rem-container-tags~=table][data-rem-container-tags~=w1120] > .TreeNode {
	overflow: auto;
	white-space: pre;
	margin-right: 0.1rem !important;
}
[data-rem-container-tags~=table][data-rem-container-tags~=w90] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w120] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w150] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w180] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w210] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w240] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w270] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w300] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w330] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w360] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w390] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w420] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w450] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w480] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w510] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w540] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w570] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w600] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w630] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w660] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w690] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w720] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w750] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w780] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w810] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w840] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w870] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w900] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w930] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w960] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w990] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w1020] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w1050] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w1080] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w1110] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w1140] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w1170] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=table][data-rem-container-tags~=w1120] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {
	width: 100%;
}