@charset "UTF-8";
:root {
	--kanban-border: #DDD;
	--kanban-border-dark: #535353;
	--kanban-bgcolor: #F7F6F3;
	--kanban-bgcolor-dark: #505050;
	--kanban-bgcolor-input: #FFF;
	--kanban-bgcolor-input-dark: #2C3033;
}

[data-rem-container-tags~=kanban] {
	border: 0.1rem solid var(--kanban-border);
	border-radius: 4px;
	margin: 0.5rem 0.7rem 0.5rem 1.6rem;
}
[data-rem-container-tags~=kanban] .bg-white {
	background-color: transparent;
}
[data-rem-container-tags~=kanban] > .tree-node--children {
	display: flex;
	border: 0;
	padding-left: 0;
	overflow-x: scroll;
	white-space: pre;
}
[data-rem-container-tags~=kanban] > .tree-node--children::-webkit-scrollbar-thumb {
	background-color: #EEE;
	border-radius: 2px;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container {
	background-color: var(--kanban-bgcolor);
	margin-right: 0.7rem;
	position: relative;
	white-space: pre-wrap;
	min-width: 390px;
	padding-bottom: 5px;
	border-radius: 5px;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container > .tree-node--parent {
	min-width: 390px;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container > .tree-node--parent .rem-text {
	font-weight: 650;
	text-align: center;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container > .tree-node--children {
	left: 0 !important;
	width: 100%;
	max-width: 1000px;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container > .tree-node--children > .tree-node-container {
	background-color: var(--kanban-bgcolor-input);
	margin: 5px;
	border-radius: 3px;
	box-shadow: 0 0 1px 0;
	margin-left: 1.2rem;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container > .tree-node--children > .tree-node-container > div:first-child .rem-text {
	padding-left: 25px;
	margin-left: 0;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container > .tree-node--children > .portal-tree-node-box {
	background-color: var(--kanban-bgcolor-input);
	margin: 5px;
	border-radius: 3px !important;
	box-shadow: 0 0 1px 0 !important;
	margin-left: 0.3rem !important;
	margin-right: 0.3rem !important;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(1) {
	background-color: var(--kanban-bgcolor);
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(1) > .tree-node--parent .rem-text::after {
	content: "📥";
	margin-left: 1rem;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(2) {
	background-color: var(--kanban-bgcolor-inprogress);
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(2) > .tree-node--parent .rem-text::after {
	content: "🚧";
	margin-left: 1rem;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(3) {
	background-color: var(--kanban-bgcolor-done);
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(3) > .tree-node--parent .rem-text::after {
	content: "✅";
	margin-left: 1rem;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(4) {
	background-color: var(--kanban-bgcolor);
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(4) > .tree-node--parent .rem-text::after {
	content: "🗃";
	margin-left: 1rem;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container > div:first-child {
	background-color: rgba(0, 0, 0, 0.09);
	margin: 0;
	padding-right: 1rem;
	padding-left: 1rem;
	border-bottom: 1px solid grey;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
[data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container > .tree-node--children {
	margin: 0;
	padding: 0;
	border: unset;
}
[data-rem-container-tags~=kanban] .EditorContainer > .text-gray-20 {
	display: none;
}
[data-rem-container-tags~=kanban] .rem-button__container .six-dot .text-gray-15 {
	color: #000;
}

.dark-mode [data-rem-container-tags~=kanban] {
	border: 0.1rem solid var(--kanban-border-dark);
}
.dark-mode [data-rem-container-tags~=kanban] .rem-button__container .six-dot .text-gray-15 {
	color: #DDD;
}
.dark-mode [data-rem-container-tags~=kanban] > .tree-node--children::-webkit-scrollbar-thumb {
	background-color: #222;
}
.dark-mode [data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container {
	background-color: var(--kanban-bgcolor-dark);
}
.dark-mode [data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(1) {
	background-color: var(--kanban-bgcolor-dark);
}
.dark-mode [data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(2) {
	background-color: var(--kanban-bgcolor-inprogress-dark);
}
.dark-mode [data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container:nth-child(3) {
	background-color: var(--kanban-bgcolor-done-dark);
}
.dark-mode [data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container > .tree-node--children > .tree-node-container {
	background-color: var(--kanban-bgcolor-input-dark);
}
.dark-mode [data-rem-container-tags~=kanban] > .tree-node--children > .tree-node-container > .tree-node--children > .portal-tree-node-box {
	background-color: var(--kanban-bgcolor-input-dark);
}