:root {
	--font-size-documenttitle: 36px;
	--font-size-header-1: 32px;
	--font-size-header-2: 24px;
	--font-size-header-3: 20px;
	--darkmode-background: #2F3437;
	--darkmode-background-sidebar: #2B3137;
	--darkmode-background-selected: #4A5458;
	--lightmode-background-selected: #C5DFEB;
	--darkmode-text: #DFDFD5;
	--darkmode-contrast: yellow;
	--quote-text-dark: #F1FA8C;
	--quote-background-dark: #5E6A70;
	--reference-text-dark: darkred;
	--line-color: #EEEFEE;
	--line-color-dark: #404648;
	--link-node-color-dark: #94D2FF;
	--red-text: #FF4A44;
	--red-text-dark: #FD6E68;
	--orange-text: #C26F1C;
	--orange-text-dark: #F0A264;
	--yellow-text: #EAB700;
	--yellow-text-dark: #FFDF0B;
	--green-text: #34A853;
	--green-text-dark: #3CC160;
	--blue-text: #579AFF;
	--blue-text-dark: #98BFE2;
	--purple-text: #A142F4;
	--purple-text-dark: #BF96F4;
	--highlight-color--red: #FF8A88;
	--highlight-color--red-dark: #FF8A88;
	--highlight-color--orange: #FFB86C;
	--highlight-color--orange-dark: #FFB86C;
	--highlight-color--yellow: #F1FA8C;
	--highlight-color--yellow-dark: #E3E004;
	--highlight-color--green: #9FE39B;
	--highlight-color--green-dark: #9FE39B;
	--highlight-color--blue: #9FC8EB;
	--highlight-color--blue-dark: #9FC8EB;
	--highlight-color--purple: #DEAFEB;
	--highlight-color--purple-dark: #DEAFEB;
	--callout-background-color-dark: #DFDFDC;
	--calloutred-background-color-dark: #E8D4D8;
	--calloutorange-background-color-dark: #E8DAC8;
	--calloutyellow-background-color-dark: #E9E2BF;
	--calloutgreen-background-color-dark: #CDE6D0;
	--calloutblue-background-color-dark: #D6E2E6;
	--calloutpurple-background-color-dark: #E4D5E3;
	--text-shadow: 0.01em 0.01em 0.01em #727E84;
	--code-node-line-number-color-dark: #BDBEBE;
	--code-node-line-number-background-color-dark: #E6E6E6;
	--code-node-background-color: #F7F6F3;
	--code-node-background-color-dark: #E6E6E6;
	--code-node-number-color: ;
	--code-node-number-color-dark: ;
	--code-node-string-color: ;
	--code-node-string-color-dark: ;
	--code-node-punctuation-color: ;
	--code-node-punctuation-color-dark: ;
	--code-node-operator-color: ;
	--code-node-operator-color-dark: ;
	--code-node-function-color: ;
	--code-node-function-color-dark: ;
	--code-node-comment-color: ;
	--code-node-comment-color-dark: ;
	--code-node-keyword-color: ;
	--code-node-keyword-color-dark: ;
} 

/*********** The Most important thing ***********/
	.dark-mode {filter: unset;}
	.dark-mode {background-color: transparent;} 
/*********** Queue ***********/
	.dark-mode .Queue,
	.dark-mode .bg-gray-5,
	.dark-mode .scroll-drag-component,
	.dark-mode .spaced-repetition__prompt,
	.dark-mode .spaced-repetition__prompt__breadcrumbs,
	.dark-mode .text-base + a,
	.dark-mode .queue__edit-later {
		color: var(--darkmode-text);
		background-color: var(--darkmode-background);
	}
	
	.dark-mode .queue__badge,
    .dark-mode .queue__title__middle:last-child,
    .dark-mode .queue__title .overflow-ellipsis,
    .dark-mode .queue__title .overflow-ellipsis .font-semibold {
		color: var(--darkmode-text) !important;
		background-color: var(--darkmode-background-selected) !important;
	}
	
	.dark-mode .rem-bullet__queue {background-color: var(--darkmode-text) !important;}
	.dark-mode .spaced-repetition__prompt .rem-bullet__document {color: black;}
	.dark-mode .spaced-repetition__prompt .rem-bullet__document .file.text.small.icon {color: white;}
	
	.dark-mode #SearchPopup .rich-text-editor,
	.dark-mode #SearchPopup .EditorContainer {
		caret-color: var(--darkmode-text);
		color: var(--darkmode-text);
	}
/*********** Card Browser ***********/
	.dark-mode #card-table-page {
		color: var(--darkmode-text);
	    background-color: var(--darkmode-background);
	    font-family: "Helvetica Neue";
	}
	.dark-mode .card-table__card-title {
		color: var(--darkmode-text);
	}
/*********** Omnibar ***********/
	/* Selected */
		.dark-mode .css-cMUIYB {background-color: var(--darkmode-background-selected);}
	/* Omnibar item text */
		.dark-mode .css-bwtzVW {color: var(--darkmode-text);}
	/* Top & Bottom */
		.dark-mode .css-ZPdGi {background-color: var(--darkmode-background);}
	/* Middle item including omni search bar */
		.dark-mode .css-bwtzVW, 
		.dark-mode .css-hBWTgk,
		.dark-mode .css-edMwoJ {background-color: var(--darkmode-background);}
	/* Middle Item Text */
		.dark-mode .css-dcfFHl,
		.dark-mode .css-jlRuPl {color: var(--darkmode-text) !important;} 
		.dark-mode .css-jlRuPl .bg-warning-10 {
			background-color: var(--reference-text-dark);
			border: 1px solid var(--darkmode-contrast);
		}
	/* Search Area*/
		.dark-mode .css-jQQQnw {border-radius: 5px;}
	/* Omnibar svg icon */
		.dark-mode .css-fQFckt {
			background-color: var(--darkmode-contrast) !important;
			border: 1px dotted var(--darkmode-contrast);
			border-radius: 5px;
		} 
/*********** Icon ***********/
	/* Slot icon */
	.dark-mode .css-bMKjkl {color: var(--darkmode-text);} 
/*********** Page Hierarchy Bar ***********/
	.dark-mode .document-header-top-bar .parent-link {
		color: var(--darkmode-text);
		background-color: transparent;
		border: 1px solid #7F8094;
	}
/*********** RemNote Hierarchy Editor ***********/
	/* Hierarchy Editor - General Background */
		.dark-mode .document-table,
		.dark-mode .tile__document,
		.dark-mode .multiple-windows__document,
		.dark-mode #multiple-windows__document {
			background-color: var(--darkmode-background);
		}
	/* image background */
		
	/* General Text */
		.dark-mode .css-crJvPT,
		.dark-mode .rem-text,
		.dark-mode .rem-text.rem-header--1,
		.dark-mode .rem-text.rem-header--2,
		.dark-mode .rem-text.rem-header--3,
		.dark-mode .css-ZPdGi {
			color: var(--darkmode-text);
		}
		
	/* Hierarchy Editor - LinkNode */
		.dark-mode .LinkNode {
			color: var(--link-node-color-dark) !important;
			background-color: var(--darkmode-background-selected);
			border-radius: 3px;
			padding: 0px 2px 0px 2px;
		}
	/* Hierarchy Editor - TreeNode */
		.dark-mode .TreeNode {
			border-width: 1.5px !important;
			border-left-color: var(--line-color-dark) !important;
		}
		
		.dark-mode .animate-zoom-into-bullet .quote {
			color: var(--quote-text-dark) !important;
			background-color: var(--quote-background-dark) !important;
		}
	
	/* All Notes page list */
		.dark-mode .css-exQOrH {
			color: var(--darkmode-text);
			background-color: var(--darkmode-background);
			padding: 5px;
			border-radius: 5px;
		}	
		.dark-mode .css-jlRuPl {padding: 3px 0px 3px 0px;}
		.dark-mode .css-cLpPvR .RichTextViewer {color: #9191A8 !important;}
	/* Hierarchy Editor - Reference */
		.rem-reference .RichTextViewer {
			font-weight: 400;
		    color: var(--reference-text-dark);
		    background-color: ;
		}
	/* Hierarchy Editor - Alias */
		.rem-reference-container .css-kWtKRr {
			filter: invert(1);
			position: relative;
			top: 3px;
		}
		
	/* Hierarchy Editor - Katex */
		.dark-mode .katex,
		.dark-mode .latex-node--focused:not(.latex-node--block) .katex {
			background-color: unset;
		}
		
	/* Hierarchy Editor - Calendar icon */
		.rem-calendar-icon--in-editor,
		.rem-container--not-included-in-document-scope .file.text.small.icon {
			color: var(--darkmode-text);
		}
	/* Hierarchy Editor - Source */
		.dark-mode .rem-reference-link {
			background-color: var(--calloutyellow-background-color-dark);
		}
	/* Hierarchy Editor - Left-side Hiearchy Editor Margin */
		.document--ltr {padding: 0px 0px 0px 40px;}

	/* Hierarchy Editor - Source & Tags */
		.gap-y-2.grid.grid-cols-1.pb-2 {zoom: }
		.remHierarchyTop {display: ;} 
/*********** Rem-Bullet Container ***********/
	.dark-mode .plus-button,
	.dark-mode .six-dot,
	.dark-mode .toggle-collapse-button {
		background-color: transparent;
	}

	.dark-mode .icon-button,
	.dark-mode .rem-bullet__container .rem-bullet,
	.dark-mode .rem-bullet__container .rem-bullet__icon {
		filter: invert(1);
	}
/*********** Hightlight Style ***********/
	.highlight-color--red,
	.highlight-color--orange,
	.highlight-color--yellow,
	.highlight-color--green,
	.highlight-color--blue,
	.highlight-color--purple {
		color: black;
		border-radius: 3px;
		margin-bottom: 1px;
		padding: 0px 2px 0px 2px;
	}
	
	.highlight-color--red {background-color: var(--highlight-color--red);}
	.dark-mode .highlight-color--red {background-color: var(--highlight-color--red-dark);}
	.highlight-color--orange {background-color: var(--highlight-color--orange);}
	.dark-mode .highlight-color--orange {background-color: var(--highlight-color--orange-dark);}
	.highlight-color--yellow {background-color: var(--highlight-color--yellow);}
	.dark-mode .highlight-color--yellow {background-color: var(--highlight-color--yellow-dark);}
	.highlight-color--green {background-color: var(--highlight-color--green);}
	.dark-mode .highlight-color--green {background-color: var(--highlight-color--green-dark);}
	.highlight-color--blue {background-color: var(--highlight-color--blue);}
	.dark-mode .highlight-color--blue {background-color: var(--highlight-color--blue-dark);}
	.highlight-color--purple {background-color: var(--highlight-color--purple);}
	.dark-mode .highlight-color--purple {background-color: var(--highlight-color--purple-dark); }

	.highlight-color--red .rem-text,
	.highlight-color--red .rem-text.rem-header--1,
	.highlight-color--red .rem-text.rem-header--2,
	.highlight-color--red .rem-text.rem-header--3,
	.highlight-color--orange .rem-text,
	.highlight-color--orange .rem-text.rem-header--1,
	.highlight-color--orange .rem-text.rem-header--2,
	.highlight-color--orange .rem-text.rem-header--3,
	.highlight-color--yellow .rem-text,
	.highlight-color--yellow .rem-text.rem-header--1,
	.highlight-color--yellow .rem-text.rem-header--2,
	.highlight-color--yellow .rem-text.rem-header--3,
	.highlight-color--green .rem-text,
	.highlight-color--green .rem-text.rem-header--1,
	.highlight-color--green .rem-text.rem-header--2,
	.highlight-color--green .rem-text.rem-header--3,
	.highlight-color--blue .rem-text,
	.highlight-color--blue .rem-text.rem-header--1,
	.highlight-color--blue .rem-text.rem-header--2,
	.highlight-color--blue .rem-text.rem-header--3,
	.highlight-color--purple .rem-text,
	.highlight-color--purple .rem-text.rem-header--1,
	.highlight-color--purple .rem-text.rem-header--2,
	.highlight-color--purple .rem-text.rem-header--3  {
		color: black;
	}
	
	/* Document Title Highlight Style */
		#DocumentTitle .bold.highlight-color--red,
		#DocumentTitle .bold.highlight-color--orange,
		#DocumentTitle .bold.highlight-color--yellow,
		#DocumentTitle .bold.highlight-color--green,
		#DocumentTitle .bold.highlight-color--blue,
		#DocumentTitle .bold.highlight-color--purple {
			background-color: unset !important;
		}
		#DocumentTitle .bold.highlight-color--red {color: var(--red-text);}
		#DocumentTitle .bold.highlight-color--orange {color: var(--orange-text);}
		#DocumentTitle .bold.highlight-color--yellow {color: var(--yellow-text);}
		#DocumentTitle .bold.highlight-color--green {color: var(--green-text);}
		#DocumentTitle .bold.highlight-color--blue {color: var(--blue-text);}
		#DocumentTitle .bold.highlight-color--purple {color: var(--purple-text);}
		.dark-mode #DocumentTitle .bold.highlight-color--red {color: var(--red-text-dark);}
		.dark-mode #DocumentTitle .bold.highlight-color--orange {color: var(--orange-text-dark);}
		.dark-mode #DocumentTitle .bold.highlight-color--yellow {color: var(--yellow-text-dark);}
		.dark-mode #DocumentTitle .bold.highlight-color--green {color: var(--green-text-dark);}
		.dark-mode #DocumentTitle .bold.highlight-color--blue {color: var(--blue-text-dark);}
		.dark-mode #DocumentTitle .bold.highlight-color--purple {color: var(--purple-text-dark);}
	
	/* Highlight Color to Text Color Using `color` Tag */
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--red,
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--orange, 
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--yellow,
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--green,
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--blue,
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--purple {
			background-color: unset;
		}
		
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--red,
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--orange,
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--yellow,
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--green,
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--blue,
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--purple {
			font-weight: 500;
		}
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--red {color: var(--red-text);} 
		[data-rem-tags~="color"] .rem-text .bold.highlight-color--orange {color: var(--orange-text);}
	    [data-rem-tags~="color"] .rem-text .bold.highlight-color--yellow {color: var(--yellow-text);}
	    [data-rem-tags~="color"] .rem-text .bold.highlight-color--green {color: var(--green-text);}
	    [data-rem-tags~="color"] .rem-text .bold.highlight-color--blue {color: var(--blue-text);}
	    [data-rem-tags~="color"] .rem-text .bold.highlight-color--purple {color: var(--purple-text);}
	    .dark-mode [data-rem-tags~="color"] .rem-text .bold.highlight-color--red {color: var(--red-text-dark);} 
		.dark-mode [data-rem-tags~="color"] .rem-text .bold.highlight-color--orange {color: var(--orange-text-dark);}
	    .dark-mode [data-rem-tags~="color"] .rem-text .bold.highlight-color--yellow {color: var(--yellow-text-dark);}
	    .dark-mode [data-rem-tags~="color"] .rem-text .bold.highlight-color--green {color: var(--green-text-dark);}
	    .dark-mode [data-rem-tags~="color"] .rem-text .bold.highlight-color--blue {color: var(--blue-text-dark);}
	    .dark-mode [data-rem-tags~="color"] .rem-text .bold.highlight-color--purple {color: var(--purple-text-dark);} 
/*********** Context Menu ***********/
	.dark-mode .select-none.rounded.bg-gray-5 {
		color: black;
		background-color: var(--lightmode-background-selected);
	}
/*********** Find / Filter / Replace - Ctrl(⌘) + F ***********/
    .dark-mode #hierarchy-editor__ctrl-f .css-exQOrH {
        color: black;
        background-color: unset;
    }
    #rich-text-editor__icon {
    	filter: invert(1);
    }
/*********** Popup ***********/
	.dark-mode #document-hover-preview__popup {
		color: var(--darkmode-text);
		background-color: var(--darkmode-background);
		border: 2px dashed white;
	}

	.dark-mode .popup-menu, 
	.dark-mode .popup-menu.fixed .bg-white, 
	.dark-mode .popup-menu.fixed .bg-white .css-kbbFlF, 
	.dark-mode #document-hover-preview__popup {
		color: var(--darkmode-text);
		background-color: var(--darkmode-background);
		border: 1px dotted white;
	}
	
	.dark-mode .popup-menu__item, 
	.dark-mode .popup-menu__item--static,
	.dark-mode .hierarchy-editor__search-portal-section {
		color: var(--darkmode-text);
		background-color: var(--darkmode-background);
	}
	
	.dark-mode #show-embedded-search-button {
		color: var(--darkmode-text) !important;
		background-color: var(--darkmode-background-selected);
		filter: invert(0) !important;
		border-radius: 5px;
	}
	
	.popup-menu .file.text.small.icon::before {filter: invert(1);}
/*********** Popup for image control ***********/
/*********** Codeblock ***********/	
	#code-node {background-color: var(--code-node-background-color);}
	.dark-mode #code-node {background-color: var(--code-node-background-color-dark);}
	.codeLine::before {color: var(--code-node-line-number-color);}
	.dark-mode .codeLine::before {color: var(--code-node-line-number-color-dark);}
	#code-node::before {background-color: var(--line-number-background-color);}
	.dark-mode #code-node::before {background-color: var(--code-node-line-number-background-color-dark);}
/*********** Checkbox ***********/	
	#DocumentTitle .rem-header--1 .rem-checkbox,
	#DocumentTitle .rem-header--2 .rem-checkbox,
	#DocumentTitle .rem-header--3 .rem-checkbox {
		margin-right: 15px;
	}
/*********** Settings Page ***********/
	.dark-mode .settings-page {background-color: var(--darkmode-background);}
	.dark-mode .settings-page__sidebar__title {color: var(--darkmode-contrast);}
	.dark-mode .settings-page__sidebar__link--active {border: 1px solid var(--darkmode-contrast);}
	/* Sidebar svg icon */
	.dark-mode .settings-page .css-drbSAB {
		    color: var(--darkmode-contrast);
		    background-color: var(--darkmode-background);
		    border: 1px dotted var(--darkmode-contrast);
		    border-radius: 5px;
		}
	/* Setting Page Content */
	.dark-mode .settings-page .popup__header,
	.dark-mode .settings-page__content__inner {
		background-color: var(--darkmode-background);
	}
	/* Plan */
	.dark-mode .settings-page .css-emvqyP {
	    color: var(--darkmode-contrast);
	    font-family: "Roboto Mono", "Fira Code", monospace;
	    font-weight: 600;
	}
	/* Account, Knowledge Base Settings, Danger Zone, Syncing, App Version */
	.dark-mode .settings-page .items-center,
	.dark-mode .settings-page .css-jBUFtN,
	.dark-mode .settings-page .css-ATSnA,
	.dark-mode .settings-page .css-dcfFHl,
	.dark-mode .settings-page .css-cSCrvK,
	.dark-mode .settings-page .css-exQOrH + a,
	.dark-mode .settings-page .checkbox,
	.dark-mode .settings-page .px-6,
	.dark-mode .settings-page .p-6 {
	    color: var(--darkmode-text);
	}
/*********** Reference ***********/
	.rem-reference.button.rem-reference-link {
		color: unset;
		background-color: #F5FAF9;
		font-weight: 700;
		border: 0.1px solid #DEE0E0;
	}
	/* Reference Partial Hiding using inlinequote */
	.rem-reference.button.rem-reference-link .quote {display: none;}
	.rem-reference.button.rem-reference-link .alias {color: red;}
	/* Hide Reference root & > symbol */
	.rem-reference.button.rem-reference-link .gray,
	.rem-reference.button.rem-reference-link .join-arrow {
		display: none;
	}
/*********** Sidebar ***********/
	/* Basic */
		#document-sidebar {background-color: var(--darkmode-background-sidebar);}
		.dark-mode #document-sidebar {background-color: var(--darkmode-background-sidebar) !important;}
		
		#document-sidebar + div > div {
			color: var(--darkmode-contrast) !important;
			background-color: var(--darkmode-background-sidebar) !important;
		}
	/* Sidebar Collapsed */
		.document-sidebar--collapsed--vertical {
			background-color: #000;
			width: 25px;
		}

		.document-sidebar--collapsed--vertical div div{left: -6px;}
		.document-sidebar--collapsed--vertical {width: 20px;}
	
	/* Navigation Bar */
		.navigation-bar  {background-color: var(--darkmode-background-sidebar);}
		.hierarchy-editor-list__sticky-top__rem-container {
			position: relative;
			top: -10px;	
		}

		.hierarchy-editor-list__sticky-top__rem-container .EditorContainer {zoom: 90%;}
			.hierarchy-editor-list__sticky-top__rem-container .rem-is-custom-rem-type--in-body {zoom: 90%;}
	/* RemNote Date Picker */
		.react-datepicker.search-results__date-picker {background-color: #ffffff !important;}
		
	/* RemNote Help Page Top */
		.css-bBkpDG {filter: invert(1);}
	/* Account Capsule */
		#document-sidebar__account-capsule {background-color: #FFFFFF;}
	/* Sidebar Top */
		/* Search and ⚡️*/
			#document-sidebar_top .flex.items-center.p-2.gap-2 > div {
				border: 1px solid var(--darkmode-text);
			}
		/* All Notes & Flashcards Text*/
			#document-sidebar_top .flex.items-center.mb-1 {
				font-family: "Roboto Mono", "Fira Code", Monospace;
				color: var(--darkmode-contrast);
				zoom: 125%;
				margin-left: 5px;
				background-color: var(--darkmode-background-sidebar);
			}
		/* All Notes icon */
			#document-sidebar_top .css-fqRAnH {
				color: var(--darkmode-contrast);
				zoom: 125%;
			}
		/* Flashcard icon */
			#document-sidebar_top .block .css-pUlLN {
				zoom: 125%;
				color: var(--darkmode-contrast);
			}

			#document-sidebar_top .block .flex-grow {
				font-family: "Roboto Mono", "Fira code", Monospace;
				color: var(--darkmode-contrast);
			}
	/* Sidebar Pinned, Draft, Archive Symbol (Sidebar Item Top Level) */
		#document-sidebar .title.cursor-pointer .css-fqRAnH {
			zoom: 150%;
			color: black;
		}

		#document-sidebar .title.cursor-pointer .css-pUlLN {color: black;}

		.accordion.ui.fluid .title.cursor-pointer {
			background-color: #FFFFFF;
			zoom: 150%;
			max-height: 5px !important;
			border-radius: 5px;
		}
	/* Power-up Symbol */
		#document-sidebar .rem-is-custom-rem-type {
			filter: invert(1);
			position: relative;
			top: 2px !important;
		}
	/* Sidebar Document lists */
		#document-sidebar .p-2.flex.group-hover-bg-hover-bg-transparent {height: 20px !important;}

		#document-sidebar .bg-white.cursor-pointer {display: none;}

		#document-sidebar .RichTextViewer {
			color: #C7C7C7;
			position: relative;
			top: 1px;
		}

		#document-sidebar .highlight-color--red,
		#document-sidebar .highlight-color--orange,
		#document-sidebar .highlight-color--yellow,
		#document-sidebar .highlight-color--green,
		#document-sidebar .highlight-color--blue,
		#document-sidebar .highlight-color--purple {
			margin-left: 5px;
			padding: 1px !important;
			border-radius: 3px;
		}

		#document-sidebar .RichTextViewer .quote {
			margin-left: 5px !important;
			font-family: "Roboto Mono", Monospace !important;
			font-size: 14px !important;
			border-radius: 6px !important;
		}
	/* Sidebar list item focused*/
		#document-sidebar .bg-primary-5 .RichTextViewer {color: white !important;}
		#document-sidebar .rounded-md.text-primary-70 {
			background-color: transparent !important;
			border: 2px solid var(--darkmode-contrast) !important;
		}
	/* Sidebar list item icon */
		.document-list-item__folder-icon {color: #C7C7C7;}
		#document-sidebar .float-right {color: var(--darkmode-contrast);}
	/* Sidebar list Arrow line Alignment */
		.flex-grow.nowrap-RichTextViewer:only-child {margin-left: 25px;}
	/* RemNote Help Page Sidebar Document lists */
		.block.group.cursor-pointer .highlight-color--red .RichTextViewer, 
		.block.group.cursor-pointer .highlight-color--orange .RichTextViewer,
		.block.group.cursor-pointer .highlight-color--yellow .RichTextViewer,
		.block.group.cursor-pointer .highlight-color--green .RichTextViewer,
		.block.group.cursor-pointer .highlight-color--blue .RichTextViewer,
		.block.group.cursor-pointer .highlight-color--purple .RichTextViewer {
			color: black !important;
		}

		.block.group.cursor-pointer .highlight-color--red .document-list-item__folder-icon,
		.block.group.cursor-pointer .highlight-color--orange .document-list-item__folder-icon,
		.block.group.cursor-pointer .highlight-color--yellow .document-list-item__folder-icon,
		.block.group.cursor-pointer .highlight-color--green .document-list-item__folder-icon,
		.block.group.cursor-pointer .highlight-color--blue .document-list-item__folder-icon,
		.block.group.cursor-pointer .highlight-color--purple .document-list-item__folder-icon {
			filter: invert(1);
		}


