:root {
	--line-color: #DDD;
	--line-color-dark: #535353;
}

[data-rem-container-tags~=divider] {
	margin-bottom: 10px;
	margin-right: 1.5rem;
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider] {
	color: transparent;
	padding-right: 15px;
	height: 7px;
	margin-left: 10px;
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider]::before {
	content: " ";
	display: block;
	position: absolute;
	border-bottom: var(--line-color);
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider]:focus-within {
	background-color: #DCF3FF;
	margin-left: 40px;
	margin-right: -1.8rem;
	position: relative;
	top: 3px;
	left: -15px;
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider]:focus-within::before {
	border-bottom: 2px solid var(--line-color);
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider]:not(:focus-within) {
	color: transparent;
	position: relative;
	padding: 0px 15px;
}
[data-rem-container-tags~=divider] [data-rem-tags~=divider]:not(:focus-within)::before {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	top: 50%;
	border-bottom: 2px solid var(--line-color);
	height: 2px;
}

.dark [data-rem-tags~=divider]:focus-within {
	background-color: #576066;
}
.dark [data-rem-tags~=divider]:not(:focus-within):before {
	border-bottom: 2px solid var(--line-color-dark, #535353);
}

[data-rem-tags~=divider] .RichTextViewer,
[data-rem-tags~=divider] [data-slate-node=element] {
	visibility: hidden;
}
[data-rem-tags~=divider] .rem-button__container,
[data-rem-tags~=divider] .rem-container--focused,
[data-rem-tags~=divider] .rem-bullet__icon,
[data-rem-tags~=divider] .rem-bullet__container,
[data-rem-tags~=divider] .rem-checkbox,
[data-rem-tags~=divider] .rem:not([data-rem-tags~=show-tags]) .hierarchy-editor__tag-bar,
[data-rem-tags~=divider] .relative.flex.items-center.float-end,
[data-rem-tags~=divider] .rich-text-editor-placeholder {
	display: none;
}