/* No Bullets Default Setting */

.rem-bullet {
	border-color: black;
  	background-color: transparent;
	border-radius: 2px;
	margin-top: 4px;
 	margin-left: ;
}

/* Setting for Opened Rem Container Bullet */

.rem-bullet__container 
.rem-bullet. rem-bullet--all-children-visible {
	border: 0.1px solid #53555f ;
	background-color: transparent;
	height: 4px ;
	width: 4px ;
}

.rem-bullet__container-undefined 
.rem-bullet.rem-bullet {
	border: transparent ;
	background-color: transparent;
}

/* Setting for Hidden Rem container Bullet */

.rem-bullet__container
.rem-bullet.rem-bullet--hidden-children {
	border: 0.1px solid #53555f !important;
	background-color: black;
	height: 4px !important;
	width: 4px !important;
}

[data-rem-container-tags~="bulletlist"] .rem-bullet { 	
	background-color: #2B3137 !important; 
	border-color: #CC0000 !important; 
	border-radius: 4px !important;
	height: 4px !important;
	width: 4px !important;
	margin-left: px !important;
}

[data-rem-tags~="bullet"] .rem-bullet { 	
	border: 0.1px solid #53555f !important;
	background-color: transparent;
	height: 4px ;
	width: 4px ;
}

/*********** Settings for Flashcard Rem Exception ***********/

/*********** Concept-Rem-Type Bullet by Henrik ***********/
.rem-container--concept-rem-type 
.rem-bullet__container
.rem-bullet__container-undefined :hover :not(document), 
.rem-container--concept-rem-type 
.rem-bullet__container.rem-bullet__container-undefined 
.rem-bullet{
	background: green !important;
	width: 16px !important;
	height: 12px !important;
	position: relative !important;
	top: 1px !important;
	left: 2px !important;
	-webkit-mask-image: url("https://justtolook.github.io/remnote-theme/concept.svg");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
}

/*********** Descriptor-Rem-Type Bullet by Henrik ***********/
.rem-container--descriptor-rem-type 
.rem-bullet__container
.rem-bullet__container-undefined :hover:not(document), 
.rem-container--descriptor-rem-type 
.rem-bullet__container.rem-bullet__container-undefined 
.rem-bullet {
	background: blue !important;
	width: 14px !important;	
	height: 12px !important;
	position: relative !important;
	top: 1px !important;
	left: 1px !important;
	-webkit-mask-image: url("https://justtolook.github.io/remnote-theme/descriptor.svg");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
}

/*********** Question-Rem-Type Bullet by Henrik ***********/
.rem-container--question-rem-type 
.rem-bullet__container
.rem-bullet__container-undefined :hover :not(document), 
.rem-container--question-rem-type 
.rem-bullet__container.rem-bullet__container-undefined 
.rem-bullet{
	background: purple !important;
	width: 14px !important;
	height: 12px !important;
	position: relative !important;
	top: 1px !important;
	left: 1px !important;
	-webkit-mask-image: url("https://justtolook.github.io/remnote-theme/question.svg");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
}

/*********** TreeNode Distraction Free ***********/
#hierarchy-editor .TreeNode {
 	border-width: 1px;
	border-color: #F7F6F3 !important;
 	transition-timing-function: linear;
 	position: relative;
 	background-color: transparent;
 	padding-left: 1.45em;
 	padding-top: 0px;
 	padding-bottom: 0px;
 	margin-top: 0px;
 	margin-bottom: 0px;
}

#hierarchy-editor .TreeNode--dark-indent-line {
	border-width: 1px;
	background-color: transparent;
}

.hierarchy-editor--ltr .TreeNode {
	margin-left: 2.5px;
	padding-left: 20px;
	border-left-style: solid;
}

.TreeNodeLeftBorder {
	border-color: #FF2600;
	border-width: 1px;
}

.tree-node-container {
	border-color: #FF2600;
	border-width: 1px;
}
