/*********** Basic Color ***********/
:root {
    --bullet-main:#53555F;
    --bullet-doc:#50FA7B;
    --bullet-folder:#53555F;
    --bullet-concept:#53555F;
    --bullet-descriptor:#53555F;
    --font-practice-enabled-indicator-c: #D73B3E;			/* color when practice is enabled for both directions*/
	--font-forward-practice-enabled-indicator-c: #F28500;	/* color when practice is enabled only for forward direction*/   
	--font-backward-practice-enabled-indicator-c: #AF7AC5; 	/* color when practice is enabled only for backward direction*/
}

/*********** Practice direction / Card Type Icons ***********/
:root {
    --forward-practice-icon: "⇒";
    --forward-practice-color: red;
    --backward-practice-icon: "⇐";
    --backward-practice-color: purple;
    --both-practice-icon: "⇔";
    --both-practice-color: orange;
    --disabled-practice-icon: "⇐";
    --disabled-practice-color: tomato;
    --question-backward-practice-icon: "!⇐!";
    --question-backward-practice-color: red;
    --question-both-practice-icon: "!⇔!";
    
    --question-both-practice-color: red;
    --concept-icon-color: green;
    --descriptor-icon-color: royalblue;
    --question-icon-color: mediumpurple;
    --slot-icon-color: grey;
    
    --concept-icon: "🄲";
    --descriptor-icon: "🄳";
    --question-icon: "🅀";
    --slot-icon: "🅂";
    --rem-icon-font-weight: bold;
}

.rem-bullet {
    border-color: transparent;
    background-color: transparent;
    border-radius: 2px;
    margin-top: 4px;
    margin-left: ;
}

/*********** Disable default practice indicators ***********/
    .rem-container .separator-symbol,
    .rem-container .MultiLineCardIndicator {
        background: inherit;
    }

/*********** Change the color of all .rem-bullet(s) inside rem-bullet__container if forward/backworad/both-direction practice is enabled ***********/
    .rem-container--forwards-practice-enabled .rem-bullet__container .rem-bullet {
        background-color: var(--font-forward-practice-enabled-indicator-c);
    }

    .rem-container--backwards-practice-enabled  .rem-bullet__container .rem-bullet {
        background-color: var(--font-backward-practice-enabled-indicator-c);
    }

    .rem-container--forwards-practice-enabled.rem-container--backwards-practice-enabled  .rem-bullet__container .rem-bullet {
        background-color: var(--font-practice-enabled-indicator-c);
    }

/***************** Header 1 *****************/

/***************** Header 2 *****************/
    .rem-header--2 {
        font-size: 24px !important;
    }

    .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2 {
        position: relative;
        top: 0px;
    }

    .rem-text.rem-header--2 {
        border-radius: 5px;
        margin-bottom: 2px;
    }

    .rem-header--2 .EditorContainer {
        position: relative;
        top: -2px;
    }

    .rem-bullet__container .rem-header__bullet--2 {
        margin-top: 2px;
    }

    .rem-bullet__container.rem-bullet.rem-bullet--all-children-visible.rem-header__bullet--2 {
        border: 0.1px solid var(--bullet-main);
        background-color: transparent;
        height: 4px !important;
        width: 4px !important;
    }

    .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2 {
        border: 0.1px solid var(--bullet-main) !important;
        background-color: var(--bullet-main);
        height: 4px !important;
        width: 4px !important;
    }

/***************** Header 3 *****************/
    .rem-header--3 {
        font-size: 18px !important;
    }

    .rem-text.rem-header--3 {
        border-radius: 5px;
        margin-bottom: 2px;
    }

    .rem-header--3 .EditorContainer {
        position: relative;
        top: -1px;
    }

    .rem-bullet__container .rem-header__bullet--3 {
        margin-top: 3px;
    }

    .rem-bullet__container .rem-bullet.rem-bullet--all-children-visible.rem-header__bullet--3 {
        border: transparent;
        background-color: transparent;
        height: 4px !important;
        width: 4px !important;
    }

    .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3 {
        border: 0.1px solid var(--bullet-main) !important;
        background-color: var(--bullet-main);
        height: 4px !important;
        width: 4px !important;
    }

/*********** Rem Container ALL Children Visible Bullet ***********/
    .rem-bullet__container.rem-bullet.rem-bullet--all-children-visible {
        border: 0.1px solid var(--bullet-main);
        background-color: transparent;
        height: 4px;
        width: 4px;
    }

    .rem-bullet__container-undefined .rem-bullet.rem-bullet {
        border:  transparent;
        background-color: transparent;
        margin-bottom: -2px;
    }

    .rem-text.rem-text {
        border-radius: 5px;
        
    }

    .EditorContainer {
        line-height: 140%;
    }

    .rem-bullet.rem-bullet:hover {
        border: red;
        background-color: red;
        margin-bottom: 3px;
    }

    .rem-bullet.rem-bullet--hidden-children {
        margin-top: 4px;
    }

/*********** Rem Container Children Hidden Bullet ***********/
    .rem-bullet__container .rem-bullet.rem-bullet--hidden-children {
        border: 0.1px solid var(--bullet-main) !important;
        background-color: var(--bullet-main);
        height: 4px;
        width: 4px;
    }

/*********** Make Bullet-list by Intentional Tagging ***********/
    [data-rem-tags~="bulletlist"] {
        margin-left: 15px;
        padding-top: 1px;
        padding-bottom: 5px;
    }

    [data-rem-tags~="bulletlist"] .rem-bullet {     
        background-color: #2B3137 !important; 
        border-color: ;
        border-radius: 4px !important;
        height: 4px !important;
        width: 4px !important;
        margin-left: px !important;
        padding: 1px;
        position: relative;
        top: 2px;
    }

    [data-rem-tags~="bullet"] .rem-bullet {     
        border: 0.1px solid var(--bullet-main) !important;
        background-color: transparent;
        height: 4px ;
        width: 4px ;
    }

/*********** Concept-Rem-Type Bullet ***********/
    .concept_rem_type {
        font-weight: 400 !important;
        font-family: ;
    }

    .rem-container--concept-rem-type .rem-bullet__container.rem-bullet__container-undefined :hover:not(document), 
    .rem-container--concept-rem-type .rem-bullet__container.rem-bullet__container-undefined .rem-bullet {
        background: green !important;
        width: 16px !important;
        height: 12px !important;
        position: relative !important;
        top: 1px !important;
        left: 2px !important;
        -webkit-mask-image: url("https://justtolook.github.io/remnote-theme/concept.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
    }

/*********** Descriptor-Rem-Type Bullet ***********/
    .descriptor_rem_type {
        font-weight: 400 !important;
        font-style: initial;
        font-family: ;
    }

    .rem-container--descriptor-rem-type .rem-bullet__container.rem-bullet__container-undefined :hover:not(document), 
    .rem-container--descriptor-rem-type .rem-bullet__container.rem-bullet__container-undefined .rem-bullet {
        background: blue !important;
        width: 14px !important; 
        height: 12px !important;
        position: relative !important;
        top: 1px !important;
        left: 1px !important;
        -webkit-mask-image: url("https://justtolook.github.io/remnote-theme/descriptor.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
    }

/*********** Question-Rem-Type Bullet ***********/
    .question_rem_type {
        font-weight: 400 !important;
        font-family: ;
    }

    .rem-container--question-rem-type .rem-bullet__container.rem-bullet__container-undefined :hover:not(document), 
    .rem-container--question-rem-type .rem-bullet__container.rem-bullet__container-undefined .rem-bullet{
        background: purple !important;
        width: 14px !important;
        height: 12px !important;
        position: relative !important;
        top: 1px !important;
        left: 1px !important;
        -webkit-mask-image: url("https://justtolook.github.io/remnote-theme/question.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
    }

/*********** TreeNode Distraction Free ***********/
    #hierarchy-editor .TreeNode {
        border-color: #F7F6F3 !important;
        border-width: 1px;
        transition-timing-function: linear;
        position: relative;
        background-color: transparent;
        padding-left: 25px;
    }

/*********** Bullet Change While Hovering ***********/
    .rem-container--not-in-article .rem-bullet__container:hover .rem-bullet--all-children-visible, 
    .rem-container--not-in-article .rem-bullet__container .rem-bullet--hidden-children {
        border: 1;
    }

    .rem-container--not-in-article .rem-bullet__container:hover .rem-bullet--all-children-visible {
        transition: transform .2s ease; /* Animation */
        transform: scale(1.4);
    }

    .rem-container--not-in-article .rem-bullet__container:hover .rem-bullet--hidden-children {
        border: 0;
        transition: transform .2s ease; /* Animation */
        transform: scale(1.4);
    } 












