:root {
    --callout-background-color: #F7F6F3;
    --callout-background-color-dark: #DFDFDC;
    --calloutred-background-color: #FFE9EC;
    --calloutred-background-color-dark: #E8CBC8;
    --calloutorange-background-color: #FDEDD9;
    --calloutorange-background-color-dark: #E8DAC8;
    --calloutyellow-background-color: #FDFEDD;
    --calloutyellow-background-color-dark: #E9E2BF;
    --calloutgreen-background-color: #E0FBE2;
    --calloutgreen-background-color-dark: #CDE6D0;
    --calloutblue-background-color: #E6F3F6;
    --calloutblue-background-color-dark: #D6E2E6;
    --calloutpurple-background-color: #FEEEFC;
    --calloutpurple-background-color-dark: #E4D5E3;
    --callout-padding: 15px 20px;
    --callout-margin-top: 7px;
    --callout-margin-bottom: 7px;
    --callout-margin-left: 24px;
    --callout-margin-right: 0px;
    --callout-border-radius: 5px;
}

/*********** Custom rem bullet icon ***********/
    [data-rem-tags~="warning"] .rem-bullet__container,
    [data-rem-tags~="idea"] .rem-bullet__container {
        position: relative;
        left: -8px;
    }
    [data-rem-tags~="warning"] .rem-bullet__container::before,
    [data-rem-tags~="idea"] .rem-bullet__container::before {
        font-size: large;
        visibility: visible;
        position: relative;
        left: 40px;
    }
    [data-rem-tags~="warning"] .rem-bullet__container::before {content: "🚨" ;}
    [data-rem-tags~="idea"] .rem-bullet__container::before {content: "💡";}

/*********** Callout Rem Block Color-Variable & Pre-Coloured ***********/
    [data-rem-tags~="callout"] .rem-container,
    [data-rem-tags~="callout"] .rem-container.highlight-color--red,
    [data-rem-tags~="callout"] .rem-container.highlight-color--orange,
    [data-rem-tags~="callout"] .rem-container.highlight-color--yellow,
    [data-rem-tags~="callout"] .rem-container.highlight-color--green,
    [data-rem-tags~="callout"] .rem-container.highlight-color--blue,
    [data-rem-tags~="callout"] .rem-container.highlight-color--purple,
    [data-rem-tags~="calloutred"] .rem-container,
    [data-rem-tags~="calloutorange"] .rem-container,
    [data-rem-tags~="calloutyellow"] .rem-container,
    [data-rem-tags~="calloutgreen"] .rem-container,
    [data-rem-tags~="calloutblue"] .rem-container,
    [data-rem-tags~="calloutpurple"] .rem-container {   
        padding: var(--callout-padding);
        margin-top: var(--callout-margin-top);
        margin-bottom: var(--callout-margin-bottom);
        margin-left: var(--callout-margin-left);
        margin-right: var(--callout-margin-right);
        border-radius: var(--callout-border-radius);
    }
    
    [data-rem-tags~="callout"] .rem-container {background-color: var(--callout-background-color);}
    [data-rem-tags~="callout"] .rem-container.highlight-color--red,
    [data-rem-tags~="calloutred"] .rem-container {background-color: var(--calloutred-background-color);}
    [data-rem-tags~="callout"] .rem-container.highlight-color--orange,
    [data-rem-tags~="calloutorange"] .rem-container {background-color: var(--calloutorange-background-color);}
    [data-rem-tags~="callout"] .rem-container.highlight-color--yellow,
    [data-rem-tags~="calloutyellow"] .rem-container {background-color: var(--calloutyellow-background-color);}
    [data-rem-tags~="callout"] .rem-container.highlight-color--green,
    [data-rem-tags~="calloutgreen"] .rem-container {background-color: var(--calloutgreen-background-color);}    
    [data-rem-tags~="callout"] .rem-container.highlight-color--blue,
    [data-rem-tags~="calloutblue"] .rem-container {background-color: var(--calloutblue-background-color);}
    [data-rem-tags~="callout"] .rem-container.highlight-color--purple,
    [data-rem-tags~="calloutpurple"] .rem-container {background-color: var(--calloutpurple-background-color);}

/*********** Darkmode Compatibility ***********/
    .dark-mode [data-rem-tags~="callout"] .rem-container {background-color: var(--callout-background-color-dark) !important;}
    .dark-mode [data-rem-tags~="callout"] .rem-container.highlight-color--red,
    .dark-mode [data-rem-tags~="calloutred"] .rem-container {background-color: var(--calloutred-background-color-dark) !important;}
    .dark-mode [data-rem-tags~="callout"] .rem-container.highlight-color--orange,
    .dark-mode [data-rem-tags~="calloutorange"] .rem-container {background-color: var(--calloutorange-background-color-dark) !important;
    }
    .dark-mode [data-rem-tags~="callout"] .rem-container.highlight-color--yellow,
    .dark-mode [data-rem-tags~="calloutyellow"] .rem-container {background-color: var(--calloutyellow-background-color-dark) !important;}
    .dark-mode [data-rem-tags~="callout"] .rem-container.highlight-color--green,
    .dark-mode [data-rem-tags~="calloutgreen"] .rem-container {background-color: var(--calloutgreen-background-color-dark) !important;}
    .dark-mode [data-rem-tags~="callout"] .rem-container.highlight-color--blue,
    .dark-mode [data-rem-tags~="calloutblue"] .rem-container {background-color: var(--calloutblue-background-color-dark) !important;}
    .dark-mode [data-rem-tags~="callout"] .rem-container.highlight-color--purple,
    .dark-mode [data-rem-tags~="calloutpurple"] .rem-container {background-color: var(--calloutpurple-background-color-dark) !important;
    }
    
    [data-rem-tags~="callout"] .rem-text,
    [data-rem-tags~="calloutred"] .rem-text,
    [data-rem-tags~="calloutorange"] .rem-text,
    [data-rem-tags~="calloutyellow"] .rem-text,
    [data-rem-tags~="calloutgreen"] .rem-text,
    [data-rem-tags~="calloutblue"] .rem-text,
    [data-rem-tags~="calloutpurple"] .rem-text {
        color: black !important;
    }   
    
/*********** Tag Declutter ***********/
    [data-rem-tags~="callout"] .items-center.hierarchy-editor__tag-bar__tag, 
    [data-rem-tags~="calloutred"] .items-center.hierarchy-editor__tag-bar__tag, 
    [data-rem-tags~="calloutorange"] .items-center.hierarchy-editor__tag-bar__tag,
    [data-rem-tags~="calloutyellow"] .items-center.hierarchy-editor__tag-bar__tag,
    [data-rem-tags~="calloutgreen"] .items-center.hierarchy-editor__tag-bar__tag,
    [data-rem-tags~="calloutblue"] .items-center.hierarchy-editor__tag-bar__tag,
    [data-rem-tags~="calloutpurple"] .items-center.hierarchy-editor__tag-bar__tag {background-color: transparent !important;}

    [data-rem-tags~="callout"] .hierarchy-editor__tag-bar__tag span, 
    [data-rem-tags~="calloutred"] .hierarchy-editor__tag-bar__tag span, 
    [data-rem-tags~="calloutorange"] .hierarchy-editor__tag-bar__tag span,
    [data-rem-tags~="calloutyellow"] .hierarchy-editor__tag-bar__tag span,
    [data-rem-tags~="calloutgreen"] .hierarchy-editor__tag-bar__tag span,
    [data-rem-tags~="calloutblue"] .hierarchy-editor__tag-bar__tag span,
    [data-rem-tags~="calloutpurple"] .hierarchy-editor__tag-bar__tag span {display: none;}
    
    [data-rem-tags~="callout"] .hierarchy-editor__tag-bar, 
    [data-rem-tags~="calloutred"] .hierarchy-editor__tag-bar, 
    [data-rem-tags~="calloutorange"] .hierarchy-editor__tag-bar,
    [data-rem-tags~="calloutyellow"] .hierarchy-editor__tag-bar,
    [data-rem-tags~="calloutgreen"] .hierarchy-editor__tag-bar,
    [data-rem-tags~="calloutblue"] .hierarchy-editor__tag-bar,
    [data-rem-tags~="calloutpurple"] .hierarchy-editor__tag-bar {
        position: relative;
        right: -20px;
    }