:root {
	--treenode-line-spacing: 16px;
	--bullet-main: #000;
	--bullet-main-dark: #ABABAB;
	--bullet-doc: #50FA7B;
	--bullet-folder: #53555F;
	--bullet-concept: #53555F;
	--bullet-descriptor: #53555F;
	--both-practice-color: #FFA344;
	--forward-practice-color: #FF2600;
	--backward-practice-color: #D783FF;
	--disabled-practice-color: #959595;
	--line-color: #DDDDDD;
	--node-card-item-color: #FF4E4C;
	--node-card-item-color-dark: #E0CD00;
}

.EditorContainer {
	line-height: 160%;
}

.rem-button__container .rem-bullet__container .pointer-events-auto {
	pointer-events: none;
}
.rem-button__container .rem-bullet__container .rem-bullet--all-children-visible .perfect-circle__inner > svg {
	display: none;
}
.rem-button__container .rem-bullet__container .rem-bullet--all-children-visible .perfect-circle__inner > svg .rem-bullet__core {
	display: none;
}
.rem-button__container .rem-bullet__container .rem-bullet--hidden-children .perfect-circle__inner > svg {
	display: none;
}
.rem-button__container .rem-bullet__container .rem-bullet--hidden-children .perfect-circle__inner > svg .rem-bullet__core {
	display: none;
}
.rem-button__container .rem-bullet__container .rem-icon-bullet__wrapper {
	display: none;
}

#hierarchy-editor .rem-container .rem-button__container .toggle-collapse-button,
#hierarchy-editor .rem-container .rem-button__container .six-dot {
	position: relative;
	left: 24px;
}

.rem-container--header-1 .rem-button__container {
	margin-top: 12px;
}

.rem-container--header-2 .rem-button__container {
	margin-top: 8px;
}

.rem-container--header-3 .rem-button__container {
	margin-top: 6px;
}

.rem-button__container {
	margin-top: 5px;
}

.rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children,
.rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
.rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
.rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3 {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main);
}

#hierarchy-editor .rem-container--focused .rem-bullet.rem-bullet--hidden-children {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main);
}
#hierarchy-editor [data-rem-tags~=highlight] .rem-container--focused .rem-bullet.rem-bullet--hidden-children {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main);
}

.dark-mode .rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children,
.dark-mode .rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
.dark-mode .rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
.dark-mode .rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3 {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main-dark);
}
.dark-mode #hierarchy-editor .rem-container--focused .rem-bullet.rem-bullet--hidden-children {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main-dark);
}
.dark-mode [data-rem-tags~=highlight] .rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children,
.dark-mode [data-rem-tags~=highlight] .rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
.dark-mode [data-rem-tags~=highlight] .rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
.dark-mode [data-rem-tags~=highlight] .rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3 {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main);
}
.dark-mode #hierarchy-editor [data-rem-tags~=highlight] .rem-container--focused .rem-bullet.rem-bullet--hidden-children {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main);
}

.highlight-color--red .rem-bullet__container .rem-bullet.rem-bullet--hidden-children,
.highlight-color--red .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
.highlight-color--red .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
.highlight-color--red .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3,
.highlight-color--orange .rem-bullet__container .rem-bullet.rem-bullet--hidden-children,
.highlight-color--orange .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
.highlight-color--orange .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
.highlight-color--orange .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3,
.highlight-color--yellow .rem-bullet__container .rem-bullet.rem-bullet--hidden-children,
.highlight-color--yellow .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
.highlight-color--yellow .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
.highlight-color--yellow .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3,
.highlight-color--green .rem-bullet__container .rem-bullet.rem-bullet--hidden-children,
.highlight-color--green .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
.highlight-color--green .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
.highlight-color--green .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3,
.highlight-color--blue .rem-bullet__container .rem-bullet.rem-bullet--hidden-children,
.highlight-color--blue .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
.highlight-color--blue .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
.highlight-color--blue .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3,
.highlight-color--purple .rem-bullet__container .rem-bullet.rem-bullet--hidden-children,
.highlight-color--purple .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--1,
.highlight-color--purple .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--2,
.highlight-color--purple .rem-bullet__container .rem-bullet.rem-bullet--hidden-children.rem-header__bullet--3 {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main);
}

[data-rem-tags~=aliases] .rem-container--descriptor-rem-type .rem-button__container .rem-bullet__container .rem-bullet--hidden-children {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main);
	width: 0 !important;
	height: 0 !important;
	position: relative;
	top: 0rem !important;
	left: 0rem !important;
	zoom: unset;
	background: unset;
	-webkit-mask-image: unset;
	mask-image: unset;
}
[data-rem-tags~=aliases] .rem-container--descriptor-rem-type .rem-button__container .rem-bullet__container .rem-bullet--all-children-visible {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 6px 0 6px !important;
	border-radius: 3px;
	border-color: var(--bullet-main) transparent transparent transparent;
	width: 0 !important;
	height: 0 !important;
	position: relative;
	top: 0rem !important;
	left: 0rem !important;
	zoom: unset;
	background: unset;
	-webkit-mask-image: unset;
	mask-image: unset;
}

.dark-mode [data-rem-tags~=aliases] .rem-container--descriptor-rem-type .rem-button__container .rem-bullet__container .rem-bullet--hidden-children {
	border-color: transparent transparent transparent var(--bullet-main-dark);
}
.dark-mode [data-rem-tags~=aliases] .rem-container--descriptor-rem-type .rem-button__container .rem-bullet__container .rem-bullet--all-children-visible {
	border-color: var(--bullet-main-dark) transparent transparent transparent;
}

.rem-button__container .rem-bullet__container .rem-icon-bullet.rem-bullet--hidden-children {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 8px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent black;
}

.highlight-color--red .rem-icon-bullet.rem-bullet--hidden-children,
.highlight-color--orange .rem-icon-bullet.rem-bullet--hidden-children,
.highlight-color--yellow .rem-icon-bullet.rem-bullet--hidden-children,
.highlight-color--green .rem-icon-bullet.rem-bullet--hidden-children,
.highlight-color--blue .rem-icon-bullet.rem-bullet--hidden-children,
.highlight-color--purple .rem-icon-bullet.rem-bullet--hidden-children {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 8px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent black;
}

.dark-mode .rem-button__container .rem-bullet__container .rem-icon-bullet.rem-bullet--hidden-children {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 8px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent white;
}
.dark-mode .highlight-color--red .rem-button__container .rem-bullet__container .rem-icon-bullet.rem-bullet--hidden-children,
.dark-mode .highlight-color--orange .rem-button__container .rem-bullet__container .rem-icon-bullet.rem-bullet--hidden-children,
.dark-mode .highlight-color--yellow .rem-button__container .rem-bullet__container .rem-icon-bullet.rem-bullet--hidden-children,
.dark-mode .highlight-color--green .rem-button__container .rem-bullet__container .rem-icon-bullet.rem-bullet--hidden-children,
.dark-mode .highlight-color--blue .rem-button__container .rem-bullet__container .rem-icon-bullet.rem-bullet--hidden-children,
.dark-mode .highlight-color--purple .rem-button__container .rem-bullet__container .rem-icon-bullet.rem-bullet--hidden-children {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 8px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent black;
}

#hierarchy-editor .TreeNode {
	border-color: var(--line-color);
	border-width: 1px;
	transition-timing-function: linear;
	position: relative;
	background-color: transparent;
	left: var(--treenode-line-spacing);
	margin-right: var(--treenode-line-spacing);
}

.node-card-item:before {
	margin-left: -0.8rem;
	background-color: var(--node-card-item-color);
}

.dark-mode .node-card-item:before {
	background-color: var(--node-card-item-color-dark);
}

#hierarchy-editor > .fixed > .tree-node-container > .TreeNode {
	left: 16px !important;
}

.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rem-bullet {
	background: var(--both-practice-color);
}

.dark-mode .rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rem-bullet {
	background: var(--both-practice-color);
}

.rem-container--forwards-practice-enabled .rem-bullet {
	background: var(--forward-practice-color);
	width: 26px;
	height: 18px;
	position: relative;
	left: 6px;
	-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
	mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	zoom: 80%;
}
.rem-container--forwards-practice-enabled .rem-bullet.rem-bullet.rem-bullet--hidden-children {
	border-radius: 0px !important;
	position: relative;
	top: 3px;
	left: 0px;
	zoom: 2;
	-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
	mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.dark-mode .rem-container--forwards-practice-enabled .rem-bullet {
	background: #E0CD00;
}

.rem-container--forwards-practice-disabled .rem-bullet {
	background: var(--disabled-practice-color);
	width: 26px;
	height: 18px;
	position: relative;
	left: 6px;
	-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
	mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	zoom: 80%;
}
.rem-container--forwards-practice-disabled .rem-bullet.rem-bullet--hidden-children {
	border-radius: 0px !important;
	position: relative;
	top: 3px;
	left: 0px;
	zoom: 2;
	-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
	mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.rem-container--backwards-practice-enabled .rem-bullet {
	background: var(--backward-practice-color);
	width: 26px;
	height: 18px;
	position: relative;
	left: 6px;
	-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
	mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	zoom: 80%;
}
.rem-container--backwards-practice-enabled .rem-bullet.rem-bullet--hidden-children {
	border-radius: 0px !important;
	position: relative;
	top: 3px;
	left: 0px;
	zoom: 2;
	-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
	mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.rem-container--descriptor-rem-type .rem-bullet {
	width: 14px !important;
	height: 12px !important;
	position: relative !important;
	top: 2px !important;
	left: -1px !important;
	-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
	mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.rem-container--forwards-practice-enabled.rem-container--backwards-practice-enabled .separator-symbol.delimiterAnnotation,
.rem-container--forwards-practice-enabled.rem-container--backwards-practice-enabled .separator-symbol > span {
	color: #FFA344;
}
.rem-container--forwards-practice-enabled.rem-container--backwards-practice-disabled .separator-symbol.delimiterAnnotation,
.rem-container--forwards-practice-enabled.rem-container--backwards-practice-disabled .separator-symbol > span {
	color: #FE2600;
}

.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol.delimiterAnnotation,
.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol > span {
	color: #D783FF;
}
.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol.delimiterAnnotation,
.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol > span {
	color: #959595;
}

[data-rem-tags~=bulletlist] .rem-button__container, [data-rem-container-tags~=bulletlists] > div.tree-node--children > div .rem-button__container {
	margin-left: var(--treenode-line-spacing);
}
[data-rem-tags~=bulletlist] .rem-button__container .rem-bullet__container, [data-rem-container-tags~=bulletlists] > div.tree-node--children > div .rem-button__container .rem-bullet__container {
	position: relative;
	margin-left: var(--treenode-line-spacing);
}
[data-rem-tags~=bulletlist] .rem-button__container .rem-bullet__container .perfect-circle.rem-bullet--hidden-children, [data-rem-container-tags~=bulletlists] > div.tree-node--children > div .rem-button__container .rem-bullet__container .perfect-circle.rem-bullet--hidden-children {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main);
}
[data-rem-tags~=bulletlist] .rem-button__container .rem-bullet__container .perfect-circle.rem-bullet--all-children-visible, [data-rem-container-tags~=bulletlists] > div.tree-node--children > div .rem-button__container .rem-bullet__container .perfect-circle.rem-bullet--all-children-visible {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3.5px;
	border-radius: 10px;
	border-color: var(--bullet-main);
}
[data-rem-tags~=bulletlist] .rem-text, [data-rem-container-tags~=bulletlists] > div.tree-node--children > div .rem-text {
	margin-left: var(--treenode-line-spacing);
}
[data-rem-tags~=bulletlist] .hierarchy-editor__tag-bar__tag, [data-rem-container-tags~=bulletlists] > div.tree-node--children > div .hierarchy-editor__tag-bar__tag {
	background-color: transparent !important;
}
[data-rem-tags~=bulletlist] .hierarchy-editor__tag-bar__tag span, [data-rem-container-tags~=bulletlists] > div.tree-node--children > div .hierarchy-editor__tag-bar__tag span {
	display: none;
}
[data-rem-tags~=bulletlist] .hierarchy-editor__tag-bar__tag .hierarchy-editor__tag-bar__tag__delete, [data-rem-container-tags~=bulletlists] > div.tree-node--children > div .hierarchy-editor__tag-bar__tag .hierarchy-editor__tag-bar__tag__delete {
	opacity: 0.3;
}

.dark-mode [data-rem-tags~=bulletlist] .rem-button__container .rem-bullet.rem-bullet--hidden-children {
	width: 0 !important;
	height: 0 !important;
	border-style: solid !important;
	border-width: 6px 0 6px 6px !important;
	border-radius: 3px;
	border-color: transparent transparent transparent var(--bullet-main-dark);
}
.dark-mode [data-rem-tags~=bulletlist] .rem-button__container .rem-bullet.rem-bullet--all-children-visible {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3.5px;
	border-radius: 10px;
	border-color: var(--bullet-main-dark);
}

#hierarchy-editor [data-rem-tags~=bulletlist] .rem-container--focused .rem-bullet.rem-bullet--hidden-children {
	border-style: unset;
}

[data-rem-container-tags~=list-item] span.rem-bullet__number {
	position: relative;
	left: 16px;
}
[data-rem-container-tags~=list-item] span.rem-bullet__number + div {
	position: relative;
	left: 16px;
}

[data-rem-container-tags~=aliases] [data-rem-container-tags~=list-item] span.rem-bullet__number {
	position: relative;
	left: 0;
}
[data-rem-container-tags~=aliases] [data-rem-container-tags~=list-item] span.rem-bullet__number + div {
	position: relative;
	left: 0;
}

#DocumentTitle .rem-text .rem-checkbox,
#DocumentTitle .rem-header--1 .rem-checkbox,
#DocumentTitle .rem-header--2 .rem-checkbox,
#DocumentTitle .rem-header--3 .rem-checkbox {
	display: inline-block;
	margin: 10px 15px 10px 0;
}
#DocumentTitle .document-title .EditorContainer {
	line-height: unset;
}

.rem-text.rem-header--1 .rem-checkbox {
	margin-top: 18px;
}

.rem-text.rem-header--2 .rem-checkbox {
	margin-top: 12px;
}

.rem-text.rem-header--3 .rem-checkbox {
	margin-top: 8px;
}

.rem-text .rem-checkbox {
	margin-top: 0.3rem;
}