:root {
	--planner-title-background-color: #E6E6E4;
	--planner-title-background-color-dark: #525252;
	--planner-header-background-color: #F7F6F3;
	--planner-header-background-color-dark: #555;
	--planner-cell-background-color: #FFFFFF;
	--planner-cell-background-color-dark: #2F3437;
	--planner-border-color: #F7F6F3;
	--planner-border-color-dark: #535353;
	--darkmode-text: #DFDFD5;
	--planner-title-left-margin: 1.5rem;
	--planner-title-right-margin: 0.7rem;
	--planner-week-left-margin: 1rem;
	--planner-week-right-margin: 0.7rem;
	--planner-container-left-margin: 1.5rem;
	--planner-container-right-margin: 0.7rem;
}

#hierarchy-editor [data-rem-container-tags~=planner] > div.tree-node--parent {
	margin-left: var(--planner-title-left-margin);
	margin-right: var(--planner-title-right-margin);
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.tree-node--parent [data-rem-tags~=planner] {
	background-color: var(--planner-title-background-color);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-right: 5px;
	border: 0.07rem solid var(--planner-title-background-color);
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode {
	display: flex;
	flex-direction: column;
	left: 0px !important;
	padding-left: unset;
	padding-bottom: 1rem;
	width: calc(100% - 2.34rem);
	margin-left: var(--planner-title-left-margin);
	border-left: 0.07rem solid var(--planner-title-background-color);
	border-right: 0.07rem solid var(--planner-title-background-color);
	border-bottom: 0.07rem solid var(--planner-title-background-color);
	overflow-x: auto;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode .float-end {
	left: -6px;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container {
	display: inline-block;
	flex: 1 0 0;
	white-space: wrap;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > .tree-node--parent {
	margin-left: var(--planner-week-left-margin);
	margin-right: 0;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container .TreeNode.tree-node--children {
	border-width: 0 !important;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode {
	display: flex;
	left: 0px !important;
	padding-left: unset;
	margin-left: var(--planner-title-left-margin);
	margin-right: 0;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container {
	display: inline-block;
	flex: 1 0 0;
	white-space: wrap;
	border: 0.07rem solid var(--planner-title-background-color);
	min-width: 260px;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container .rem-text,
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container .EditorContainer,
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container .rich-text-editor,
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container .RichTextViewer {
	overflow-wrap: anywhere;
	flex-grow: 1;
	max-width: 100%;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container > div:nth-of-type(1) {
	font-weight: 600;
	background-color: var(--planner-header-background-color);
	text-align: center;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container:nth-child(n+2) {
	margin-left: -1px;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container > .tree-node--parent .text-gray-20 {
	display: none;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container > .TreeNode {
	width: calc(100% - 0px);
	left: 0px !important;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container > .TreeNode > .tree-node-container {
	position: relative;
	left: -23px;
	width: 100%;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container > .TreeNode > .tree-node-container .TreeNode > .tree-node-container {
	margin-top: 1px;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode .portal-tree-node-box {
	margin-left: unset;
	padding-left: unset;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(1) > div.tree-node--parent .rem-text::after {
	content: "Mon";
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(2) > div.tree-node--parent .rem-text::after {
	content: "Tue";
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(3) > div.tree-node--parent .rem-text::after {
	content: "Wed";
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(4) > div.tree-node--parent .rem-text::after {
	content: "Thu";
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(5) > div.tree-node--parent .rem-text::after {
	content: "Fri";
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(6) > div.tree-node--parent {
	color: #000;
	background-color: #B2D7EB;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(6) > div.tree-node--parent .rem-text::after {
	content: "Sat";
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(7) > div.tree-node--parent {
	color: #000;
	background-color: #FFA39C;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(7) > div.tree-node--parent .rem-text::after {
	content: "Sun";
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container .rem-reference-container[data-rem-tags~=daily-document] .rem-reference [data-icon~=planner] {
	display: none !important;
}
#hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container .rem-reference-container[data-rem-tags~=daily-document] .rem-reference .RichTextViewer {
	background-color: unset;
}

.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.tree-node--parent [data-rem-tags~=planner] {
	background-color: var(--planner-title-background-color-dark);
	border: 0.07rem solid var(--planner-title-background-color-dark);
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode {
	border-left: 0.07rem solid var(--planner-title-background-color-dark);
	border-right: 0.07rem solid var(--planner-title-background-color-dark);
	border-bottom: 0.07rem solid var(--planner-title-background-color-dark);
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container {
	border: 0.07rem solid var(--planner-title-background-color-dark);
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div.tree-node-container > div:nth-of-type(1) {
	background-color: var(--planner-header-background-color-dark);
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode .portal-tree-node-box {
	margin-left: unset;
	padding-left: unset;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(1) > div.tree-node--parent .rem-text::after {
	content: "Mon";
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(2) > div.tree-node--parent .rem-text::after {
	content: "Tue";
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(3) > div.tree-node--parent .rem-text::after {
	content: "Wed";
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(4) > div.tree-node--parent .rem-text::after {
	content: "Thu";
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(5) > div.tree-node--parent .rem-text::after {
	content: "Fri";
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(6) > div.tree-node--parent {
	background-color: #183D4D;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(6) > div.tree-node--parent .rem-text::after {
	content: "Sat";
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(7) > div.tree-node--parent {
	background-color: #572A25;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] > div.TreeNode > div.tree-node-container > div.TreeNode > div:nth-of-type(7) > div.tree-node--parent .rem-text::after {
	content: "Sun";
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--red {
	background-color: #572924;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--red .rem-text {
	color: #DFDFD5;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--orange {
	background-color: #553D24;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--orange .rem-text {
	color: #DFDFD5;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--yellow {
	background-color: #453E1E;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--yellow .rem-text {
	color: #DFDFD5;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--green {
	background-color: #253F27;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--green .rem-text {
	color: #DFDFD5;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--blue {
	background-color: #183C4D;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--blue .rem-text {
	color: #DFDFD5;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--purple {
	background-color: #43273F;
}
.dark-mode #hierarchy-editor [data-rem-container-tags~=planner] [data-rem-tags~=highlight] .highlight-color--purple .rem-text {
	color: #DFDFD5;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w90] > .TreeNode > div {
	min-width: 90px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w120] > .TreeNode > div {
	min-width: 120px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w150] > .TreeNode > div {
	min-width: 150px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w180] > .TreeNode > div {
	min-width: 180px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w210] > .TreeNode > div {
	min-width: 210px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w240] > .TreeNode > div {
	min-width: 240px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w270] > .TreeNode > div {
	min-width: 270px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w300] > .TreeNode > div {
	min-width: 300px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w330] > .TreeNode > div {
	min-width: 330px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w360] > .TreeNode > div {
	min-width: 360px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w390] > .TreeNode > div {
	min-width: 390px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w420] > .TreeNode > div {
	min-width: 420px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w450] > .TreeNode > div {
	min-width: 450px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w480] > .TreeNode > div {
	min-width: 480px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w510] > .TreeNode > div {
	min-width: 510px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w540] > .TreeNode > div {
	min-width: 540px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w570] > .TreeNode > div {
	min-width: 570px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w600] > .TreeNode > div {
	min-width: 600px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w630] > .TreeNode > div {
	min-width: 630px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w660] > .TreeNode > div {
	min-width: 660px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w690] > .TreeNode > div {
	min-width: 690px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w720] > .TreeNode > div {
	min-width: 720px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w750] > .TreeNode > div {
	min-width: 750px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w780] > .TreeNode > div {
	min-width: 780px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w810] > .TreeNode > div {
	min-width: 810px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w840] > .TreeNode > div {
	min-width: 840px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w870] > .TreeNode > div {
	min-width: 870px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w900] > .TreeNode > div {
	min-width: 900px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w930] > .TreeNode > div {
	min-width: 930px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w960] > .TreeNode > div {
	min-width: 960px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w990] > .TreeNode > div {
	min-width: 990px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w1020] > .TreeNode > div {
	min-width: 1020px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w1050] > .TreeNode > div {
	min-width: 1050px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w1080] > .TreeNode > div {
	min-width: 1080px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w1110] > .TreeNode > div {
	min-width: 1110px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w1140] > .TreeNode > div {
	min-width: 1140px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w1170] > .TreeNode > div {
	min-width: 1170px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w1200] > .TreeNode > div {
	min-width: 1200px;
}

[data-rem-container-tags~=planner][data-rem-container-tags~=w90] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w120] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w150] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w180] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w210] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w240] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w270] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w300] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w330] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w360] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w390] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w420] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w450] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w480] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w510] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w540] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w570] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w600] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w630] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w660] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w690] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w720] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w750] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w780] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w810] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w840] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w870] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w900] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w930] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w960] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w990] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1020] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1050] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1080] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1110] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1140] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1170] > .TreeNode,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1120] > .TreeNode {
	overflow: auto;
	white-space: pre;
	margin-right: 0.5rem !important;
}
[data-rem-container-tags~=planner][data-rem-container-tags~=w90] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w120] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w150] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w180] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w210] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w240] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w270] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w300] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w330] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w360] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w390] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w420] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w450] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w480] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w510] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w540] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w570] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w600] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w630] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w660] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w690] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w720] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w750] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w780] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w810] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w840] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w870] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w900] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w930] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w960] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w990] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1020] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1050] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1080] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1110] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1140] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1170] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container,
[data-rem-container-tags~=planner][data-rem-container-tags~=w1120] > .TreeNode > .tree-node-container > .TreeNode > .tree-node-container {
	width: 100%;
}