/*********** Contents ***********/
	[data-rem-tags*="1star"] .rem-text::before,
	[data-rem-tags*="1star"] .rem-text::before,
	[data-rem-tags~="2star"] .rem-text::before,
	[data-rem-tags~="3star"] .rem-text::before,
	[data-rem-tags~="4star"] .rem-text::before,
	[data-rem-tags~="5star"] .rem-text::before {
		color: #F1FA8C;
		background-color: #000;	
		border-radius: 5px;
		padding: 0 2px 0 2px;
		position: relative;
		left: -4px;
	}
	[data-rem-tags*="1star"] .rem-text::before {content: "★"; width: 4.3rem; font-family: 'Helvetica Neue';}
	[data-rem-tags~="2star"] .rem-text::before {content: "★★"; width: 4.3rem; font-family: 'Helvetica Neue';}
	[data-rem-tags~="3star"] .rem-text::before {content: "★★★"; width: 4.3rem; font-family: 'Helvetica Neue';}
	[data-rem-tags~="4star"] .rem-text::before {content: "★★★★"; width: 4.3rem; font-family: 'Helvetica Neue';}
	[data-rem-tags~="5star"] .rem-text::before {content: "★★★★★"; width: 4.3rem; font-family: 'Helvetica Neue';}
/*********** Darkmode Compatibility ***********/
	.dark-mode [data-rem-tags~="1star"] .rem-text::before,
	.dark-mode [data-rem-tags~="2star"] .rem-text::before,
	.dark-mode [data-rem-tags~="3star"] .rem-text::before,
	.dark-mode [data-rem-tags~="4star"] .rem-text::before,
	.dark-mode [data-rem-tags~="5star"] .rem-text::before {
		border: 1px solid #CDCECE;
	}
/*********** Tag Declutter ***********/
	[data-rem-tags~="1star"] .hierarchy-editor__tag-bar__tag,
	[data-rem-tags~="2star"] .hierarchy-editor__tag-bar__tag,
	[data-rem-tags~="3star"] .hierarchy-editor__tag-bar__tag,
	[data-rem-tags~="4star"] .hierarchy-editor__tag-bar__tag,
	[data-rem-tags~="5star"] .hierarchy-editor__tag-bar__tag {background-color: transparent;}
	[data-rem-tags~="1star"] .hierarchy-editor__tag-bar__tag span,
	[data-rem-tags~="2star"] .hierarchy-editor__tag-bar__tag span,
	[data-rem-tags~="3star"] .hierarchy-editor__tag-bar__tag span,
	[data-rem-tags~="4star"] .hierarchy-editor__tag-bar__tag span,
	[data-rem-tags~="5star"] .hierarchy-editor__tag-bar__tag span {display: none;}