[data-rem-tags~="1star"] .rem-text,
[data-rem-tags~="2star"] .rem-text,
[data-rem-tags~="3star"] .rem-text,
[data-rem-tags~="4star"] .rem-text,
[data-rem-tags~="5star"] .rem-text {
	margin-left: 75px;
	margin-top: 5px;
	margin-bottom: 5px;
}
[data-rem-tags~="1star"] .rem-bullet::before,
[data-rem-tags~="2star"] .rem-bullet::before,
[data-rem-tags~="3star"] .rem-bullet::before,
[data-rem-tags~="4star"] .rem-bullet::before,
[data-rem-tags~="5star"] .rem-bullet::before {
	color: #F1FA8C;
	background-color: #2B3137;	
	border-radius: 5px;
	padding: 2px;
	position: relative;
	top: -7px;
	left: -4px;
}

[data-rem-tags~="1star"] .rem-bullet::before {
	content: "★";	
	padding-right: 70px;
}

[data-rem-tags~="2star"] .rem-bullet::before {
	content: "★★";	
	padding-right: 53px;
}

[data-rem-tags~="3star"] .rem-bullet::before {
	content: "★★★";	
	padding-right: 36px;
}

[data-rem-tags~="4star"] .rem-bullet::before {
	content: "★★★★";	
	padding-right: 20px;
}

[data-rem-tags~="5star"] .rem-bullet::before {
	content: "★★★★★";	
	padding-right: 3px;
}

/*********** Darkmode Compatibility ***********/
	.dark-mode [data-rem-tags~="1star"] .rem-bullet::before,
	.dark-mode [data-rem-tags~="2star"] .rem-bullet::before,
	.dark-mode [data-rem-tags~="3star"] .rem-bullet::before,
	.dark-mode [data-rem-tags~="4star"] .rem-bullet::before,
	.dark-mode [data-rem-tags~="5star"] .rem-bullet::before {
		filter: invert(1);
		border: 1px solid #CDCECE;
	}

/*********** Tag Declutter ***********/
	[data-rem-tags~="1star"] .hierarchy-editor__tag-bar__tag {background-color: transparent;}
	[data-rem-tags~="2star"] .hierarchy-editor__tag-bar__tag {background-color: transparent;}
	[data-rem-tags~="3star"] .hierarchy-editor__tag-bar__tag {background-color: transparent;}
	[data-rem-tags~="4star"] .hierarchy-editor__tag-bar__tag {background-color: transparent;}
	[data-rem-tags~="5star"] .hierarchy-editor__tag-bar__tag {background-color: transparent;}
	[data-rem-tags~="1star"] .hierarchy-editor__tag-bar__tag span {display: none;}
	[data-rem-tags~="2star"] .hierarchy-editor__tag-bar__tag span {display: none;}
	[data-rem-tags~="3star"] .hierarchy-editor__tag-bar__tag span {display: none;}
	[data-rem-tags~="4star"] .hierarchy-editor__tag-bar__tag span {display: none;}
	[data-rem-tags~="5star"] .hierarchy-editor__tag-bar__tag span {display: none;}