@charset "UTF-8";
[data-rem-tags~="1star"] .rem-text::before,
[data-rem-tags~="1star"] .rem-text::before,
[data-rem-tags~="2star"] .rem-text::before,
[data-rem-tags~="3star"] .rem-text::before,
[data-rem-tags~="4star"] .rem-text::before,
[data-rem-tags~="5star"] .rem-text::before {
	color: #F1FA8C;
	background-color: #000;
	border-radius: 5px;
	padding: 0 2px 0 2px;
	margin-right: 3px;
	position: relative;
	left: -4px;
	font-family: "Helvetica Neue";
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

[data-rem-tags~="1star"] .rem-text::before {
	content: "⭐️◾️◾️◾️◾️";
}

[data-rem-tags~="2star"] .rem-text::before {
	content: "⭐️⭐️◾️◾️◾️";
}

[data-rem-tags~="3star"] .rem-text::before {
	content: "⭐️⭐️⭐️◾️◾️";
}

[data-rem-tags~="4star"] .rem-text::before {
	content: "⭐️⭐️⭐️⭐️◾️";
}

[data-rem-tags~="5star"] .rem-text::before {
	content: "⭐️⭐️⭐️⭐️⭐️";
}

.dark-mode [data-rem-tags~="1star"] .rem-text::before,
.dark-mode [data-rem-tags~="1star"] .rem-text::before,
.dark-mode [data-rem-tags~="2star"] .rem-text::before,
.dark-mode [data-rem-tags~="3star"] .rem-text::before,
.dark-mode [data-rem-tags~="4star"] .rem-text::before,
.dark-mode [data-rem-tags~="5star"] .rem-text::before {
	border: 1px solid #CDCECE;
}