.document-table .ReactVirtualized__Grid__innerScrollContainer .RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.document-table .ReactVirtualized__Grid__innerScrollContainer .RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.document-table .ReactVirtualized__Grid__innerScrollContainer .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.document-table .ReactVirtualized__Grid__innerScrollContainer .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.ReactVirtualized__Table__rowColumn span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.ReactVirtualized__Table__rowColumn span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.ReactVirtualized__Table__rowColumn span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.ReactVirtualized__Table__rowColumn span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.ReactVirtualized__Table__rowColumn span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.spaced-repetition__prompt__breadcrumbs span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.spaced-repetition__prompt__breadcrumbs span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.spaced-repetition__prompt__breadcrumbs span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.spaced-repetition__prompt__breadcrumbs span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.spaced-repetition__prompt__breadcrumbs span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.spaced-repetition__prompt .indented-rem .RichTextViewer > div {
	display: inline-block;
	margin-right: 3px;
}
.spaced-repetition__prompt .indented-rem .RichTextViewer:not(.basic_card_rem_type .RichTextViewer):not(.concept_rem_type .RichTextViewer) .react-transform-component .react-transform-element span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.spaced-repetition__prompt .indented-rem .RichTextViewer:not(.basic_card_rem_type .RichTextViewer):not(.concept_rem_type .RichTextViewer) .react-transform-component .react-transform-element span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.spaced-repetition__prompt .indented-rem .RichTextViewer:not(.basic_card_rem_type .RichTextViewer):not(.concept_rem_type .RichTextViewer) .react-transform-component .react-transform-element span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.spaced-repetition__prompt .indented-rem .RichTextViewer:not(.basic_card_rem_type .RichTextViewer):not(.concept_rem_type .RichTextViewer) .react-transform-component .react-transform-element span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.spaced-repetition__prompt .indented-rem .RichTextViewer:not(.basic_card_rem_type .RichTextViewer):not(.concept_rem_type .RichTextViewer) .react-transform-component .react-transform-element span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.rem-bullet__document span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.rem-bullet__document span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.rem-bullet__document span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.rem-bullet__document span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.rem-bullet__document span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.rem-bullet__document > span > div {
	display: inline;
}

.Queue .queue__title .queue__title__middle .RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.Queue .queue__title .queue__title__middle .RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.Queue .queue__title .queue__title__middle .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.Queue .queue__title .queue__title__middle .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.Queue .queue__title .queue__title__middle .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.Queue .fill-in-the-blank {
	display: inline-flex;
	vertical-align: top;
}
.Queue .fill-in-the-blank--revealed .RichTextViewer .react-transform-component .react-transform-element span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.Queue .fill-in-the-blank--revealed .RichTextViewer .react-transform-component .react-transform-element span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.Queue .fill-in-the-blank--revealed .RichTextViewer .react-transform-component .react-transform-element span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.Queue .fill-in-the-blank--revealed .RichTextViewer .react-transform-component .react-transform-element span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.Queue .fill-in-the-blank--revealed .RichTextViewer .react-transform-component .react-transform-element span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.Queue .queue-cluster-selector span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.Queue .queue-cluster-selector span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.Queue .queue-cluster-selector span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.Queue .queue-cluster-selector span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.Queue .queue-cluster-selector span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.Queue .queue__edit-later .document-header-top-bar .RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.Queue .queue__edit-later .document-header-top-bar .RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.Queue .queue__edit-later .document-header-top-bar .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.Queue .queue__edit-later .document-header-top-bar .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.Queue .queue__edit-later .document-header-top-bar .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

#tile__document .document-header-top-bar span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
#tile__document .document-header-top-bar span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
#tile__document .document-header-top-bar span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
#tile__document .document-header-top-bar span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument #DocumentTitle span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument #DocumentTitle span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument #DocumentTitle span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument #DocumentTitle span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument #DocumentTitle span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument #DocumentTitle span.image-node__container.inline-block {
	position: relative;
	top: 3px;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument #DocumentTitle > div.document-title .image-node__container.group.inline-block.align-text-top .image-node [data-menu-type~=ImageNodeMenu] {
	display: none;
}
#tile__document #document #DocumentTopRow #DropToOpenAsDocument #DocumentTitle > div.document-title .image-node__container.group.inline-block.align-text-top > div {
	display: none;
}

.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

#document-sidebar span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
#document-sidebar span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
#document-sidebar span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
#document-sidebar span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
#document-sidebar span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.hierarchy-editor__hidden-children span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.hierarchy-editor__hidden-children span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.hierarchy-editor__hidden-children span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.hierarchy-editor__hidden-children span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.hierarchy-editor__hidden-children span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.popup-menu .popup-menu__item--static span.RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.popup-menu .popup-menu__item--static span.RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.popup-menu .popup-menu__item--static span.RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu .popup-menu__item--static span.RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.popup-menu .popup-menu__item--static span.RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu #document-hover-preview__popup > span .RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.popup-menu #document-hover-preview__popup > span .RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.popup-menu #document-hover-preview__popup > span .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu #document-hover-preview__popup > span .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.popup-menu #document-hover-preview__popup > span .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu [data-rem-tags*=tn] #document-hover-preview .RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.popup-menu [data-rem-tags*=tn] #document-hover-preview .RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.popup-menu [data-rem-tags*=tn] #document-hover-preview .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu [data-rem-tags*=tn] #document-hover-preview .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.popup-menu [data-rem-tags*=tn] #document-hover-preview .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu .rem.isSearchResult .hierarchy-editor__tag-bar span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.popup-menu .rem.isSearchResult .hierarchy-editor__tag-bar span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.popup-menu .rem.isSearchResult .hierarchy-editor__tag-bar span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu .rem.isSearchResult .hierarchy-editor__tag-bar span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.popup-menu .rem.isSearchResult .hierarchy-editor__tag-bar span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu div.search-result__rem-breadcrumbs + span > .RichTextViewer span.image-node__container.inline-block,
.popup-menu .rem-powerup-icon + span > .RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.popup-menu div.search-result__rem-breadcrumbs + span > .RichTextViewer span.image-node__container.inline-block > div.image-node__container,
.popup-menu .rem-powerup-icon + span > .RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.popup-menu div.search-result__rem-breadcrumbs + span > .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node,
.popup-menu .rem-powerup-icon + span > .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu div.search-result__rem-breadcrumbs + span > .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]),
.popup-menu .rem-powerup-icon + span > .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.popup-menu div.search-result__rem-breadcrumbs + span > .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width,
.popup-menu .rem-powerup-icon + span > .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu .EditorContainer.EditorContainerInline span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.popup-menu .EditorContainer.EditorContainerInline span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.popup-menu .EditorContainer.EditorContainerInline span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu .EditorContainer.EditorContainerInline span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.popup-menu .EditorContainer.EditorContainerInline span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu .RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.popup-menu .RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.popup-menu .RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu .RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.popup-menu .RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu .p-2 .RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.popup-menu .p-2 .RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.popup-menu .p-2 .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.popup-menu .p-2 .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.popup-menu .p-2 .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

#Popup #PopupContent .p-4 .RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
#Popup #PopupContent .p-4 .RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
#Popup #PopupContent .p-4 .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
#Popup #PopupContent .p-4 .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
#Popup #PopupContent .p-4 .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
#Popup #PopupContent #delete-confirm-popup span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
#Popup #PopupContent #delete-confirm-popup span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
#Popup #PopupContent #delete-confirm-popup span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
#Popup #PopupContent #delete-confirm-popup span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
#Popup #PopupContent #delete-confirm-popup span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
#Popup #PopupContent #delete-confirm-popup .delete-confirm-popup__rem-section__item .RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
#Popup #PopupContent #delete-confirm-popup .delete-confirm-popup__rem-section__item .RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
#Popup #PopupContent #delete-confirm-popup .delete-confirm-popup__rem-section__item .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
#Popup #PopupContent #delete-confirm-popup .delete-confirm-popup__rem-section__item .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
#Popup #PopupContent #delete-confirm-popup .delete-confirm-popup__rem-section__item .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.rem-header--1 .EditorContainer span.image-node__container.inline-block,
.rem-header--2 .EditorContainer span.image-node__container.inline-block,
.rem-header--3 .EditorContainer span.image-node__container.inline-block,
[data-rem-tags*=tn] .EditorContainer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.rem-header--1 .EditorContainer span.image-node__container.inline-block > div.image-node__container,
.rem-header--2 .EditorContainer span.image-node__container.inline-block > div.image-node__container,
.rem-header--3 .EditorContainer span.image-node__container.inline-block > div.image-node__container,
[data-rem-tags*=tn] .EditorContainer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.rem-header--1 .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node,
.rem-header--2 .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node,
.rem-header--3 .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node,
[data-rem-tags*=tn] .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.rem-header--1 .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]),
.rem-header--2 .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]),
.rem-header--3 .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]),
[data-rem-tags*=tn] .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.rem-header--1 .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width,
.rem-header--2 .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width,
.rem-header--3 .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width,
[data-rem-tags*=tn] .EditorContainer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.hierarchy-editor__tag-bar__tag .RichTextViewer {
	display: flex;
	align-items: center;
}
.hierarchy-editor__tag-bar__tag .RichTextViewer span.image-node__container.inline-block {
	height: 1em;
	width: auto;
	margin-right: 3px;
}
.hierarchy-editor__tag-bar__tag .RichTextViewer span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.hierarchy-editor__tag-bar__tag .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.hierarchy-editor__tag-bar__tag .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.hierarchy-editor__tag-bar__tag .RichTextViewer span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}
.hierarchy-editor__tag-bar__tag .py-\[2px\] {
	display: flex;
}

[aria-label~=Omnibar] span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
[aria-label~=Omnibar] span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
[aria-label~=Omnibar] span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
[aria-label~=Omnibar] span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.search-result__rem-breadcrumbs span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.search-result__rem-breadcrumbs span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.search-result__rem-breadcrumbs span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.search-result__rem-breadcrumbs span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

#search-results__result span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
#search-results__result span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
#search-results__result span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
#search-results__result span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.portal-tree-node-box .rem-text.rem-header--1 span.image-node__container.inline-block,
.portal-tree-node-box .rem-text.rem-header--2 span.image-node__container.inline-block,
.portal-tree-node-box .rem-text.rem-header--3 span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.portal-tree-node-box .rem-text.rem-header--1 span.image-node__container.inline-block > div.image-node__container,
.portal-tree-node-box .rem-text.rem-header--2 span.image-node__container.inline-block > div.image-node__container,
.portal-tree-node-box .rem-text.rem-header--3 span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.portal-tree-node-box .rem-text.rem-header--1 span.image-node__container.inline-block > div.image-node__container > span.image-node,
.portal-tree-node-box .rem-text.rem-header--2 span.image-node__container.inline-block > div.image-node__container > span.image-node,
.portal-tree-node-box .rem-text.rem-header--3 span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.portal-tree-node-box .rem-text.rem-header--1 span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]),
.portal-tree-node-box .rem-text.rem-header--2 span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]),
.portal-tree-node-box .rem-text.rem-header--3 span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.portal-tree-node-box .rem-text.rem-header--1 span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width,
.portal-tree-node-box .rem-text.rem-header--2 span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width,
.portal-tree-node-box .rem-text.rem-header--3 span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.rem-reference span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.rem-reference span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.rem-reference span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.rem-reference span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.rem-reference span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

.rem-text:not(.rem-header--1):not(.rem-header--2):not(.rem-header--3) .rem-reference span.image-node__container.inline-block {
	height: 1em;
	width: auto;
}
.rem-text:not(.rem-header--1):not(.rem-header--2):not(.rem-header--3) .rem-reference span.image-node__container.inline-block > div.image-node__container {
	height: 1em !important;
	width: unset !important;
	max-width: 1em !important;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
	min-width: 1em !important;
	min-height: unset !important;
}
.rem-text:not(.rem-header--1):not(.rem-header--2):not(.rem-header--3) .rem-reference span.image-node__container.inline-block > div.image-node__container > span.image-node {
	-o-object-fit: contain !important;
	   object-fit: contain !important;
	-o-object-position: center;
	   object-position: center;
}
.rem-text:not(.rem-header--1):not(.rem-header--2):not(.rem-header--3) .rem-reference span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(1):not(div[data-rmiz-wrap~=visible]) {
	display: none;
}
.rem-text:not(.rem-header--1):not(.rem-header--2):not(.rem-header--3) .rem-reference span.image-node__container.inline-block > div.image-node__container > span.image-node > div:nth-of-type(2) img.thumbnail--with-width {
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: center;
	   object-position: center;
}

[data-rem-tags~=header] [data-menu-type=ImageNodeMenu],
[data-rem-tags~=tn] [data-menu-type=ImageNodeMenu] {
	display: none;
}