:root {
	--treenode-line-spacing: 16px;
	--bullet-main: #000;
	--bullet-main-dark: #C2C2C2;
	--bullet-doc: #50FA7B;
	--bullet-folder: #53555F;
	--bullet-concept: #53555F;
	--bullet-descriptor: #53555F;
	--both-practice-color: #FFA344;
	--forward-practice-color: #FF2600;
	--backward-practice-color: #D783FF;
	--disabled-practice-color: #959595;
	--no-practice-color: #959595;
	--line-color: #DDDDDD;
	--node-card-item-color: #FF4E4C;
	--node-card-item-color-dark: #E0CD00;
}

.rem-container--default_type-rem-type.rem-container--forwards-practice-enabled .rem-bullet,
.rem-container--default_type-rem-type.rem-container--backwards-practice-enabled .rem-bullet,
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled .rem-bullet {
	background: var(--no-practice-color);
	width: 26px;
	height: 18px;
	position: relative;
	left: 6px;
	-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Basic3.svg");
	mask-image: url("https://browneyedsoul.github.io/ImageRepository/Basic3.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	zoom: 80%;
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-enabled .rem-bullet .perfect-circle__inner,
.rem-container--default_type-rem-type.rem-container--backwards-practice-enabled .rem-bullet .perfect-circle__inner,
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled .rem-bullet .perfect-circle__inner {
	opacity: 0;
}

.rem-container--concept-rem-type .rem-bullet {
	background: var(--no-practice-color);
	width: 26px;
	height: 18px;
	position: relative;
	left: 6px;
	-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
	mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	zoom: 80%;
}
.rem-container--concept-rem-type .rem-bullet .perfect-circle__inner {
	opacity: 0;
}

.rem-container--descriptor-rem-type .rem-bullet {
	background: var(--no-practice-color);
	width: 14px !important;
	height: 12px !important;
	position: relative !important;
	top: 2px !important;
	left: -1px !important;
	-webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
	mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
.rem-container--descriptor-rem-type .rem-bullet .perfect-circle__inner {
	opacity: 0;
}

.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rem-bullet {
	background: var(--both-practice-color);
}
.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol.delimiterAnnotation,
.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol > span {
	color: var(--both-practice-color);
}

.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rem-bullet {
	background: var(--forward-practice-color);
}
.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol.delimiterAnnotation,
.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol > span {
	color: var(--forward-practice-color);
}

.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rem-bullet {
	background: var(--backward-practice-color);
}
.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol.delimiterAnnotation,
.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol > span {
	color: var(--backward-practice-color);
}

.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet {
	background: var(--disabled-practice-color);
}
.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol.delimiterAnnotation,
.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol > span {
	color: var(--disabled-practice-color);
}

.dark .rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rem-bullet {
	background: var(--both-practice-color);
}
.dark .rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol.delimiterAnnotation,
.dark .rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol > span {
	color: var(--both-practice-color);
}
.dark .rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rem-bullet {
	background: var(--node-card-item-color-dark);
}
.dark .rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol.delimiterAnnotation,
.dark .rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol > span {
	color: var(--node-card-item-color-dark);
}
.dark .rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rem-bullet {
	background: var(--backward-practice-color);
}
.dark .rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol.delimiterAnnotation,
.dark .rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol > span {
	color: var(--backward-practice-color);
}
.dark .rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet {
	background: var(--disabled-practice-color);
}
.dark .rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol.delimiterAnnotation,
.dark .rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol > span {
	color: var(--disabled-practice-color);
}