:root {
  --line-color: #CACAD9;
  --line-color-dark: #747474;
  --darkmode-background: #2F3437;
}

[data-rem-container-tags~=tree] .whitespace-pre-wrap,
[data-rem-container-tags~=treec] .whitespace-pre-wrap {
  white-space: pre;
}
[data-rem-container-tags~=tree] .rem,
[data-rem-container-tags~=treec] .rem {
  min-width: calc(100% + 1rem);
}
[data-rem-container-tags~=tree] .float-end > .rn-editor__rem__merge,
[data-rem-container-tags~=treec] .float-end > .rn-editor__rem__merge {
  display: none;
}
[data-rem-container-tags~=tree] .float-end .backlink-counter,
[data-rem-container-tags~=treec] .float-end .backlink-counter {
  opacity: 0.3;
}
[data-rem-container-tags~=tree] .float-end .rn-tag__close,
[data-rem-container-tags~=treec] .float-end .rn-tag__close {
  opacity: 0.3;
}

#document [data-rem-container-tags~=tree] .animate-zoom-into-bullet:not(.animate-zoom-into-bullet.bg-transparent),
#document [data-rem-container-tags~=treec] .animate-zoom-into-bullet:not(.animate-zoom-into-bullet.bg-transparent) {
  display: block;
}
#document [data-rem-container-tags~=tree] .animate-zoom-into-bullet.portal-tree-node-box,
#document [data-rem-container-tags~=treec] .animate-zoom-into-bullet.portal-tree-node-box {
  margin-left: 1rem;
  align-items: center;
}
#document [data-rem-container-tags~=tree] .animate-zoom-into-bullet.portal-tree-node-box .tree-node--parent::before,
#document [data-rem-container-tags~=treec] .animate-zoom-into-bullet.portal-tree-node-box .tree-node--parent::before {
  background-color: transparent !important;
}

.dark [data-rem-container-tags~=tree] .animate-zoom-into-bullet.portal-tree-node-box .tree-node--parent::before,
.dark [data-rem-container-tags~=treec] .animate-zoom-into-bullet.portal-tree-node-box .tree-node--parent::before {
  background-color: var(--darkmode-background);
}

#hierarchy-editor [data-rem-container-tags~=tree], #hierarchy-editor [data-rem-container-tags~=treec] {
  display: flex;
  line-height: 160%;
  margin: 0.5rem 0.7rem 0.5rem 1.6rem;
  padding: 1rem;
  overflow-x: visible;
  overflow-y: hidden;
  white-space: pre;
}
#hierarchy-editor [data-rem-container-tags~=tree]::-webkit-scrollbar-thumb, #hierarchy-editor [data-rem-container-tags~=treec]::-webkit-scrollbar-thumb {
  background-color: #EEE;
  border-radius: 2px;
}
#hierarchy-editor [data-rem-container-tags~=tree]::-webkit-scrollbar-track, #hierarchy-editor [data-rem-container-tags~=treec]::-webkit-scrollbar-track {
  margin-right: 0;
}
#hierarchy-editor [data-rem-container-tags~=tree] .rem-button__container, #hierarchy-editor [data-rem-container-tags~=treec] .rem-button__container {
  z-index: 3;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header), #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) {
  display: flex;
  align-items: baseline;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) .rem-text .EditorContainer, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) .rem-text .EditorContainer {
  white-space: pre !important;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) .rem-text .EditorContainer .RichTextViewer, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) .rem-text .EditorContainer .RichTextViewer {
  white-space: nowrap;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) .rem-text .EditorContainer .last_node_down_arrow,
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) .rem-text .EditorContainer .whitespace-pre, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) .rem-text .EditorContainer .last_node_down_arrow,
#hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) .rem-text .EditorContainer .whitespace-pre {
  display: none;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=tree],
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=treec], #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=tree],
#hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=treec] {
  position: relative;
  right: 0;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=tree] .hierarchy-editor__tag-bar__tag,
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=treec] .hierarchy-editor__tag-bar__tag, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=tree] .hierarchy-editor__tag-bar__tag,
#hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=treec] .hierarchy-editor__tag-bar__tag {
  background-color: transparent !important;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=tree] .hierarchy-editor__tag-bar__tag span,
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=treec] .hierarchy-editor__tag-bar__tag span, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=tree] .hierarchy-editor__tag-bar__tag span,
#hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=treec] .hierarchy-editor__tag-bar__tag span {
  display: none;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=tree] .hierarchy-editor__tag-bar__tag .hierarchy-editor__tag-bar__tag__delete,
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=treec] .hierarchy-editor__tag-bar__tag .hierarchy-editor__tag-bar__tag__delete, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=tree] .hierarchy-editor__tag-bar__tag .hierarchy-editor__tag-bar__tag__delete,
#hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) [data-rem-tags~=treec] .hierarchy-editor__tag-bar__tag .hierarchy-editor__tag-bar__tag__delete {
  opacity: 0.3;
}
#hierarchy-editor [data-rem-container-tags~=tree] .animate-zoom-into-bullet:last-of-type > div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header), #hierarchy-editor [data-rem-container-tags~=treec] .animate-zoom-into-bullet:last-of-type > div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header) {
  align-items: flex-start;
}
#hierarchy-editor [data-rem-container-tags~=tree] .animate-zoom-into-bullet:last-of-type > div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header)::before, #hierarchy-editor [data-rem-container-tags~=treec] .animate-zoom-into-bullet:last-of-type > div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header)::before {
  content: "";
  width: 28px;
  background-color: #FFF;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: -2px;
  border-top: 1px solid var(--line-color);
  margin-top: 16px;
}
#hierarchy-editor [data-rem-container-tags~=tree] .animate-zoom-into-bullet, #hierarchy-editor [data-rem-container-tags~=treec] .animate-zoom-into-bullet {
  display: flex;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children .backlink-counter, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children .backlink-counter {
  opacity: 0.4;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:not(.tree-node--children:empty), #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:not(.tree-node--children:empty) {
  display: inline-block;
  z-index: 0;
  border-left: 1px solid var(--line-color);
  position: relative;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:not(.tree-node--children:empty)::before, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:not(.tree-node--children:empty)::before {
  content: "";
  padding-right: 24px;
  padding-top: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -0.15rem;
  height: 1rem;
  border-top: unset;
  border-right: unset;
  border-bottom: 1px solid var(--line-color);
  border-left: 4px solid #FFF;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:not(.tree-node--children:empty)::after, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:not(.tree-node--children:empty)::after {
  content: "";
  padding-right: 24px;
  padding-top: 0;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -0.15rem;
  height: 1rem;
  border-bottom: unset;
  border-right: unset;
  border-top: 1px solid var(--line-color);
  border-left: 4px solid #FFF;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:not(.tree-node--children:empty) .tree-node-container, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:not(.tree-node--children:empty) .tree-node-container {
  display: flex;
  z-index: 0;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:not(.tree-node--children:empty) .tree-node-container:first-child:not(:only-child) > .tree-node--parent, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:not(.tree-node--children:empty) .tree-node-container:first-child:not(:only-child) > .tree-node--parent {
  display: flex;
  align-items: baseline;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:not(.tree-node--children:empty) .tree-node-container:last-child:not(:only-child) > .tree-node--parent, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:not(.tree-node--children:empty) .tree-node-container:last-child:not(:only-child) > .tree-node--parent {
  display: flex;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:not(.tree-node--children:empty) .tree-node-container div.tree-node--children:only-of-type, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:not(.tree-node--children:empty) .tree-node-container div.tree-node--children:only-of-type {
  display: none;
}
#hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:empty, #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:empty {
  border-left: unset;
}
.dark #hierarchy-editor [data-rem-container-tags~=tree], .dark #hierarchy-editor [data-rem-container-tags~=treec] {
  background-color: #2F3437;
}
.dark #hierarchy-editor [data-rem-container-tags~=tree] #hierarchy-editor .TreeNode, .dark #hierarchy-editor [data-rem-container-tags~=treec] #hierarchy-editor .TreeNode {
  border-color: var(--line-color-dark);
}
.dark #hierarchy-editor [data-rem-container-tags~=tree]::-webkit-scrollbar-thumb, .dark #hierarchy-editor [data-rem-container-tags~=treec]::-webkit-scrollbar-thumb {
  background-color: #5A666A;
}
.dark #hierarchy-editor [data-rem-container-tags~=tree] .animate-zoom-into-bullet:last-of-type > div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header)::before, .dark #hierarchy-editor [data-rem-container-tags~=treec] .animate-zoom-into-bullet:last-of-type > div.tree-node--parent:not(.tree-node--parent.tree-node--automatic-search-portal-header)::before {
  content: "";
  width: 28px;
  background-color: var(--darkmode-background);
  height: 100%;
  position: absolute;
  z-index: 2;
  left: -2px;
  border-top: 1px solid var(--line-color-dark);
  margin-top: 16px;
}
.dark #hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--parent::before, .dark #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--parent::before {
  background-color: var(--darkmode-background) !important;
}
.dark #hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children .tree-node-container:only-child::before, .dark #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children .tree-node-container:only-child::before {
  border-bottom: 5rem solid var(--darkmode-background);
  border-left: 27px solid var(--darkmode-background);
  top: 0;
}
.dark #hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:not(.tree-node--children:empty), .dark #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:not(.tree-node--children:empty) {
  border-left: 1px solid var(--line-color-dark);
}
.dark #hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:not(.tree-node--children:empty)::before, .dark #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:not(.tree-node--children:empty)::before {
  content: "";
  padding-right: 24px;
  padding-top: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -0.15rem;
  height: 1rem;
  border-top: unset;
  border-right: unset;
  border-bottom: 1px solid var(--line-color-dark);
  border-left: 4px solid var(--darkmode-background);
}
.dark #hierarchy-editor [data-rem-container-tags~=tree] div.tree-node--children:not(.tree-node--children:empty)::after, .dark #hierarchy-editor [data-rem-container-tags~=treec] div.tree-node--children:not(.tree-node--children:empty)::after {
  content: "";
  padding-right: 24px;
  padding-top: 0;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -0.15rem;
  height: 1rem;
  border-bottom: unset;
  border-right: unset;
  border-top: 1px solid var(--line-color-dark);
  border-left: 4px solid var(--darkmode-background);
}

[data-rem-container-tags~=treec] {
  border: 0.1rem solid var(--line-color);
  border-radius: 4px;
}

.dark [data-rem-container-tags~=treec] {
  border: 0.1rem solid var(--line-color-dark);
}

[data-rem-container-tags~=tree][data-rem-container-tags~=w100] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec][data-rem-container-tags~=w100] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 100px;
}
[data-rem-container-tags~=tree][data-rem-container-tags~=w200] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec][data-rem-container-tags~=w200] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 200px;
}
[data-rem-container-tags~=tree][data-rem-container-tags~=w300] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec][data-rem-container-tags~=w300] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 300px;
}
[data-rem-container-tags~=tree][data-rem-container-tags~=w400] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec][data-rem-container-tags~=w400] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 400px;
}
[data-rem-container-tags~=tree][data-rem-container-tags~=w500] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec][data-rem-container-tags~=w500] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 500px;
}
[data-rem-container-tags~=tree][data-rem-container-tags~=w600] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec][data-rem-container-tags~=w600] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 600px;
}
[data-rem-container-tags~=tree][data-rem-container-tags~=w700] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec][data-rem-container-tags~=w700] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 700px;
}
[data-rem-container-tags~=tree][data-rem-container-tags~=w800] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec][data-rem-container-tags~=w800] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 800px;
}
[data-rem-container-tags~=tree][data-rem-container-tags~=w900] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec][data-rem-container-tags~=w900] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 900px;
}
[data-rem-container-tags~=tree][data-rem-container-tags~=w1000] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec][data-rem-container-tags~=w1000] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 1000px;
}
[data-rem-container-tags~=tree] [data-rem-container-tags~=w100] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w100] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 100px;
}
[data-rem-container-tags~=tree] [data-rem-container-tags~=w200] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w200] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 200px;
}
[data-rem-container-tags~=tree] [data-rem-container-tags~=w300] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w300] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 300px;
}
[data-rem-container-tags~=tree] [data-rem-container-tags~=w400] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w400] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 400px;
}
[data-rem-container-tags~=tree] [data-rem-container-tags~=w500] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w500] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 500px;
}
[data-rem-container-tags~=tree] [data-rem-container-tags~=w600] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w600] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 600px;
}
[data-rem-container-tags~=tree] [data-rem-container-tags~=w700] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w700] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 700px;
}
[data-rem-container-tags~=tree] [data-rem-container-tags~=w800] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w800] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 800px;
}
[data-rem-container-tags~=tree] [data-rem-container-tags~=w900] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w900] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 900px;
}
[data-rem-container-tags~=tree] [data-rem-container-tags~=w1000] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w1000] > div.tree-node--children > div.animate-zoom-into-bullet > div.tree-node--parent {
  min-width: 1000px;
}
[data-rem-container-tags~=tree][data-rem-container-tags~=w300] > div.tree-node--children, [data-rem-container-tags~=tree][data-rem-container-tags~=w600] > div.tree-node--children, [data-rem-container-tags~=tree][data-rem-container-tags~=w900] > div.tree-node--children,
[data-rem-container-tags~=tree] [data-rem-container-tags~=w300] > div.tree-node--children,
[data-rem-container-tags~=tree] [data-rem-container-tags~=w600] > div.tree-node--children,
[data-rem-container-tags~=tree] [data-rem-container-tags~=w900] > div.tree-node--children,
[data-rem-container-tags~=treec][data-rem-container-tags~=w300] > div.tree-node--children,
[data-rem-container-tags~=treec][data-rem-container-tags~=w600] > div.tree-node--children,
[data-rem-container-tags~=treec][data-rem-container-tags~=w900] > div.tree-node--children,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w300] > div.tree-node--children,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w600] > div.tree-node--children,
[data-rem-container-tags~=treec] [data-rem-container-tags~=w900] > div.tree-node--children {
  overflow-x: unset;
  white-space: unset;
}