:root {
	--font-size-header-1: 32px;
	--font-size-header-2: 24px;
	--font-size-header-3: 20px;
}
/*********** All Notes Section ***********/
    .css-jlRuPl, 
    .css-jlRuPl .inline-block, 
    .css-jlRuPl .tumbnail--with-width,
    .css-dcfFHl .inline-block,
    .css-dcfFHl .tumbnail--with-width {
        height: 1em !important;
        min-width: auto !important;
        width: auto !important;
        padding-right: 2px;
    }
/*********** Card Browser ***********/
    .ReactVirtualized__Table__rowColumn .inline-block,
    .ReactVirtualized__Table__rowColumn .inline-block.align-text-top.group,
    .ReactVirtualized__Table__rowColumn .image-node,
    .ReactVirtualized__Table__rowColumn .tumbnail--with-width {
        height: 1em;
        width: auto !important;
        min-width: auto !important;
        padding-right: 2px;
    }
/*********** Queue ***********/
    .spaced-repetition__prompt__breadcrumbs .inline-block,
    .spaced-repetition__prompt__breadcrumbs .tumbnail--with-width {
        height: 1em !important;
        width: auto !important;
        min-width: auto !important;
        padding-right: 2px;
    }
    
    .rem-bullet__document .inline-block,
    .rem-bullet__document .inline-block.align-text-top.group,
    .rem-bullet__document .react-transform-component,
    .rem-bullet__document .image-node,
    .rem-bullet__document .tumbnail--with-width {
        width: auto !important;
        min-width: auto !important;
        max-width: auto !important;
    }
    
    .rem-bullet__document > span > div {
        display: inline;
     }
    
    .Queue .spaced-repetition__prompt [data-rmiz-wrap="visible"] {
        height: 1em !important;
        width: auto !important;
    }
/*********** Document Title ***********/
    #DocumentTitle .inline-block, 
    #DocumentTitle .tumbnail--with-width {
        min-height: 1em !important;
        width: auto !important;
        min-width: auto !important;
    }
/*********** Page Hierarchy  ***********/
    .document-header-top-bar .inline-block, 
    .document-header-top-bar .tumbnail--with-width {
        height: 1em;
        width: auto;
        min-width: auto !important;
        padding-right: 2px;
        color: #2B3137;
    }
/*********** Hidden Page Hierarchy Style ***********/
    .RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable .inline-block {
        height: 1em;
        width: auto;
        min-width: auto !important;
        padding-right: 2px;
    }
/*********** Document Sidebar ***********/
    #document-sidebar .inline-block,
    #document-sidebar .tumbnail--with-width {
        height: 1.2em !important;
        width: auto !important;
        min-width: auto !important;
        padding-right: 0px;
    }
/*********** Document Hidden children ***********/
    .hierarchy-editor__hidden-children .rem-header--1 .inline-block,
    .hierarchy-editor__hidden-children .rem-header--1 .tumbnail--with-width {
        height: 1em !important;
        width: auto !important;
        min-width: auto !important;
        margin-right: 2px;
    }
/*********** Popup ***********/
    /* Header 1 */
        #document-hover-preview__popup .rem-header--1 .inline-block,
        #document-hover-preview__popup .rem-header--1 .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            margin-right: 2px;
        }
    /* Header 2 */
        #document-hover-preview__popup .rem-header--2 .inline-block,
        #document-hover-preview__popup .rem-header--2 .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            margin-right: 2px;
        }
    /* Header 3 */
        #document-hover-preview__popup .rem-header--3 .inline-block,
        #document-hover-preview__popup .rem-header--3 .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            margin-right: 2px;
        }
    /* Image Thumbnail Tag */
        [data-rem-tags*="tn"] #document-hover-preview .inline-block, 
        [data-rem-tags*="tn"] #document-hover-preview .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            padding-right: 2px;
        }
    /* Portal */
        .portal-tree-node-box .rem-text .inline-block,
        .portal-tree-node-box .rem-text .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            margin-right: 2px;
        }
    /* Tag bar */
        .rem.isSearchResult .hierarchy-editor__tag-bar .inline-block,
        .rem.isSearchResult .hierarchy-editor__tag-bar .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            margin-right: 2px;
        }
    /* Reference */
        #document-hover-preview__popup > span [class*="inline-block"],
        #document-hover-preview__popup .bold .inline-block,
        #document-hover-preview__popup .bold .tumbnail--with-width,
        .popup-menu.fixed .popup-menu__item--static .inline-block, 
        .popup-menu.fixed .popup-menu__item--static .tumbnail--with-width,
        .EditorContainer.EditorContainerInline .tumbnail--with-width,
        .RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable .inline-block,
        .RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable .tumbnail--with-width
        {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            margin-right: 2px;	
        }
        
        .EditorContainer.EditorContainerInline .tumbnail--with-width {color: #2B3137;}
/*********** Header & Normal Rem-Text with "tn" Tag***********/
    /* Header 1 */
        .rem-header--1 .inline-block,
        .rem-header--1 .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            margin-right: 3px;
        }
    /* Header 2 */
        .rem-header--2 .inline-block,
        .rem-header--2 .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            margin-right: 2px;
        }
    /* Header 3 */
        .rem-header--3 .inline-block,
        .rem-header--3 .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            margin-right: 2px;
        }
    /* Normal Rem-text with Thumbnail(TN) tag */
        [data-rem-tags*="tn"] .inline-block,
        [data-rem-tags*="tn"] .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            margin-right: 1px;
        }
/*********** Tag bar ***********/
    #DropToOpenAsDocument .inline-block, 
    #DropToOpenAsDocument .tumbnail--with-width {
        height: 1em !important;
        width: auto !important;
        min-width: auto !important;
        padding-right: 2px;
    }
    .hierarchy-editor__tag-bar__tag span,
    .hierarchy-editor__tag-bar__tag .tumbnail--with-width,
    .hierarchy-editor__tag-bar__tag .inline-block,
    .hierarchy-editor__tag-bar__tag .inline-block.align-text-top.group {
        height: 1rem !important;
        width: auto !important;
        min-width: auto !important;
    }
    .fade-on-hide-ui .inline-block {
        height: 1rem !important;
        width: auto !important;
        min-width: auto !important;
    }
/*********** Search Result ***********/
    /* Global Search Result (⌘+P Window) */
        .css-ZPdGi .inline-block, 
        .css-ZPdGi .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            padding-right: 2px;
        }
	/* Search Popup Page */
        .css-ZPdGi {
            min-width: 80%;
            min-height: 80%;
        }
        .css-fUqRpZ .inline-block, 
        .css-fUqRpZ .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            padding-right: 2px;
        }
    /* Tag Search Result */
        .search-result__rem-breadcrumbs .inline-block, 
        .search-result__rem-breadcrumbs .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
        }
/*********** Portal ***********/  
    /* Portal Popup for Hidden rems */
        #search-results__result .inline-block,
        #search-results__result .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
            padding-right: 2px;
        }
    /* Portal-Tree-Node-Box (Tagged Rem Box ...) */
        .portal-tree-node-box .rem-text .inline-block, 
        .portal-tree-node-box .rem-text .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
        }
        .portal-tree-node-box .rem-text.rem-header--1 .inline-block, 
        .portal-tree-node-box .rem-text.rem-header--1 .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
        }
        .portal-tree-node-box .rem-text.rem-header--2 .inline-block, 
        .portal-tree-node-box .rem-text.rem-header--2 .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
        }
        .portal-tree-node-box .rem-text.rem-header--3 .inline-block, 
        .portal-tree-node-box .rem-text.rem-header--3 .tumbnail--with-width {
            height: 1em !important;
            width: auto !important;
            min-width: auto !important;
        }
/*********** Rem Reference ***********/
    .rem-reference .inline-block,
    .rem-reference .tumbnail--with-width {
        height: 1em !important;
        width: auto !important;
        min-width: auto !important;
        margin-top: 1px;
    }
    
    #document-hover-preview__popup #hierarchy-editor .inline-block, 
	#document-hover-preview__popup #hierarchy-editor .tumbnail--with-width, 
	#document-hover-preview__popup #hierarchy-editor .rem-reference .inline-block, 
	#document-hover-preview__popup #hierarchy-editor .rem-reference .tumbnail--with-width {
	    height: auto; /* Do not change this */
	    width: auto !important;
	    min-width: auto !important;
	}
    
    #document-hover-preview__popup .inline-block, 
	#document-hover-preview__popup .tumbnail--with-width, 
	#document-hover-preview__popup .rem-reference .inline-block, 
	#document-hover-preview__popup .rem-reference .tumbnail--with-width {
	    height: 1em;
	    width: auto !important;
	    min-width: auto !important;
	}
    
    .RichTextViewer.notIncludedAncestor.notIncludedAncestorClickable .inline-block {
        height: 1em;
        width: auto !important;
        min-width: auto !important;
    }
    
    .popup-menu .inline-block,
	.popup-menu .inline-block.align-text-top.group,
	.popup-menu .tumbnail--with-width,
	.popup-menu .image-node {
		height: 1em;
		width: auto !important;
		min-width: auto !important;
		display: inline-block;
	}
	
	.popup-menu .inline-block,
	.popup-menu .inline-block.align-text-top.group,
	.popup-menu .tumbnail--with-width,
	.popup-menu .image-node {
		height: 1em;
		width: auto !important;
		min-width: auto !important;
		display: inline-block;
	}
	
	/* Rem reference normal rem-text thumbnail adjustment */
	.rem-text:not(.rem-header--1):not(.rem-header--2):not(.rem-header--3) .rem-reference .inline-block,
	.rem-text:not(.rem-header--1):not(.rem-header--2):not(.rem-header--3) .rem-reference .inline-block.align-text-top.group,
	.rem-text:not(.rem-header--1):not(.rem-header--2):not(.rem-header--3) .rem-reference .tumbnail--with-width,
	.rem-text:not(.rem-header--1):not(.rem-header--2):not(.rem-header--3) .rem-reference .image-node {
	    position: relative;
	    top: -0.05em;
	} 
/*********** Hyperlink Favicon ***********/
    .LinkNode img {
        height: 1em;
        width: auto;
        padding-right: 3px;
    } 