/*********** Flashcard ***********/
.Queue .indented-rem div {
	min-width: 100% !important;
}

.Queue .inline-block,
.Queue .tumbnail--with-width {
	min-width: fit-content !important;
	height: auto !important;
	max-height: 100% !important;
	overflow: auto;
	white-space: pre;
}

/*********** Original Image ***********/
[data-rem-tags~="card-item"] .inline-block,
[data-rem-tags~="card-item"] .tumbnail--with-width {
	min-width: fit-content;
	height: auto !important;
	max-height: 100% !important;
}

[data-rem-tags~="ori"] .bg-blue-100.border-2 {
	display: none;
}

[data-rem-tags~="ori"] {
	overflow: auto;
	white-space: pre;
}

[data-rem-tags~="ori"] .inline-block,
[data-rem-tags~="ori"] .tumbnail--with-width {
	min-width: fit-content;
	height: auto !important;
	max-height: 100% !important;
}

[data-rem-tags~="ori"] .items-center.hierarchy-editor__tag-bar__tag {
	background-color: transparent;
}

[data-rem-tags~="ori"] .hierarchy-editor__tag-bar__tag span {
	display: none;
}