/*********** Get Original Image While Reviewing ***********/
.Queue .indented-rem div {
	min-width: 100% !important;
}

.Queue .inline-block,
.Queue .tumbnail--with-width {
	min-width: fit-content !important;
	height: auto !important;
	max-height: 100% !important;
	overflow: auto;
	white-space: pre;
}

/*********** Get Original Image While Editing ***********/
[data-rem-tags~="ori"] .inline-block {
	min-width: fit-content;
	height: auto !important;
	max-height: 100% !important;
}


/*********** Tag Declutter ***********/
[data-rem-tags~="ori"] .items-center.hierarchy-editor__tag-bar__tag {
	background-color: transparent;
}

[data-rem-tags~="ori"] .hierarchy-editor__tag-bar__tag span {
	display: none;
}