/*********** Full Size Flashcard ***********/
.Queue {
    width: calc(100% - 15%) !important;
    min-height: calc(100% - 20%) !important;
}

.Queue .indented-rem div {
	min-width: 100% !important;
}

.Queue .inline-block,
.Queue .tumbnail--with-width {
	min-width: fit-content !important;
	height: auto !important;
	max-height: 100% !important;
}

/*********** Original Image ***********/
[data-rem-tags~="card-item"] .inline-block,
[data-rem-tags~="card-item"] .tumbnail--with-width {
	min-width: fit-content;
	height: auto !important;
	max-height: 100% !important;
}

[data-rem-tags~="ori"] .inline-block,
[data-rem-tags~="ori"] .tumbnail--with-width {
	min-width: fit-content;
	height: auto !important;
	max-height: 100% !important;
}

[data-rem-tags~="ori"] .items-center.hierarchy-editor__tag-bar__tag {
	background-color: transparent;
}

[data-rem-tags~="ori"] .hierarchy-editor__tag-bar__tag span {
	display: none;
}