[data-rem-tags~="strikethrough"] .rem-text .highlight-color--red {
	background-color: unset;
	text-decoration:line-through;
	text-decoration-style: double;
}

[data-rem-tags~="strikethrough"] .hierarchy-editor__tag-bar__tag {
	background-color: transparent;
}

[data-rem-tags~="strikethrough"] .hierarchy-editor__tag-bar__tag span {
	display: none;
}