.tree-node-container[data-rem-container-tags~="table"] 
	> .TreeNode 
	> .tree-node-container {
	border: 0.1em solid black;
}

.tree-node-container[data-rem-container-tags~="table"] 
	> .TreeNode 
	> .tree-node-container:nth-child(n+2) {
	margin-left: -1px;
}

.tree-node-container[data-rem-container-tags~="table"] 
	> .TreeNode 
	> .tree-node-container 
	> div:first-child {
	border-bottom: 0.1em solid black;
	font-weight: bold;
	background-color: #EEEEEB;
	text-align: center;
}

.tree-node-container[data-rem-container-tags~="table"] 
	> .TreeNode {
    display: flex;
}

.tree-node-container[data-rem-container-tags~="table"]
    > .TreeNode
    > .tree-node-container {
    flex: 1 1 0; /* change table width here */
}

.tree-node-container[data-rem-container-tags~="table"] 
	> .TreeNode:not(:hover) .rem-bullet__container {
	visibility: hidden ;
}