:root {
	--console-background-color: #2F3437;
	--terminal-comment-text: #647280;
	--terminal-red-text: #FF7E61;
	--terminal-orange-text: #FCB42E;
	--terminal-yellow-text: #FFFB00;
	--terminal-green-text: #53FC00;
	--terminal-blue-text: #00F9FC;
	--terminal-purple-text: #FF60FE;
}

[data-rem-tags~=terminal] .rem-bullet {
	filter: invert(1);
}

[data-rem-container-tags~=terminal] {
	background-color: #1F1F1F;
	color: #D0D0CD;
	margin-right: 0px;
}
[data-rem-container-tags~=terminal] .TreeNode {
	border-left-color: #373737 !important;
}
[data-rem-container-tags~=terminal] .rem-text {
	font-family: "Roboto Mono", "Fira code", monospace;
	font-size: 0.9em;
}
[data-rem-container-tags~=terminal] .rem-text .quote,
[data-rem-container-tags~=terminal] .rem-text .highlight-color--red,
[data-rem-container-tags~=terminal] .rem-text .highlight-color--orange,
[data-rem-container-tags~=terminal] .rem-text .highlight-color--yellow,
[data-rem-container-tags~=terminal] .rem-text .highlight-color--green,
[data-rem-container-tags~=terminal] .rem-text .highlight-color--blue,
[data-rem-container-tags~=terminal] .rem-text .highlight-color--purple {
	background-color: unset !important;
}
[data-rem-container-tags~=terminal] .rem-text .quote {
	color: var(--terminal-comment-text) !important;
}
[data-rem-container-tags~=terminal] .rem-text .highlight-color--red {
	color: var(--terminal-red-text) !important;
}
[data-rem-container-tags~=terminal] .rem-text .highlight-color--orange {
	color: var(--terminal-orange-text);
}
[data-rem-container-tags~=terminal] .rem-text .highlight-color--yellow {
	color: var(--terminal-yellow-text);
}
[data-rem-container-tags~=terminal] .rem-text .highlight-color--green {
	color: var(--terminal-green-text);
}
[data-rem-container-tags~=terminal] .rem-text .highlight-color--blue {
	color: var(--terminal-blue-text);
}
[data-rem-container-tags~=terminal] .rem-text .highlight-color--purple {
	color: var(--terminal-purple-text);
}

.TreeNode--list--in-card-content {
	border-left: 0.1px solid white !important;
}

[data-rem-tags~=terminal] .hierarchy-editor__tag-bar__tag {
	color: transparent;
	background-color: transparent !important;
}
[data-rem-tags~=terminal] .hierarchy-editor__tag-bar__tag span {
	display: none;
}