:root {
	--console-background-color: #2F3437;
	--terminal-comment-text: #647280;
	--terminal-red-text: #FF7E61;
	--terminal-orange-text: #FCB42E;
	--terminal-yellow-text: #FFFB00;
	--terminal-green-text: #53FC00;
	--terminal-blue-text: #00F9FC;
	--terminal-purple-text: #FF60FE;
}

[data-rem-tags~="terminal"] .EditorContainer {padding-left: 15px;}
[data-rem-tags~="terminal"] .rem-bullet__container {padding-left: 10px;}
[data-rem-tags~="terminal"] .rem-bullet {filter: invert(1);}

div.rem[data-rem-tags~="terminal"] {
	background-color: var(--console-background-color);
	color: #D0D0CD;
    margin-left: 25px;       
    margin-right: 0px;  
}
	[data-rem-tags~="terminal"] .rem-text {
		font-family: "Roboto Mono", "Fira code", monospace !important;
	}

/*********** Terminal Text Color ***********/
	[data-rem-tags~="terminal"] .rem-text .quote {
		background-color: unset;
		color: var(--terminal-comment-text); 
	}
	
	[data-rem-tags~="terminal"] .rem-text .highlight-color--red {
		background-color: unset !important;
		color: var(--terminal-red-text); 
	}
	
	[data-rem-tags~="terminal"] .rem-text .highlight-color--orange {
	 	background-color: unset !important;
	 	color: var(--terminal-orange-text);
	}
	
	[data-rem-tags~="terminal"] .rem-text .highlight-color--yellow {
		background-color: unset !important;
		color: var(--terminal-yellow-text);
	}
	
	[data-rem-tags~="terminal"] .rem-text .highlight-color--green {
		background-color: unset !important;
		color: var(--terminal-green-text);
	}
	
	[data-rem-tags~="terminal"] .rem-text .highlight-color--blue {
		background-color: unset !important;
		color: var(--terminal-blue-text);
	}
	
	[data-rem-tags~="terminal"] .rem-text .highlight-color--purple {
		background-color: unset !important;
		color: var(--terminal-purple-text);
	} 
	
	.TreeNode--list--in-card-content {
		border-left: 0.1px solid white !important;
	}

/*********** Declutter Tag ***********/
	[data-rem-tags~="terminal"] .hierarchy-editor__tag-bar__tag {
		color: transparent;
		background-color: transparent;
	}
	
	[data-rem-tags~="terminal"] .hierarchy-editor__tag-bar__tag span {display: none;}
	[data-rem-tags~="terminal"] .items-center.hierarchy-editor__tag-bar__tag {background-color: transparent !important;}