:root {
  --nobullet-triangle: #000;
  --nobullet-triangle-dark: #d4d4da;
  --nobullet-quote-bg: #f4f4fb;
  --nobullet-quote-bg-dark: #2b2b34;
  --nobullet-quote-border: #222;
  --nobullet-quote-border-dark: #666;
}

.hierarchy-editor--ltr {
  .TreeNode,
  .TreeNode--list {
    margin-left: 1rem;
  }
}

%rmvTag {
  .hierarchy-editor__tag-bar__tag {
    background-color: transparent !important;
    span {
      display: none;
    }
    .rn-tag__close {
      opacity: 0.3;
    }
  }
}

@mixin hiddenChildrenTriangle($left, $color) {
  content: "";
  display: block;
  position: relative;
  left: $left;
  width: 0;
  height: 0;
  border-top: 0.35rem solid transparent;
  border-left: 0.35rem solid $color;
  border-bottom: 0.35rem solid transparent;
  border-radius: 25px;
  pointer-events: none;
}

@mixin visibleBulletCore($color) {
  .perfect-circle__inner {
    visibility: visible;
    .rem-bullet__core {
      fill: $color;
    }
  }
}

@mixin relativeLeft($left) {
  position: relative;
  left: $left;
}

@mixin nobullet($nobullet-triangle, $nobullet-quote-bg, $nobullet-quote-border) {
  .rn-rem-icon-bullet.rn-rem-bullet--hidden-children {
    &::after {
      @include hiddenChildrenTriangle(1rem, $nobullet-triangle);
    }
  }

  .perfect-circle.rn-rem-bullet--hidden-children {
    &::after {
      @include hiddenChildrenTriangle(1.5rem, $nobullet-triangle);
    }
  }

  [data-rem-container-tags~="quote"] {
    left: 1.5rem !important;
    background: $nobullet-quote-bg;
    border-left: 4px solid $nobullet-quote-border;
    width: calc(100% - 1.75rem);

    .rn-quote-content {
      --rn-quote-offset: unset !important;
      border-left: unset;

      .toggle-collapse-button {
        left: 1rem;
        background-color: unset !important;
      }
    }
  }
  #document {
    .tree-node--parent {
      > [data-rem-tags~="bulletlist"] {
        margin-left: 1rem;
        @extend %rmvTag;
        @include visibleBulletCore($nobullet-triangle);
      }
    }

    [data-rem-container-tags~="bulletlists"] {
      @extend %rmvTag;

      .tree-node--children {
        .rem {
          margin-left: 1rem;

          .rn-bullet-container {
            left: unset;
          }

          .perfect-circle {
            @include visibleBulletCore($nobullet-triangle);
          }
        }

        .toggle-collapse-button {
          left: unset;
        }

        .tree-node--parent {
          .rem {
            .perfect-circle.rn-rem-bullet--hidden-children {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@include nobullet(var(--nobullet-triangle), var(--nobullet-quote-bg), var(--nobullet-quote-border));
.dark {
  @include nobullet(var(--nobullet-triangle-dark), var(--nobullet-quote-bg-dark), var(--nobullet-quote-border-dark));
}

$scaling-values: (
  header-1: 2,
  header-2: 1.5,
  header-3: 1.25,
);

@each $header, $scale in $scaling-values {
  .rem-container--#{$header} {
    .rem-button__container {
      .rn-bullet-container {
        > span {
          > span {
            transform: scale($scale);
          }
        }
      }
    }
  }
}

.rem-button__container {
  .rn-bullet-container {
    > span {
      display: flex;
      align-items: center;
    }

    &:has(.rn-rem-bullet--hidden-children) {
      @include relativeLeft(-1.5rem);
    }
  }
  .toggle-collapse-button {
    @include relativeLeft(1rem);
    background-color: unset;
    margin-right: unset !important;
  }
}

[data-rem-tags~="document"] {
  .toggle-collapse-button {
    left: 1.35rem;
  }

  .rn-rem-icon-bullet {
    background-color: unset;
    border-style: unset;
    display: flex;
    align-items: center;
  }

  .tree-node--parent {
    .perfect-circle.rn-rem-bullet--hidden-children::after {
      left: 1.2rem;
    }
  }
}

[data-rem-tags~="list-item"] {
  .toggle-collapse-button {
    z-index: 2;
    background-color: transparent;
    opacity: 0.5;
  }
}

.rn-editor-container {
  .tree-node--parent {
    &:has(.toggle-collapse-button) {
      &:hover {
        .rn-bullet-container {
          @include relativeLeft(-1.5rem);
        }
      }
    }
  }
}

.rem:not(:hover) .perfect-circle__inner {
  visibility: hidden;
}

.rn-rem-icon-bullet {
  background-color: unset;

  &.rn-rem-bullet--hidden-children {
    svg[data-icon="document"],
    svg[data-icon="folder"] {
      position: relative;
      left: 0.2rem;
    }
  }
}

// patch for 1.13.36
.hierarchy-editor--ltr {
  .rn-editor-container:not(.is-explicit-folder-and-root-explicit-folder) {
    .TreeNode,
    .TreeNode--list {
      margin-left: 1.6rem;
      padding-left: unset;
    }

    .TreeNode.portal-tree-node-box--tag-list-automatic {
      margin-left: 1.6rem !important;
    }
  }
}

.node-card-item:before {
  margin-left: unset;
}
