:root {
  --ref-text: #000;
  --ref-text-dark: #DFDFD5;
  --ref-bg: #F7F6F3;
  --ref-bg-dark: #282C30;
  --alias-border: #CACAD9;
  --alias-border-dark: #747474;
  --alias-bg: #ECECEC;
  --alias-bg-dark: #252525;
}

.work-in-progress-rem {
  color: var(--ref-text);
}

[data-rem-container-property~=aliases] {
  border-radius: 4px;
  background-color: var(--alias-bg);
  box-shadow: 1px 1px 2px #AAA;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
[data-rem-container-property~=aliases] [data-rem-property~=aliases] .rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children {
  width: 0.7rem;
}
[data-rem-container-property~=aliases] .rem-reference {
  display: inline-flex;
  align-items: center;
}
[data-rem-container-property~=aliases] > .tree-node--children [data-rem-container-tags~=list-item] .tree-node--parent [data-rem-tags~=list-item] .rem-text span.rem-powerup-icon .text-icon {
  top: 0.2rem;
}

.dark .work-in-progress-rem {
  color: var(--ref-text-dark);
}
.dark [data-rem-container-property~=aliases] {
  border-radius: 4px;
  background-color: var(--alias-bg-dark);
  box-shadow: 1px 1px 5px #4E4E4E;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.dark [data-rem-container-property~=aliases] [data-rem-property~=aliases] .rem-button__container .rem-bullet__container .rem-bullet.rem-bullet--hidden-children {
  width: 0.7rem;
}
.dark [data-rem-container-property~=aliases] .rem-reference {
  display: inline-flex;
  align-items: center;
}
.dark [data-rem-container-property~=aliases] > .tree-node--children [data-rem-container-tags~=list-item] .tree-node--parent [data-rem-tags~=list-item] .rem-text span.rem-powerup-icon .text-icon {
  top: 0.2rem;
}