:root {
  --both-practice-color: #FFA344;
  --forward-practice-color: #FF2600;
  --forward-practice-color-dark: #E0CD00;
  --backward-practice-color: #D783FF;
  --disabled-practice-color: #959595;
  --no-practice-color: #959595;
}

.rem-container--default_type-rem-type.rem-container--forwards-practice-enabled .rem-bullet,
.rem-container--default_type-rem-type.rem-container--backwards-practice-enabled .rem-bullet,
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled .rem-bullet {
  background: var(--no-practice-color);
  width: 1em;
  height: 1em;
  -webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Basic3.svg");
  mask-image: url("https://browneyedsoul.github.io/ImageRepository/Basic3.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-enabled .rem-bullet .perfect-circle__inner,
.rem-container--default_type-rem-type.rem-container--backwards-practice-enabled .rem-bullet .perfect-circle__inner,
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled .rem-bullet .perfect-circle__inner {
  opacity: 0;
}

.rem-container--default_type-rem-type.rem-container--forwards-practice-enabled .rem-bullet.rem-bullet--hidden-children, .rem-container--default_type-rem-type.rem-container--backwards-practice-enabled .rem-bullet.rem-bullet--hidden-children, .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled .rem-bullet.rem-bullet--hidden-children {
  background: var(--no-practice-color);
  width: 1em;
  height: 1em;
  -webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
  mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: relative;
  left: -3px;
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-enabled .rem-bullet.rem-bullet--hidden-children .perfect-circle__inner, .rem-container--default_type-rem-type.rem-container--backwards-practice-enabled .rem-bullet.rem-bullet--hidden-children .perfect-circle__inner, .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled .rem-bullet.rem-bullet--hidden-children .perfect-circle__inner {
  opacity: 0;
}

.rem-container--concept-rem-type .rem-bullet {
  background: var(--no-practice-color);
  width: 1em;
  height: 1em;
  -webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
  mask-image: url("https://browneyedsoul.github.io/ImageRepository/Concept.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.rem-container--concept-rem-type .rem-bullet .perfect-circle__inner {
  opacity: 0;
}
.rem-container--concept-rem-type .rem-bullet.rem-bullet--hidden-children {
  background: var(--no-practice-color);
  width: 1em;
  height: 1em;
  -webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
  mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: relative;
  left: -3px;
}
.rem-container--concept-rem-type .rem-bullet.rem-bullet--hidden-children .perfect-circle__inner {
  opacity: 0;
}

.rem-container--descriptor-rem-type .rem-bullet {
  background: var(--no-practice-color);
  width: 1em;
  height: 0.75em;
  -webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
  mask-image: url("https://browneyedsoul.github.io/ImageRepository/Descriptor.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: relative;
  left: -3px;
}
.rem-container--descriptor-rem-type .rem-bullet .perfect-circle__inner {
  opacity: 0;
}

.rem-container--default_type-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rem-bullet,
.rem-container--concept-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rem-bullet {
  background: var(--both-practice-color);
}
.rem-container--default_type-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol,
.rem-container--default_type-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rn-card-delimiter,
.rem-container--concept-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol,
.rem-container--concept-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rn-card-delimiter {
  color: var(--both-practice-color);
}
.rem-container--default_type-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol > span,
.rem-container--default_type-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rn-card-delimiter > span,
.rem-container--concept-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol > span,
.rem-container--concept-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rn-card-delimiter > span {
  color: var(--both-practice-color);
}
.rem-container--default_type-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rem-bullet,
.rem-container--concept-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rem-bullet {
  background: var(--forward-practice-color);
}
.rem-container--default_type-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol,
.rem-container--default_type-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rn-card-delimiter,
.rem-container--concept-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol,
.rem-container--concept-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rn-card-delimiter {
  color: var(--forward-practice-color);
}
.rem-container--default_type-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol > span,
.rem-container--default_type-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rn-card-delimiter > span,
.rem-container--concept-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol > span,
.rem-container--concept-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rn-card-delimiter > span {
  color: var(--forward-practice-color);
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rem-bullet,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rem-bullet {
  background: var(--backward-practice-color);
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol,
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rn-card-delimiter,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rn-card-delimiter {
  color: var(--backward-practice-color);
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol > span,
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rn-card-delimiter > span,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol > span,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rn-card-delimiter > span {
  color: var(--backward-practice-color);
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet {
  background: var(--disabled-practice-color);
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet.rem-bullet--hidden-children,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet.rem-bullet--hidden-children {
  background: var(--no-practice-color);
  width: 1em;
  height: 1em;
  -webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
  mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: relative;
  left: -3px;
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet.rem-bullet--hidden-children .perfect-circle__inner,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet.rem-bullet--hidden-children .perfect-circle__inner {
  opacity: 0;
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol,
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rn-card-delimiter,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rn-card-delimiter {
  color: var(--disabled-practice-color);
}
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol > span,
.rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rn-card-delimiter > span,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol > span,
.rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rn-card-delimiter > span {
  color: var(--disabled-practice-color);
}

.dark .rem-container--default_type-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rem-bullet,
.dark .rem-container--concept-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rem-bullet {
  background: var(--both-practice-color);
}
.dark .rem-container--default_type-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol,
.dark .rem-container--default_type-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rn-card-delimiter,
.dark .rem-container--concept-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol,
.dark .rem-container--concept-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rn-card-delimiter {
  color: var(--both-practice-color);
}
.dark .rem-container--default_type-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol > span,
.dark .rem-container--default_type-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rn-card-delimiter > span,
.dark .rem-container--concept-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .separator-symbol > span,
.dark .rem-container--concept-rem-type.rem-container--backwards-practice-enabled.rem-container--forwards-practice-enabled .rn-card-delimiter > span {
  color: var(--both-practice-color);
}
.dark .rem-container--default_type-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rem-bullet,
.dark .rem-container--concept-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rem-bullet {
  background: var(--forward-practice-color-dark);
}
.dark .rem-container--default_type-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol,
.dark .rem-container--default_type-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rn-card-delimiter,
.dark .rem-container--concept-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol,
.dark .rem-container--concept-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rn-card-delimiter {
  color: var(--forward-practice-color-dark);
}
.dark .rem-container--default_type-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol > span,
.dark .rem-container--default_type-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rn-card-delimiter > span,
.dark .rem-container--concept-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .separator-symbol > span,
.dark .rem-container--concept-rem-type.rem-container--backwards-practice-disabled.rem-container--forwards-practice-enabled .rn-card-delimiter > span {
  color: var(--forward-practice-color-dark);
}
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rem-bullet,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rem-bullet {
  background: var(--backward-practice-color);
}
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol,
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rn-card-delimiter,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rn-card-delimiter {
  color: var(--backward-practice-color);
}
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol > span,
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rn-card-delimiter > span,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .separator-symbol > span,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-enabled .rn-card-delimiter > span {
  color: var(--backward-practice-color);
}
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet {
  background: var(--disabled-practice-color);
}
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet.rem-bullet--hidden-children,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet.rem-bullet--hidden-children {
  background: var(--no-practice-color);
  width: 1em;
  height: 1em;
  -webkit-mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
  mask-image: url("https://browneyedsoul.github.io/ImageRepository/List.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: relative;
  left: -3px;
}
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet.rem-bullet--hidden-children .perfect-circle__inner,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rem-bullet.rem-bullet--hidden-children .perfect-circle__inner {
  opacity: 0;
}
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol,
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rn-card-delimiter,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rn-card-delimiter {
  color: var(--disabled-practice-color);
}
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol > span,
.dark .rem-container--default_type-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rn-card-delimiter > span,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .separator-symbol > span,
.dark .rem-container--concept-rem-type.rem-container--forwards-practice-disabled.rem-container--backwards-practice-disabled .rn-card-delimiter > span {
  color: var(--disabled-practice-color);
}