#Popup {
  .rn-popup {
    height: unset;
    max-height: unset;
    &:has([data-cy="omnibar"]) {
      position: absolute;
      bottom: 0;
      width: 100vw;
      // max-height: 100vh;
      max-width: 100vw;
      overflow: unset !important;
    }
    &:has(.rn-settings) {
      border: 2px solid #999;
    }
    .rn-popup--top {
      align-self: flex-end;
    }
    .rn__search_omnibar--footer {
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
    }
    [data-cy~="omnibar"] {
      border-radius: unset !important;
      width: 100vw !important;
      max-width: unset !important;
      max-height: 60vh;
      margin-top: unset;
      > div:first-child:not(.rn-omnibar__top-bar) {
        > .overflow-hidden {
          > span {
            @media screen and (max-width: 768px) {
              white-space: pre-wrap;
            }
            white-space: pre;
          }
        }
      }
    }

    #search-results__result {
      #result_breadcrumbs {
        @media screen and (max-width: 768px) {
          display: none;
        }
        position: absolute;
        opacity: 0.5;
        right: 1rem;
      }
      > div {
        &:has(> [data-category="Text in Document"]) {
          display: none;
        }
        > div {
          > div.group {
            // item Limit height
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            .box-border {
              > img {
                width: 100%;
                height: 1em;
                object-fit: unset;
                aspect-ratio: unset;
              }
            }
            > .items-start {
              align-items: center;
            }
          }
        }
      }
      .search-result-text-container {
        .query-search-wrapper {
          > span {
            padding-left: unset;
            padding-right: unset;
          }
          + .inline-code {
            padding-left: unset;
            padding-right: unset;
          }
        }
      }
    }
  }
}
[data-cy~="omnibar"] {
  border-top: 0.25rem solid #e2e2e2;
}
.dark [data-cy~="omnibar"] {
  border-top: 0.25rem solid #444;
}
[data-remopt-title] [data-cy="rn-clr-content-primary"] {
  color: red;
  font-weight: 600;
}
.dark [data-remopt-title] [data-cy="rn-clr-content-primary"] {
  color: #0ae5e9;
}

.query-search-wrapper {
  > span {
    background-color: #ffffa6;
  }
}
.dark {
  .query-search-wrapper {
    > span {
      color: #ffef00;
      background-color: #700000;
    }
  }
}